<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
		<link rel="stylesheet" href="/material-icons/iconfont/material-icons.css" />
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/theme/default.css" />
		<link rel="stylesheet" href="/stylesheets/testbuilder/style.css" />
		<script src="/jquery/dist/jquery.js"></script>
		<script src="/popper.js/dist/umd/popper.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.js"></script>
		<script src="/bootstrap-select/dist/js/bootstrap-select.js"></script>
		<script src="/datatables.net/js/jquery.dataTables.js"></script>
		<script src="/datatables.net-responsive/js/dataTables.responsive.js"></script>
		<script src="/tinymce/tinymce.js"></script>
  </head>
  <body>
		<div class="app-header">
			<nav class="navbar">
				<div class="company-info">
					<button class="btn btn-icon btn-app-drawer" type="button">
						<span class="material-icons">menu</span>
					</button>
					<a class="navbar-brand" href="/">
						<img alt="Marshall Cavendish Online" src="/images/mce-white-logo.png">
					</a>
					<div class="navbar-text">
						Edno Training - EDTGP (Pri)
					</div>
				</div>
				<ul class="navbar-nav">
					<li class="nav-item dropdown dropdown-apps d-none">
						<button class="btn btn-icon" type="button" data-toggle="dropdown">
							<span class="material-icons">apps</span>
						</button>
						<div class="dropdown-menu">
							<div class="panel">
								<div class="header">
									<h6 class="header-text">
										Home
									</h6>
								</div>
								<ul class="nav">
									<li class="nav-item">
										<a class="nav-link" href="#">My Assignments</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">National Library Board - eResources</a>
									</li>
								</ul>
							</div>
							<div class="panel">
								<div class="header">
									<h6 class="header-text">
										Collaboration
									</h6>
								</div>
								<div class="panel-group">
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												Blog
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="#">Blogs</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">My Blog</a>
											</li>
										</ul>
									</div>
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												E-Portfolio
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="#">My Portfolio</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Folio Bank</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Rubrics</a>
											</li>
										</ul>
									</div>
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												Podcast
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="#">Posted Podcasts</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">My Podcasts</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="header">
									<h6 class="header-text">
										My Tools
									</h6>
								</div>
								<div class="panel-group">
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												Test Builder
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="/tests">My Tests</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Track Tests</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Test Bank</a>
											</li>
										</ul>
									</div>
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												Lesson Builder
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="#">My Lessons</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Track Lessons</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Lesson Bank</a>
											</li>
										</ul>
									</div>
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												Registration Form
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="#">My Forms</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Track Forms</a>
											</li>
										</ul>
									</div>
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												Rubrics
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="#">My Rubrics</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Rubric Bank</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel">
								<div class="header">
									<h6 class="header-text">
										School Admin
									</h6>
								</div>
								<div class="panel-group">
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												Badges
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="#">My Badges</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Award Badge</a>
											</li>
										</ul>
									</div>
									<div class="panel">
										<div class="header">
											<h6 class="header-text">
												Administration
											</h6>
										</div>
										<ul class="nav">
											<li class="nav-item">
												<a class="nav-link" href="#">Login to Student Account</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Login to Teacher Account</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Reset Student Account</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">Reset Teacher Account</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#">User Admin</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown dropdown-notifications">
						<button class="btn btn-icon" type="button" data-toggle="dropdown">
							<span class="material-icons">notifications</span>
						</button>
						<div class="dropdown-menu">
							<div class="panel">
								<div class="header">
									<h6 class="header-text">
										Notifications
									</h6>
								</div>
								<div class="notifications">
									<div class="list-group list-group-flush">
										<a class="list-group-item list-group-item-action" href="#">
											<div class="user-avatar">
												<span class="material-icons">person</span>
											</div>
											<div class="notification">
												<div class="notification-message">
													<span class="user-name">Jessica Caruso</span>
													assigned you a lesson to learn.
												</div>
												<div class="text-secondary date">
													2 min ago
												</div>
											</div>
										</a>
										<a class="list-group-item list-group-item-action" href="#">
											<div class="user-avatar">
												<span class="material-icons">person</span>
											</div>
											<div class="notification">
												<div class="notification-message">
													<span class="user-name">Joel King</span>
													assigned you a quiz to practice.
												</div>
												<div class="text-secondary date">
													3 hours ago
												</div>
											</div>
										</a>
										<a class="list-group-item list-group-item-action" href="#">
											<div class="user-avatar">
												<span class="material-icons">person</span>
											</div>
											<div class="notification">
												<div class="notification-message">
													<span class="user-name">John Doe</span>
													share a lesson to you to review.
												</div>
												<div class="text-secondary date">
													5 hours ago
												</div>
											</div>
										</a>
										<a class="list-group-item list-group-item-action" href="#">
											<div class="user-avatar">
												<span class="material-icons">person</span>
											</div>
											<div class="notification">
												<div class="notification-message">
													<span class="user-name">Emily Carter</span>
													share a quiz to you to review.
												</div>
												<div class="text-secondary date">
													1 day ago
												</div>
											</div>
										</a>
									</div>
								</div>
								<a class="btn btn-block" href="#">
									View all notifications
								</a>
							</div>
						</div>
					</li>
					<li class="nav-item dropdown dropdown-user">
						<button class="btn btn-icon" type="button" data-toggle="dropdown">
							<span class="material-icons">person</span>
						</button>
						<div class="dropdown-menu">
							<div class="panel">
								<div class="user-info">
									<div class="user-name">Yan Naung Soe</div>
									<div class="user-email">naungsoe@mceducation.com</div>
								</div>
								<div class="list-group list-group-flush">
									<a class="list-group-item list-group-item-action" href="#">
										<span class="material-icons">person</span>
										<span class="item-text">Profile</span>
									</a>
									<a class="list-group-item list-group-item-action" href="#">
										<span class="material-icons">settings</span>
										<span class="item-text">Settings</span>
									</a>
									<a class="list-group-item list-group-item-action" href="#">
										<span class="material-icons">exit_to_app</span>
										<span class="item-text">Logout</span>
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</nav>
			<nav class="navbar navbar-menu">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
							Home
						</a>
						<ul class="dropdown-menu">
							<li>
								<a class="dropdown-item" href="#">
									<span class="item-text">My Assignments</span>
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<span class="item-text">National Library Board - eResources</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
							Collaboration
						</a>
						<ul class="dropdown-menu">
							<li class="dropright">
								<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
									<span class="item-text">Blog</span>
								</a>
								<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">Blogs</span>
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">My Blog</span>
											</a>
										</li>
								</ul>
							</li>
							<li class="dropright">
								<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
									<span class="item-text">E-Portfolio</span>
								</a>
								<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">My Portfolio</span>
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">Folio Bank</span>
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">Rubrics</span>
											</a>
										</li>
								</ul>
							</li>
							<li class="dropright">
								<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
									<span class="item-text">Podcast</span>
								</a>
								<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">Posted Podcasts</span>
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">My Podcasts</span>
											</a>
										</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
							My Tools
						</a>
						<ul class="dropdown-menu">
							<li class="dropright">
								<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
									<span class="item-text">Test Builder</span>
								</a>
								<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="/tests">
												<span class="item-text">My Tests</span>
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="/tests/track">
												<span class="item-text">Track Tests</span>
											</a>
										</li>
								</ul>
							</li>
							<li class="dropright">
								<a class="dropdown-item dropdown-toggle" href="#" data-toggle="dropdown">
									<span class="item-text">Lesson Builder</span>
								</a>
								<ul class="dropdown-menu">
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">My Lessons</span>
											</a>
										</li>
										<li>
											<a class="dropdown-item" href="#">
												<span class="item-text">Track Lessons</span>
											</a>
										</li>
								</ul>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<span class="item-text">School to Home Notes</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="app-drawer">
			<div class="company-info">
				<a class="brand" href="/">
					<img alt="Marshall Cavendish Online" src="/images/mce-white-logo.png">
				</a>
			</div>
			<div class="panel-group">
				<div class="panel">
					<div class="header">
						<div class="header-text" data-toggle="collapse" data-target="#testBuilder">
							Test Builder
						</div>
					</div>
					<ul class="nav collapse show" id="testBuilder">
						<li class="nav-item">
							<a class="nav-link" href="/tests">
								My Tests
							</a>
						</li
						<li class="nav-item">
							<a class="nav-link" href="#">
								Shared with Me
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Shared by Me
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Track by Tests
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Track by Groups
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Test Bank
							</a>
						</li>
					</ul>
				</div>
				<div class="panel">
					<div class="header">
						<div class="header-text collapsed" data-toggle="collapse" data-target="#assignments">
							Assignments
						</div>
					</div>
					<ul class="nav collapse" id="assignments">
						<li class="nav-item">
							<a class="nav-link" href="#">
								My Assignments
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Track Assignments
							</a>
						</li>
					</ul>
				</div>
				<div class="panel">
					<div class="header">
						<div class="header-text collapsed" data-toggle="collapse" data-target="#collaboration">
							Collaboration
						</div>
					</div>
					<ul class="nav collapse" id="collaboration">
						<li class="nav-item">
							<a class="nav-link" href="#">
								Blog
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								E-Portfolio
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Podcast
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Social Learning Wall
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Wiki
							</a>
						</li>
					</ul>
				</div>
				<div class="panel">
					<div class="header">
						<div class="header-text collapsed" data-toggle="collapse" data-target="#lessonBuilder">
							My Tools
						</div>
					</div>
					<ul class="nav collapse" id="lessonBuilder">
						<li class="nav-item">
							<a class="nav-link" href="#">
								My Lessons
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								My Questions
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								My Resource
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Offline Homework
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Online Survey
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								School To Home Notes
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								Show And Tell
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{{{body}}}
		<div class="app-footer">
			<div class="copyright">
        Copyright © 2018 Marshall Cavendish Education Pte. Ltd.
      </div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="#">
            Data Protection and Privacy Statement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Terms & Conditions
          </a>
        </li>
      </ul>
		</div>
		<script>
			// bootstrap-select configuration
			$.fn.selectpicker.Constructor.BootstrapVersion = '4';

			// tinymce configuration
			$.fn.dataTable.ext.classes.sWrapper = 'dataTables_wrapper table-wrapper';
			$.fn.dataTable.ext.classes.sInfo = 'dataTables_info info';
			$.fn.dataTable.ext.classes.sPaging = 'dataTables_paginate paging paging_';
			$.fn.dataTable.ext.classes.sPageButton = 'paginate_button btn btn-icon';

			$(document).ready( function () {
				if ($('.app-drawer').length === 0) {
					$('.btn-app-drawer').addClass('d-none');
				} else {
					$('.btn-app-drawer').on('click', function(e) {
						$('body').append('<div class="app-drawer-backdrop"/>');
						$('body').addClass('app-drawer-shown');
						$('.app-drawer').addClass('show');

						$('.app-drawer-backdrop').on('click', function(e) {
							$('body').removeClass('app-drawer-shown');
							$('.app-drawer').removeClass('show');
							$('.app-drawer-backdrop').off('click');
							$('.app-drawer-backdrop').remove();
						});
					});
				}

				$('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
					var $toggle = $(this);
					var $parent = $toggle.offsetParent('.dropdown-menu');

					if (!$toggle.next().hasClass('show')) {
						$toggle.parents('.dropdown-menu').first().find('.show').removeClass('show');
					}

					$toggle.next('.dropdown-menu').toggleClass('show');
					$toggle.parent('li').toggleClass('show');

					$toggle.parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function ( e ) {
						$('.dropdown-menu .show').removeClass('show');
					});

					if (!$parent.parent().hasClass('navbar-nav')) {
						$toggle.next().css({
							'top': $toggle[0].offsetTop, 
							'left': $parent.outerWidth() - 4
						});
					}

					return false;
				});
			});
		</script>
  </body>
</html>
