<div class="app-content">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-subject">
        <h1>Mathematics</h1>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#featured" role="tab">
            Featured
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#viewAll" role="tab">
            View All
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="tab-content">
        <div class="tab-pane tab-pane-home fade show active" id="featured" role="tabpanel">
          <div class="article article-feature-resources">
            <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    CIE Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4.5</span>
                  </div>
                  <div class="status status-success">
                    <i class="fa fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    My Pals Are Here! Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4</span>
                  </div>
                  <div class="status status-success">
                    <i class="fa fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    My Pals Are Here! Science<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Take Off with English<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4.5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Discover Physics<br/>
                    Student Guide Book
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Discover Chemistry<br/>
                    Student Guide Book
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane tab-pane-home fade" id="viewAll" role="tabpanel">
          <div class="article article-all-resources">
            <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    CIE Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4.5</span>
                  </div>
                  <div class="status status-success">
                    <i class="fa fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    My Pals Are Here! Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4</span>
                  </div>
                  <div class="status status-success">
                    <i class="fa fa-check-circle"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    My Pals Are Here! Science<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Take Off with English<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4.5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Discover Physics<br/>
                    Student Guide Book
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Discover Chemistry<br/>
                    Student Guide Book
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Maths Works<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <span>4.5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Discover Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <span>4</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Maths Builder<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <span>5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Problem Solving Beyond...<br/>
                    Student Activity Book
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="ratings">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <span>4.5</span>
                  </div>
                  <div class="status status-error">
                    <i class="fa fa-lock"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
