.create-test .test-info {
	-webkit-justify-content: space-between;
	justify-content: space-between;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
}

.create-test .test-info .test-title a {
 margin-left: .5rem;
}

.create-test .section,
.create-test .question {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 0 -1.5rem;
	padding: 1.5rem;
}

.create-test .section .section-header,
.create-test .question .question-header,
.create-test .question .question-body {
	margin-bottom: 1rem;
}

.create-test .section .section-header,
.create-test .question .question-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
}

.create-test .section .section-header .section-title,
.create-test .question .question-header .question-title {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.create-test .question .question-options {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	width: 100%;
}

.create-test .question .question-options .question-option {
	-webkit-align-items: flex-start;
	align-items: flex-start;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	margin-bottom: 1rem;
}

.create-test .question .question-options .question-option .form-check-label {
	color: #212529;
}

.create-test .section-edit,
.create-test .question-edit {
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	margin: .25rem -1.5rem;
}

.create-test .section-edit .section-actions,
.create-test .question-edit .question-actions {
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-align-items: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	padding: 1rem 0 0 0;
}

.create-test .section-edit .section-actions .btn,
.create-test .question-edit .question-actions .btn {
	margin-right: .325rem;
}

.create-test .section-edit .section-actions .separator,
.create-test .question-edit .question-actions .separator {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}

.create-test .section:not(.section-edit),
.create-test .question:not(.question-edit) {
	padding-top: 2rem;
	position: relative;
}

.create-test .section:not(.section-edit):hover,
.create-test .question:not(.question-edit):hover {
	background-color: #f7f7f9;
}

.create-test .section:not(.section-edit)	.btn-drag-handle,
.create-test .question:not(.question-edit) .btn-drag-handle {
	color: #b3b3b3;
	cursor: move;
	display: none;
	position: absolute;
	top: 0;
	left: calc(50% - 1.125rem);
}

.create-test .section:not(.section-edit):hover	.btn-drag-handle,
.create-test .question:not(.question-edit):hover .btn-drag-handle {
	display: inline-block;
}

.create-test .test-actions {
	margin: 1rem 0;
}

.create-test .test-actions .btn-group,
.create-test .test-actions .btn {
	margin-bottom: .5rem;
}

.create-test .test-actions .btn-group .btn {
	margin-bottom: 0;
}

.create-test .sortable-placeholder {
	margin: 0 -1.5rem;
}
