<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>home</title>
<script type="text/javascript" language="JavaScript">
	var sTitle = "home";
	var sFileVer = "20070424120000";
</script>

<script language="javascript" src="..\Scripts\Scorm_lms.js"></script>
<script language="javascript" src="..\Scripts\APIWrapper.js"></script>
<script language="javascript" src="..\Scripts\SCOFunctions.js"></script>
<script language="javascript" src="..\Scripts\Scorm_fscommand.js"></script>

<!-- Add the VB Script for IE.  -->
<SCRIPT LANGUAGE="VBScript">
<!--
// Catch the fscommand in ie with vbscript, and pass
// it on to JavaScript.

Sub home_FSCommand(ByVal command, ByVal args)
    call home_DoFSCommanded(command, str)
end sub

//-->
</SCRIPT>
</head>


<body style="margin:0;"  onload="SCOInitialize()" onunload="SCOFinish()" bgcolor="#33CCCC">

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="100%" height="100%" id="home" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="classifying_things_quiz.swf" />
<param name="scale" value="exactfit" />
<param name="quality" value="high" />
<embed src="classifying_things_quiz.swf" quality="high" width="100%" height="100%" scale="exactfit" name="home" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" swLiveConnect="true" scale="exactfit" />
</object>
</body>
</html>
