.app-header {
  @include flex-direction(row);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/img_topnav_header_bg.jpg");
  border-bottom: 3px solid $primary;
  height: 8rem;
  max-height: 8rem;
  padding: 0 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 980;

  .btn-menu {
    margin-right: 1rem;

    &:not(:disabled):not(.disabled):active {
      background-color: transparent;
      border-color: transparent;
    }

    .fas {
      color: $white;
      font-size: 1.5rem;      
    }
  }

  .navbar-brand {
    margin-right: 4.5rem;
    padding: 0;
    
    img {
      width: 12rem;
    }
  }

  .navbar-text {
    color: $white;
    font-size: 1.5rem;
  }

  .navbar-nav {
    @include align-items(center);
    @include flex-direction(row);

    &.nav-main {
      @include flex-grow(1);

      .nav-item {
        .nav-link {
          @include display-flex(column);
          @include align-items(center);
          border-bottom: 4px solid transparent;
          color: $white;
          min-width: 7rem;
          padding: 1.25rem .75rem .5rem;

          &:hover {
            background-color: rgba($white, .23);
          }

          &.active {
            border-bottom-color: $primary;

            .img {
              &.img-mylibrary {
                background-image: url("../images/icon_topnav_selected_mylibrary.svg");
              }
      
              &.img-myebooks {
                background-image: url("../images/icon_topnav_selected_myebooks.svg");
              }
      
              &.img-myassignments {
                background-image: url("../images/icon_topnav_selected_myassignments.svg");
              }
      
              &.img-myresources {
                background-image: url("../images/icon_topnav_selected_myresources.svg");
              }
      
              &.img-mytools {
                background-image: url("../images/icon_topnav_selected_mytools.svg");
              }
      
              &.img-myreports {
                background-image: url("../images/icon_topnav_selected_myreports.svg");
              }
      
              &.img-collaboration {
                background-image: url("../images/icon_topnav_selected_collaboration.svg");
              }
      
              &.img-administration {
                background-image: url("../images/icon_topnav_selected_administration.svg");
              }
      
              &.img-myachievements {
                background-image: url("../images/icon_topnav_selected_myachievements.svg");
              }
      
              &.img-more {
                background-image: url("../images/icon_topnav_selected_more.svg");
              }
            }
          }

          .img {
            margin-bottom: .325rem;
            height: 4rem;
            width: 4rem;

            &.img-mylibrary {
              background-image: url("../images/icon_topnav_unselected_mylibrary.svg");
            }
        
            &.img-myebooks {
              background-image: url("../images/icon_topnav_unselected_myebooks.svg");
            }
        
            &.img-myassignments {
              background-image: url("../images/icon_topnav_unselected_myassignments.svg");
            }
          
            &.img-myresources {
              background-image: url("../images/icon_topnav_unselected_myresources.svg");
            }
        
            &.img-mytools {
              background-image: url("../images/icon_topnav_unselected_mytools.svg");
            }
          
            &.img-myreports {
              background-image: url("../images/icon_topnav_unselected_myreports.svg");
            }
        
            &.img-collaboration {
              background-image: url("../images/icon_topnav_unselected_collaboration.svg");
            }
        
            &.img-administration {
              background-image: url("../images/icon_topnav_unselected_administration.svg");
            }
        
            &.img-myachievements {
              background-image: url("../images/icon_topnav_unselected_myachievements.svg");
            }
        
            &.img-more {
              background-image: url("../images/icon_topnav_unselected_more.svg");
            }
          }
        }
      }
    }

    .btn-notifications {
      margin-right: 1rem;
      position: relative;

      &:not(:disabled):not(.disabled):active {
        background-color: transparent;
        border-color: transparent;
      }

      .fas {
        font-size: 2rem;

        &.fa-bell {
          color: $white;
        }
      }

      .badge {
        position: absolute;
        top: 0;
        right: .25rem;
      }
    }
  }

  .dropdown {
    &.dropdown-more {
      .dropdown-menu {
        right: -8rem;
      }
    }

    &.dropdown-notifications {
      .dropdown-menu {
        padding: 0;
        top: calc(100% + 1px + .5rem);
        right: -4rem;

        .navbar {
          @include justify-content(space-between);
          padding: .25rem .75rem;

          .navbar-nav {
            &.nav-light {
              .nav-link {
                &:hover {
                  text-decoration: underline
                }
              }
            }

            .nav-text {
              font-weight: 500;
            }
          }
        }

        .nav {
          &.nav-light {
            max-width: 100%;
            width: 100%;

            .nav-link {
              &:hover {
                text-decoration: underline
              }
            }
          }
        }

        .list-notifications {
          border-top: 1px solid $gray-400;
          border-bottom: 1px solid $gray-400;
          max-height: 18rem;
          overflow-x: hidden;
          overflow-y: auto;

          .list-group {
            .list-group-item {
              padding: .5rem .75rem;

              &.list-group-item-empty {
                cursor: default;
              }

              .notification {
                max-width: 20rem;
                width: 20rem;
              }
            }
          }
        }
      }
    }

    &.dropdown-user {
      .dropdown-menu {
        min-width: 16rem;

        .nav {
          .nav-link {
            color: $gray-700;
            padding: .5rem 1rem;

            &:hover {
              background-color: $gray-200;
              color: $gray-900;
            }
            
            .fas {
              font-size: 1.125rem;
              width: 2rem;
            }
          }
        }
      }

      .btn-user,
      .user-account {
        @include display-flex(row);
        @include align-items(center);
        padding: .5rem;

        img {
          margin-right: 1rem;
          max-height: 4rem;
          max-width: 4rem;
          vertical-align: baseline;
        }

        .user-summary {
          @include display-flex(column);
          color: $white;
          
          .user-name,
          .user-role {
            text-align: right;
          }

          .user-info {
            @include display-flex(row);
            @include align-items(center);

            .user-name {
              font-weight: 500;
              margin-left: .25rem;
              max-width: 8rem;
            }
          }
        }
      }

      .btn-user {
        &:not(:disabled):not(.disabled):active {
          background-color: transparent;
          border-color: transparent;
        }
      }

      .user-account {
        padding: .5rem 1rem;

        img {
          max-height: 4rem;
          max-width: 4rem;
        }

        .user-summary {
          @include flex-grow(1);
          color: $gray-700;

          .user-info {
            text-align: right;
          }
        }
      }
    }

    .dropdown-menu {
      top: calc(100% + 1px);

      &.dropdown-menu-more {
        padding: 0;
        max-width: 37rem;
        width: 37rem;

        &.show {
          @include display-flex(row);
          @include align-items(flex-start);
          @include flex-wrap(wrap);
          @include justify-content(space-between);
        }

        .nav {
          margin: .5rem 1rem;
        }
      }

      .dropdown-item {
        &:active {
          .fas {
            color: $white;
          }
        }

        .fas {
          color: $gray-700;
        }
      }

      .nav {
        @include display-flex(column);
        max-width: 16.5rem;
        width: 16.5rem;

        .nav-text,
        .nav-link {
          @include display-flex(row);
          @include align-items(center);
          color: $gray-700;
          padding: .5rem .75rem;

          .img {
            margin-bottom: 0;
            margin-right: .75rem;
            height: 1.5rem;
            width: 1.5rem;
          }
        }

        .nav-link {
          border-bottom: 0;

          &:hover {
            background-color: $gray-200;
          }

          &.active {
            border-bottom-color: transparent;
          }
        }

        .nav-text {
          color: $gray-600;
          padding: .5rem 0;
        }
      }
    }
  }
  
  @media (max-width: 1399.98px) {
    .navbar-nav {
      &.nav-main {
        .nav-item {
          .link-myreports,
          .link-collaboration,
          .link-administration {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 1199.98px) {
    .navbar-nav {
      &.nav-main {
        .nav-item {
          .link-mytools {
            display: none;
          }
        }
      }
    }

    .dropdown {
      &.dropdown-user {
        .btn-user {
          .user-summary {
            display: none;
          }
        }
      }
    }
  }

  @media (max-width: 991.98px) {
    .navbar-brand {
      &:not(d-block) {
        display: none;
      }

      &.d-block {
        img {
          width: 10rem;
        }
      }
    }

    .navbar-nav {
      &.nav-main {
        .nav-item {
          display: none;
        }
      }

      .btn-notifications {
        .fas {
          font-size: 1.75rem;
        }
      }
    }

    .dropdown {
      &.dropdown-user {
        .btn-user {
          img {
            margin-right: 0;
            max-height: 3rem;
            max-width: 3rem;
          }
        }
      }
    }
  }

  @media (max-width: 575.98px) {
    .navbar-nav {
      .btn-notifications {
        display: none;
      }
    }
  }

  @media (min-width: 576px) {
    .dropdown {
      &.dropdown-user {
        .divider-school-matters,
        .nav-school-matters {
          display: none;
        }
      }
    }
  }

  @media (min-width: 992px) {
    .navbar-text {
      display: none;
    }

    .btn-menu {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .navbar-nav {
      &.nav-main {
        .nav-item {
          .dropdown-menu {
            .nav-mytools {
              display: none;
            }
          }
        }
      }
    }

    .dropdown {
      &.dropdown-user {
        .user-account {
          display: none;
        }

        .dropdown-divider {
          display: none;
        }
      }
    }
  }

  @media (min-width: 1400px) {
    .navbar-nav {
      &.nav-main {
        .nav-item {
          .link-more {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .app-header {
    height: 5rem;
    max-height: 5rem;
    padding: 0 .5rem;
  }
}
