.app-header {
  @include flex-direction(row);
  background-color: $white;
  height: 4.5rem;
  max-height: 4.5rem;
  padding: .5rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;

  .navbar-nav {
    @include align-items(center);
    @include flex-direction(row);

    &.nav-main {
      @include flex-grow(1);
    }

    .nav-item {
      margin: 0 .25rem;

      &.search {
        margin: 0 1rem;
        min-width: 280px;
      }

      &.localize {
        margin: 0 0 0 2rem;

        .bootstrap-select {
          .dropdown-menu {
            .dropdown-item .fa {
              display: none;
            }
          }
        }
      }
    }
  }

  .input-search {
    &:hover {
      .form-control {
        border-color: transparent;
      }
    }

    .form-control {
      background-color: $gray-200;
      border-color: transparent;

      &:not(:disabled):not(.disabled):focus,
      &:not(:disabled):not(.disabled):active {
        background-color: transparent;
        border-color: $primary;
      }
    }

    .btn-light {
      color: $primary;

      &:not(:disabled):not(.disabled):hover,
      &:not(:disabled):not(.disabled):active {
        color: darken($primary, 8%);
      }
    }
  }

  .btn-user {
    @include align-items(center);
    @include display-flex(row);
    max-width: 12rem;
    padding: 0 .75rem;

    img {
      margin-right: .5rem;
      max-height: 2.25rem;
      max-width: 2.25rem;
      vertical-align: baseline;
    }

    .user-name {
      overflow: hidden;
      max-height: 3rem;
      white-space: normal;
      word-wrap: break-word;
    }
  }
}
