.app-footer {
  @include display-flex(row);
  @include align-items(center);
  @include flex-wrap(wrap);
  background-color: $gray-700;
  font-size: .875rem;
  height: 3rem;
  max-height: 3rem;
  padding: .325rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;

  .dropdown {
    margin-right: .5rem;

    &.bootstrap-select {
      .dropdown-toggle {
        background-color: $white;
        padding: .25rem .75rem;
      }

      .dropdown-item {
        .fa {
          display: none;
        }
      }
    }
  }

  .copyright {
    color: $gray-300;
    font-size: .875rem;
    margin-right: auto;
    padding: .5rem;
  }

  .nav {
    .nav-link {
      color: $gray-300;
      font-size: .875rem;
      padding: .5rem;

      &:not(:disabled):not(.disabled):hover,
      &:not(:disabled):not(.disabled):active {
        color: $white;
      }
    }
  }

  @media (max-width: 992px) {
    .dropdown {
      &.bootstrap-select {
        margin-right: auto;
      }
    }

    .nav {
      display: none;
    }
  }
}
