.article {
  padding: 1rem;

  .header {
    @include align-items(flex-start);
    @include display-flex(row);
    @include flex-wrap(wrap);

    h5 {
      @include flex-grow(1);
      min-height: 1.25rem;
    }

    .btn {
      margin-left: .5rem;
    }
  }
}
