.custom-checkbox {
  .custom-control-label {
    &::before {
      height: 1.125rem;
      width: 1.125rem;
    }
    &::after {
      height: 1.125rem;
      width: 1.125rem;
    }
  }
}

.dialog {
  position: relative;

  .dialog-menu {
    background-color: $white;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    display: none;
    padding: .5rem 0;
    position: absolute;
    top: 100%;
    left: 1px;
    right: 1px;
    z-index: 1000;

    &.show {
      display: block;
    }
  }
}

.article {
  padding: 1.5rem;

  &.no-sidebar {
    .article-content {
      .article-sidebar {
        display: none;
      }

      .article-body {
        margin-left: 0;
      }
    }
  }

  .article-header {
    @include align-items(flex-start);
    @include display-flex(row);
    @include flex-wrap(wrap);

    h5 {
      @include flex-grow(1);
      line-height: 1.75;
      margin-bottom: 0;
    }

    h6 {
      margin-bottom: 0;
    }

    .btn {
      margin-left: .5rem;
    }
  }

  .article-content {
    @include display-flex(column);

    .article-sidebar {
      margin-bottom: 1rem;
    }

    .article-body {      
      min-width: 280px;
    }
  }

  @media (min-width: 768px) {
    .article-content {
      @include flex-direction(row);

      .article-sidebar {
        min-width: 18rem;
        width: 18rem;
      }

      .article-body {
        @include flex-grow(1);
        margin-left: 1.5rem;
      }
    }
  }
}

.attribute-group {
  @include display-flex(column);

  .attribute {
    @include display-flex(row);
    @include align-items(flex-start);
    padding: .5rem 0;
    
    .attribute-name {
      color: $gray-700;
      font-weight: bold;
      min-width: 10rem;
      width: 10rem;
    }
  }
}
