table.dataTable {
  border: 0;

  &.no-footer {
    border-bottom: 1px solid $gray-300 !important;
  }

  thead {
    tr {
      th {
        padding: .75rem 1rem;

        &.sorting,
        &.sorting_asc,
        &.sorting_desc {
          background-image: none;
          cursor: pointer;
          position: relative;

          &:hover {
            background-color: $gray-100;
            cursor: pointer;
          }
        }

        &.sorting_asc:after,
        &.sorting_desc:after {
          font-family: 'FontAwesome';
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-left: .25rem;
        }

        &.sorting_asc:after {
          content: '\f175';
        }
        
        &.sorting_desc:after {
          content: '\f176';
        }

        background-color: $white;
        border-bottom: 0;
        color: $gray-700;
        white-space: nowrap;
      }
    }
  }

  tbody {
    tr {
      td {
        border-top: 1px solid $gray-300;
        padding: .75rem 1rem;

        &.nowrap,
        .nowrap {
          white-space: nowrap;
        }
      }
    }
  }
}

.loading-state {
  @include display-flex(column);
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 100%;
}

.empty-state {
  padding: 1rem;
  text-align: center;
}

.toast-stack {
  position: fixed;
  left: 1rem;
  bottom: 4rem;
  z-index: 1000;

  .toast {
    @include display-flex(row-reverse);
    @include align-items(center);
    max-width: 28rem;

    .toast-header {
      border-bottom: 0;
      padding: 0;

      button.close {
        padding: .5rem .75rem;
      }
    }

    .toast-body {
      @include display-flex(row);
      @include align-items(center);
      font-size: 1.125rem;

      .fa {
        &.fa-exclamation-circle {
          color: $red;
          font-size: 1.625rem;
          margin-right: .5rem;
        }
      }
    }
  }
}

.custom-checkbox {
  .custom-control-label {
    &::before {
      height: 1.125rem;
      width: 1.125rem;
    }
    &::after {
      height: 1.125rem;
      width: 1.125rem;
    }
  }
}

.drawer {
	background-color: #fff;
	height: 100vh;
	width: 16rem;
	z-index: 1070;
	-webkit-transition: left .35s;
	-moz-transition: left .35s;
	-o-transition: left .35s;
	transition: left .35s;
	position: fixed;
	top: 0;
  left: -18rem;
  
  &.show {
    left: 0;
  }

  .navbar {
    padding: 0;

    .navbar-brand {
      @include flex-grow(1);
      border-bottom: 1px solid $gray-400;
      height: 5rem;
      max-height: 5rem;
      margin-right: 0;
      padding: .5rem 1rem;

      img {
        width: 10rem;
      }
    }

    .navbar-content {
      @include flex-grow(1);
      height: calc(100vh - 5rem);
      overflow-x: hidden;
      overflow-y: auto;
    }

    .navbar-nav {
      @include display-flex(column);
      @include flex-grow(1);

      .nav-item {
        margin: 0;

        .nav-link {
          @include display-flex(row);
          @include align-items(center);
          color: $gray-700;
          padding: .5rem 1rem;

          &:hover {
            background-color: $gray-200;
            color: $gray-900;
          }

          &.active {
            background-color: $accent;
            color: $white;

            .img {              
              &.img-mylibaray {
                background-image: url("../images/icon_topnav_selected_mylibrary.png");
              }

              &.img-myresources {
                background-image: url("../images/icon_topnav_selected_myresources.png");
              }

              &.img-myreports {
                background-image: url("../images/icon_topnav_selected_myreports.png");
              }
            }
          }

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: .75rem;
            height: 2rem;
            width: 2rem;

            &.img-mylibaray {
              background-image: url("../images/icon_topnav_mylibrary.png");
            }

            &.img-myresources {
              background-image: url("../images/icon_topnav_myresources.png");
            }

            &.img-myreports {
              background-image: url("../images/icon_topnav_myreports.png");
            }
          }
        }
      }
    }
  }
}

.drawer-backdrop {
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
}

.dialog {
  position: relative;

  .dialog-menu {
    background-color: $white;
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    display: none;
    padding: .5rem 0;
    position: absolute;
    top: 100%;
    left: 1px;
    right: 1px;
    z-index: 1000;

    &.show {
      display: block;
    }
  }
}

.article {
  padding: 1.5rem;

  &.no-sidebar {
    .article-content {
      .article-sidebar {
        display: none;
      }

      .article-body {
        margin-left: 0;
      }
    }
  }

  .article-header {
    @include align-items(flex-start);
    @include display-flex(row);
    @include flex-wrap(wrap);

    h5 {
      @include flex-grow(1);
      line-height: 1.75;
      margin-bottom: 0;
    }

    h6 {
      margin-bottom: 0;
    }    

    .btn {
      &.dropdown-toggle {
        margin-left: 0;
      }

      margin-left: .5rem;
      padding: .325rem .5rem;
    }
  }

  .article-content {
    @include display-flex(column);

    .article-sidebar {
      margin-bottom: 1rem;
    }

    .article-body {      
      min-width: 280px;

      .btn {
        &.dropdown-toggle {
          margin-left: 0;
        }
  
        margin-left: .5rem;
        padding: .325rem .5rem;
      }
    }
  }

  @media (min-width: 768px) {
    .article-content {
      @include flex-direction(row);

      .article-sidebar {
        min-width: 16rem;
        width: 16rem;
      }

      .article-body {
        @include flex-grow(1);
        margin-left: 1.5rem;
      }
    }
  }
}

.attribute-group {
  @include display-flex(column);

  .attribute {
    @include display-flex(row);
    @include align-items(flex-start);
    padding: .5rem 0;
    
    .attribute-name {
      color: $gray-700;
      font-weight: bold;
      min-width: 10rem;
      width: 10rem;
    }
  }
}
