.app-content {
  &.page-error {
    @include display-flex(column);
    @include align-items(center);
    @include justify-content(center);
    min-height: calc(100vh - 3rem);

    .article-error {
      .article-content {
        .article-body {
          @include display-flex(row);
          @include align-items(center);
          font-size: 2rem;

          .fas {
            &.fa-exclamation-circle {
              font-size: 4rem;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}
