.app-content {
  &.page-profile, {
    .article-profile {
      background-color: $yellow;
      padding: 1.5rem;

      h1 {
        color: $white;
      }
    }

    .article-update-personal-particulars,
    .article-change-password,
    .article-reset-student-password,
    .article-reset-teacher-password {
      .article-header {
        margin-bottom: 1rem;
      }
    }

    .form-personal-particulars,
    .form-change-password,
    .form-reset-student-password,
    .form-reset-teacher-password {
      max-width: 360px;

      .form-label {
        display: block;
      }
    }

    @media (max-width: 768px) {
      .article-change-password:not(.no-sidebar),
      .article-reset-student-password,
      .article-reset-teacher-password {
        .article-content {
          .article-sidebar {
            display: none;
          }
        }
      }
    }

    @media (min-width: 768px) {
      .article-change-password:not(.no-sidebar),
      .article-reset-student-password,
      .article-reset-teacher-password {
        .article-header {
          display: none;
        }
      }
    }
  }
}
