.app-content {
  &.page-administration {
    .article-manage-school,
    .article-manage-user-account,
    .article-manage-form-class,
    .article-manage-school-group,
    .article-login-as-student,
    .article-login-as-teacher {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          @include justify-content(space-between);
          background-color: $gray-200;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            @include flex-direction(row);

            &:first-child {
              margin-right: 1rem;
              width: 20rem;
            }

            &.nav-main {
              @include flex-grow(1);
              position: relative;
            }

            .nav-item {
              @include display-flex(row);
              @include align-items(center);

              &.nav-item-drawer {
                .btn-light {
                  padding: .25rem;

                  img {
                    width: 3rem;
                  }
                }
              }

              &.nav-item-submodule {
                .btn-light {
                  font-size: 1.25rem;

                  .fas {
                    font-size: 1.25rem;
                  }
                }
              }

              .btn-light {
                margin: 0 .25rem;                
              }

              .item-text {
                font-size: 1.25rem;
                width: 16rem;
              }
            }

            .btn-light {
              &.btn-more {
                padding: .325rem 1rem;
              }

              .fas {
                font-size: 1.5rem;

                &.fa-arrow-left {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      .article-content {
        .article-sidebar {
          margin: 0;
        }

        .article-body {
          .navbar {
            @include justify-content(space-between);
            padding: .75rem 0;

            &.navbar-pagination {
              @include justify-content(flex-end);
            }

            .navbar-nav {
              .btn-primary {
                margin-left: 1rem;
              }

              .btn-outline-secondary {
                margin-left: .5rem;
              }
            }
          }
        }
      }

      @media (max-width: 991.98px) {
        .article-header {
          display: none;
        }
  
        .article-content {
          @include display-flex(column);
          margin: 0 -.5rem;

          .article-sidebar {
            @include flex-grow(1);
            background-color: $gray-200;
            border-color: $gray-200;
            margin: 0 -1rem;
            width: auto;
            position: -webkit-sticky;
            position: sticky;
            top: 5rem;
            z-index: 970;

            &.dialog {
              .form-filters {
                margin: 0 .5rem;
                padding: 1rem;
                width: calc(100% - 1rem);

                .form-group {
                  @include display-flex(row);
                  @include align-items(flex-start);
    
                  .form-label {
                    min-width: 8rem;
                    width: 8rem;
                  }
                }
              }
            }

            .navbar {
              @include justify-content(flex-end);
              height: 3rem;
              padding: 0;
  
              .btn-light {
                padding: .5rem 1rem;
  
                .fa-filter {
                  font-size: 1.25rem;
                }
              }
            }
          }
  
          .article-body {
            margin: 0;
          }
        }
      }
  
      @media (min-width: 992px) {
        .article-header {
          position: -webkit-sticky;
          position: sticky;
          top: 6rem;
          z-index: 970;
  
          .navbar {
            .navbar-nav {
              .nav-item-submodule {
                display: none;
              }
            }
          }
        }
  
        .article-content {
          .article-sidebar {
            height: calc(100vh - 13rem);
            overflow-x: hidden;
            overflow-y: auto;
            padding: .5rem 0;
            position: -webkit-sticky;
            position: sticky;
            top: 10rem;

            .navbar {
              display: none;
            }
          }
  
          .article-body {
            .dataTables_wrapper {
              .dataTables_scrollHead {
                position: -webkit-sticky;
                position: sticky;
                top: 10rem;
                z-index: 970;
  
                .dataTables_scrollHeadInner {
                  position: relative;
                }
              }
  
              .dataTable {
                @include user-select(none);
              }
            }
          }
        }
      }
    }

    .article-create-school,
    .article-create-user-account,
    .article-create-form-class,
    .article-create-school-group {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          @include justify-content(space-between);
          background-color: $gray-200;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            @include flex-direction(row);

            &:first-child {
              margin-right: 1rem;
              width: 20rem;
            }

            &.nav-main {
              @include flex-grow(1);
              position: relative;
            }

            .nav-item {
              @include display-flex(row);
              @include align-items(center);

              .item-text {
                font-size: 1.25rem;
                width: 16rem;
              }
            }
          }
        }
      }

      .article-content {
        .article-body {
          max-width: 76rem;
          
          .form-school,
          .form-user-account,
          .form-form-class,
          .form-school-group {
            padding: 1rem 0;

            .form-row {
              @include align-items(flex-start);
              margin: 0;

              .col-auto {
                margin: 0 .5rem;
                min-width: 4rem;
              }

              .form-group {
                padding: 0;

                .form-group {
                  margin-bottom: 0;

                  &+.form-group {
                    margin-top: 1rem;
                  }
                }

                .custom-control {
                  margin-top: .25rem;
                }

                .input-group {
                  @include justify-content(flex-start);
    
                  .algolia-autocomplete {
                    @include flex-grow(1);
                  }

                  .btn,
                  .custom-control {
                    margin-left: .5rem;
                  }
                }

                .form-control[multiple] {
                  height: 20rem;

                  &.form-control-group {
                    height: 8.375rem;
                  }
                }

                .list-groups {
                  margin-bottom: .5rem;
                  overflow-x: hidden;
                  overflow-y: auto;
                  max-height: 16rem;
                }
              }

              .btn-group {
                @include display-flex(column);
                @include justify-content(center);
                margin-top: 1.75rem;

                .btn {
                  margin: .25rem .5rem;
                  width: 2.5rem;

                  +.btn {
                    margin: .25rem .5rem;
                  }

                  .fas {
                    font-size: 1.25rem;
                  }
                }
              }
            }

            .form-group {
              &.form-group-actions {
                margin: .5rem 0;
              }
            }
          }
        }
      }

      @media (max-width: 767.98px) {
        .article-content {
          .article-body {
            .form-school,
            .form-user-account,
            .form-form-class,
            .form-school-group {
              .form-row {
                @include align-items(flex-start);
                @include flex-direction(column);

                .col-auto {
                  @include display-flex(row);
                  @include align-items(center);
                }

                .btn-group {
                  @include flex-direction(row);
                  @include align-items(center);
                  margin: .5rem 0;

                  +.btn-group {
                    margin-left: 1.75rem;
                  }

                  .btn {
                    .fas {
                      &.fa-angle-right,
                      &.fa-angle-double-right,
                      &.fa-angle-left,
                      &.fa-angle-double-left {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }      

      @media (max-width: 991.98px) {
        .article-header {
          margin: 0 -.5rem;
          position: -webkit-sticky;
          position: sticky;
          top: 5rem;
          z-index: 970;

          .navbar {
            @include justify-content(space-between);
          }
        }

        .article-content {
          margin: 0 -.5rem;

          .article-body {
            margin: 0;
          }
        }
      }

      @media (max-width: 576px) {
        .article-content {
          .article-body {
            .form-user-account {
              .form-group {
                .input-group {
                  .algolia-autocomplete {
                    min-width: 100%;
                    width: 100%;
                  }
    
                  .btn {
                    margin: .5rem .5rem .5rem 0;
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        .article-content {
          .article-body {
            .form-school,
            .form-user-account,
            .form-form-class,
            .form-school-group {
              .form-row {
                .btn-group {
                  .btn {
                    .fas {
                      &.fa-angle-down,
                      &.fa-angle-double-down,
                      &.fa-angle-up,
                      &.fa-angle-double-up {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        .article-content {
          .article-body {
            .form-school,
            .form-user-account,
            .form-form-class,
            .form-school-group {
              .form-group {
                &:not(.form-group-actions) {
                  max-width: 30rem;
                }
              }
            }
          }
        }
      }
  
      @media (min-width: 992px) {
        .article-header {
          position: -webkit-sticky;
          position: sticky;
          top: 6rem;
          z-index: 970;
        }
      }
    }
  }
}
