.app-content {
  &.page-administration {
    .article-administration {
      padding: 1.5rem;

      .article-content {
        .article-body {
          .nav {
            @include justify-content(center);

            .nav-link {
              @include display-flex(column);
              @include align-items(center);
              color: $gray-700;
              font-size: 1.25rem;
              min-width: 12rem;
              margin: 1rem;
              padding: 1rem;

              &:hover {
                background-color: $gray-200;
                color: $gray-900;
              }

              .fas {                
                font-size: 6rem;
                margin-bottom: .5rem;
              }
            }
          }
        }
      }
    }

    .article-manage-form-class {
      padding: 0 1.5rem;

      .article-header {
        background-color: $gray-200;
        height: 3.5rem;
        max-height: 3.5rem;
        margin: 0 -1.5rem;
        padding: .75rem 1.5rem;
      }

      .article-content {
        .article-body {
          margin: 0 auto;
          max-width: 64rem;

          .navbar {
            @include justify-content(flex-end);
            padding: .75rem 0;

            .navbar-nav {
              .btn-light {
                &.btn-create {
                  font-size: 1.175rem;
                  font-weight: 500;
                  line-height: 1.25;

                  .fas {
                    vertical-align: middle;
                  }
                }

                .fas {
                  font-size: 1.5rem;
                }
              }
            }
          }

          .form-form-class {
            padding: 1.5rem 0;

            .form-row {
              @include align-items(flex-start);
              margin: 0;

              .col-auto {
                min-width: 4rem;
              }

              .form-group {
                padding: 0;

                +.form-group {
                  margin-left: 1.5rem;
                }

                .form-control[multiple] {
                  height: 16rem;
                }
              }

              .btn-group {
                @include display-flex(column);
                @include justify-content(center);
                margin-top: 1.75rem;

                .btn {
                  margin: .25rem .5rem;
                  width: 2.5rem;

                  +.btn {
                    margin: .25rem .5rem;
                  }

                  .fas {
                    font-size: 1.25rem;
                  }
                }
              }
            }

            .form-group {
              max-width: 30rem;
            }
          }
        }
      }
    }

    @media (max-width: 767.98px) {
      .article-manage-form-class {
        .article-header {
          padding: .75rem 1rem;
        }

        .article-content {
          margin: 0 -.5rem;

          .article-body {
            margin: 0;

            .form-form-class {
              padding: 1rem 0;
              
              .form-row {
                @include align-items(flex-start);
                @include flex-direction(column);

                .col-auto {
                  @include display-flex(row);
                  @include align-items(center);
                }

                .btn-group {
                  @include flex-direction(row);
                  @include align-items(center);
                  margin: .5rem 0;

                  +.btn-group {
                    margin-left: 1.75rem;
                  }

                  .btn {
                    .fas {
                      &.fa-angle-right,
                      &.fa-angle-double-right,
                      &.fa-angle-left,
                      &.fa-angle-double-left {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: 768px) {
      .article-manage-form-class {
        .article-content {
          .article-body {
            .form-form-class {
              .form-row {
                .btn-group {
                  .btn {
                    .fas {
                      &.fa-angle-down,
                      &.fa-angle-double-down,
                      &.fa-angle-up,
                      &.fa-angle-double-up {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}