.app-content {
  &.page-resources {
    .article-resources {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          background-color: $gray-200;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            @include flex-direction(row);

            &:first-child {
              margin-right: 1rem;
              width: 16.5rem;
            }

            &.nav-main {
              @include flex-grow(1);
              position: relative;
            }

            .nav-item {
              @include display-flex(row);
              @include align-items(center);

              .btn-light {
                margin: 0 .25rem;
              }

              .item-text {
                font-size: 1.25rem;
                width: 12rem;
              }
            }

            .input-group {
              position: relative;

              .input-group-prepend,
              .input-group-append {
                position: absolute;
                top: 1px;                
                z-index: 5;

                .btn-light {
                  background-color: $white;
                  border-color: $white;
                  margin-left: 0;
                  padding: .325rem .75rem;
                  
                  &:hover {
                    .fas {
                      color: $gray-900;
                    }
                  }

                  .fas {
                    color: $gray-500;
                    font-size: 1.375rem;
                    vertical-align: top;
                  }
                }              
              }

              .input-group-prepend {
                left: 1px;
              }

              .input-group-append {
                right: 1px;
              }

              .form-control {
                padding-left: 3rem;
                padding-right: 5rem;
                width: 20rem;
              }
            }

            .dialog-menu {
              .form-advanced-search {
                padding: 1rem;

                .form-group {
                  @include display-flex(row);
                  @include align-items(center);

                  &.form-group-actions {
                    @include justify-content(flex-end);
                  }

                  .form-label {
                    width: 18rem;
                  }

                  .form-input {
                    width: calc(100% - 1.25rem);
                  }

                  .btn {
                    margin: 0;

                    +.btn {
                      margin-left: .5rem;
                    }
                  }
                }
              }
            }
              
            .btn-light {
              &:hover {
                .fas {
                  color: $gray-900;
                }
              }

              &.btn-create {
                font-size: 1.175rem;
                font-weight: bold;
                line-height: 1.175;

                .fas {
                  vertical-align: middle;
                }
              }

              &.btn-more {
                padding: .325rem 1rem;
              }

              .fas {
                color: $gray-700;
                font-size: 1.5rem;

                &.fa-cloud {
                  font-size: 2rem;
                  width: 2.5rem;
                }

                &.fa-arrow-left {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      .article-content {
        .article-sidebar {
          margin: 0;
          
          .resources {
            .resource {
              &.active {
                > a {
                  color: $primary;
                  font-weight: bold;

                  .fa-folder,
                  .fa-folder-open {
                    color: $yellow;                    
                  }
                }
              }

              a {
                @include display-flex(row);
                @include align-items(center);
                color: $gray-700;
                padding: .5rem 1rem;
                text-decoration: none;                

                &:hover {
                  background-color: $gray-200;
                }

                .fas {
                  color: $gray-600;
                  font-size: .75rem;
                  min-width: 1rem;
                }

                .fa-folder,
                .fa-folder-open {
                  color: $yellow;
                  font-size: 1.5rem;
                  min-width: 2rem;
                }
              }

              .resources {
                > .resource {
                  > a {
                    padding-left: 2.5rem;
                  }

                  > .resources {
                    > .resource {
                      > a {
                        padding-left: 4rem;
                      }

                      > .resources {
                        > .resource {
                          > a {
                            padding-left: 5.5rem;
                          }

                          > .resources {
                            > .resource {
                              > a {
                                padding-left: 7rem;
                              }

                              > .resources {
                                > .resource {
                                  > a {
                                    padding-left: 8.5rem;
                                  }

                                  > .resources {
                                    > .resource {
                                      > a {
                                        padding-left: 10rem;
                                      }

                                      > .resources {
                                        > .resource {
                                          > a {
                                            padding-left: 11.5rem;
                                          }

                                          > .resources {
                                            > .resource {
                                              > a {
                                                padding-left: 13rem;
                                              }

                                              > .resources {
                                                > .resource {
                                                  > a {
                                                    padding-left: 14.5rem;
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .article-body {
          .navbar {
            @include justify-content(space-between);
            padding: .75rem 0;
            
            .navbar-nav {
              .nav-item {
                .btn-light {
                  margin: 0 .25rem;

                  .fas {
                    vertical-align: middle;
                  }
                }
              }
            }
          }

          .table {
            @include user-select(none);

            &.table-head {
              margin-bottom: 0;
            }

            th,
            td {
              padding: 1rem;

              .btn {
                padding: .325rem;
                margin: -.5rem 0;

                .fa-info-circle {
                  font-size: 1.375rem;
                }
              }
            }

            a {
              color: $gray-900;
              display: inline-block;
              padding-left: 2.25rem;
              position: relative;
              word-break: break-word;

              .fas {
                position: absolute;
                left: 0;

                &.fa-folder {
                  color: $yellow;
                }

                &.fa-file-word {
                  color: $blue;
                }

                &.fa-file-excel {
                  color: $green;
                }

                font-size: 1.5rem;
                min-width: 2rem;
              }              
            }
          }

          .card-group {            
            @include user-select(none);
            margin: 0 -.5rem;

            .card {
              cursor: pointer;
              max-width: 16rem;
              min-width: 16rem;
              margin: .5rem;
              padding: 0;
              position: relative;

              .card-img-top {
                padding: 1rem;
                text-align: center;

                .fas {
                  font-size: 8rem;

                  &.fa-folder {
                    color: $yellow;
                  }

                  &.fa-file-word {
                    color: $blue;
                  }
  
                  &.fa-file-excel {
                    color: $green;
                  }
                }
              }

              .card-body {
                @include display-flex(column);
                @include justify-content(flex-end);
                padding: 1rem;

                .card-link {
                  color: $gray-700;
                  display: inline-block;
                  margin-bottom: .5rem;
                  word-break: break-word;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                .custom-checkbox {
                  position: absolute;
                  top: .5rem;
                  right: .5rem;
                }
              }
            }    
          }
        }
      }

      @media (max-width: 991.98px) {
        .article-header {
          .navbar {
            @include justify-content(space-between);
            padding: 1rem;

            .navbar-nav {
              &.nav-main {
                display: none;
              }

              .nav-item-drawer {
                display: none;
              }

              .nav-item {
                .item-text {
                  width: 40vw;
                }
              }

              .input-group {
                .input-group-prepend {
                  .btn-search {
                    display: none;
                  }
                }

                .form-control {
                  padding-left: 3.5rem;
                }
              }
            }
          }
        }

        .article-content {
          .article-sidebar {
            display: none;
          }

          .article-body {
            margin: 0;
          }
        }
      }

      @media (max-width: 768px) {
        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(3),
              colgroup:nth-child(4) {
                display: none;
              }

              tr {
                th:nth-child(3),
                th:nth-child(4),
                td:nth-child(3),
                td:nth-child(4) {
                  display: none;
                }
              }
            }
          }
        }
      }

      @media (max-width: 767.98px) {
        .article-header {
          .navbar {
            .navbar-nav {
              .nav-divider {
                display: none;
              }

              .nav-item {
                &.dropdown {
                  order: 1;
                }

                .btn-create,
                .btn-share,
                .btn-download {
                  display: none;
                }
              }
            }
          }
        }

        .article-content {
          margin: 0 -.5rem;

          .article-body {
            .navbar {
              display: none;
            }

            .card-group {
              padding: .675rem .25rem;

              .card {
                margin: .325rem;

                .card-body {
                  padding: 1rem;
                }
              }
            }
          }
        }
      }

      @media (max-width: 576px) {
        .article-header {
          .navbar {
            .navbar-nav {
              &:first-child {
                width: 14rem;
              }
            }
          }
        }

        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(5),
              colgroup:nth-child(6) {
                display: none;
              }

              tr {
                th:nth-child(5),
                th:nth-child(6),
                td:nth-child(5),
                td:nth-child(6) {
                  display: none;
                }
              }
            }

            .card-group {
              .card {
                max-width: calc(50vw - 1.5rem);
                min-width: calc(50vw - 1.5rem);
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        .article-header {
          position: -webkit-sticky;
          position: sticky;
          top: 6rem;
          z-index: 980;

          .navbar {
            .navbar-nav {
              &:not(.nav-main) {
                .btn-search {
                  display: none;
                }
              }
              .nav-item-result {
                display: none;
              }

              .input-group {
                .input-group-prepend {
                  .btn-back {
                    display: none;
                  }
                }

                .form-control {
                  width: 28rem;
                }
              }
            }
          }
        }

        .article-content {
          .article-sidebar {
            height: calc(100vh - 13rem);
            overflow-x: hidden;
            overflow-y: auto;
            padding: .5rem 0;
            position: -webkit-sticky;
            position: sticky;
            top: 10rem;
          }

          .article-body {
            .table {
              &.table-head {
                position: -webkit-sticky;
                position: sticky;
                top: 10rem;
                z-index: 970;
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        .article-header {
          .navbar {
            .navbar-nav {
              .nav-item {
                &.dropdown {
                  .item-new-folder,
                  .item-upload-file,
                  .item-share,
                  .item-download,
                  .divider-manage-revisions,
                  .divider-share {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(7) {
                display: none;
              }

              th:nth-child(7),
              td:nth-child(7) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.modal-folder-create {
  .modal-dialog {
    max-width: 24rem;

    .modal-body {
      .form-create-folder {
        .form-group {
          @include display-flex(row);

          .form-label {
            min-width: 6rem;
            width: 6rem;
          }
        }
      }
    }
  }
}

.modal-file-edit-attributes {
  .modal-dialog {
    max-width: 40rem;

    @media (min-width: 768px) {
      .modal-body {
        .form-edit-file-attributes {
          .form-group {
            @include display-flex(row);
            @include align-items(flex-start);
  
            .form-group {
              @include flex-grow(1);
              @include flex-wrap(wrap);
              margin-bottom: 0;
            }
  
            .form-label {
              min-width: 14rem;
              width: 14rem;
            }
          }
        }
      }
    }
  }
}

.modal-resource-delete-confirmation {
  .modal-dialog {
    max-width: 32rem;
  }
}

.modal-resource-share {
  .modal-dialog {
    max-width: 40rem;

    .modal-body {
      .navbar {
        padding: .75rem 0;

        h6 {
          margin: 0;
        }
      }

      .list-users-permissions {
        margin-bottom: 2rem;

        h6 {
          margin-bottom: 1rem;
        }

        .list-users {
          max-height: 20rem;
          overflow-y: auto;
          
          .list-group {
            .list-group-item {
              &.item-owner {
                @include justify-content(flex-start);
                padding: .75rem .5rem;

                .user-name {
                  width: calc(100% - 10rem);
                }
              }

              .user-name {
                width: calc(100% - 12rem);
              }
            }
          }
        }
      }

      .form-add-user {
        .form-group {
          .form-label {
            display: block;
            margin-bottom: .5rem;
          }

          .input-group {
            @include justify-content(flex-start);

            .algolia-autocomplete,
            .form-control,
            .btn {
              margin-right: .5rem;
            }

            .algolia-autocomplete {
              @include flex-grow(1);
            }
          }
        }
      }
    }

    @media (max-width: 576px) {
      .modal-body {
        .form-add-user {
          .form-control {
            margin-bottom: .5rem;
            width: 100%;
          }
        }
      }
    }
  }
}

.modal-user-select {
  .modal-dialog {
    max-width: 40rem;

    .modal-body {
      .nav {
        &.nav-tabs {
          border-color: $white;

          .nav-link {
            border-color: $white;
            border-radius: 0;
            font-weight: 500;
            padding: .5rem .75rem;

            &:hover {
              background-color: $gray-200;
            }
          }
        }
      }

      .tab-content {
        .tab-pane {
          .form-control {
            margin-bottom: 1rem;
          }

          .list-groups,
          .list-users {
            height: 20rem;
            overflow-y: auto;
          }

          .list-users {
            height: 16.625rem;
          }
        }
      }
    }

    .navbar {
      padding: .75rem;

      h6 {
        margin-bottom: 0;
      }
    }

    .selected-users {
      height: 20rem;
      overflow-y: auto;

      .list-group {
        .list-group-item {
          padding: .0545rem .5rem;
        }
      }
    }
  }
}
