.app-content {
  &.page-home {
    .article-resources {
      padding: 0 1.5rem;

      &.no-sidebar {
        .article-content {
          .article-body {
            .card-group {
              @include justify-content(center);
            }
          }
        }
      }

      &:not(.collapse-sidebar) {
        .article-content {
          .article-sidebar {
            .navbar {
              .btn {
                .fa-chevron-right {
                  display: none;
                }
              }
            }
          }
        }
      }

      &.collapse-sidebar {
        .article-content {
          .article-sidebar {
            margin-left: -17.5rem;

            .navbar {
              width: 18.5rem;

              .btn {
                .fa-chevron-left {
                  display: none;
                }
              }
            }
          }

          .article-body {
            padding-left: 3rem;
          }
        }
      }

      .article-content {
        .article-sidebar {
          background-color: $white;
          -webkit-transition: margin-left .35s;
          -moz-transition: margin-left .35s;
          -o-transition: margin-left .35s;
          transition: margin-left .35s;

          .navbar {
            @include justify-content(flex-end);
            background-color: $accent;
            height: 3rem;
            padding: .5rem 0;

            .btn-light {
              background-color: $accent;
              border-color: $accent;
              height: 3rem;
              max-height: 3rem;
              padding: .5rem .75rem;
              position: -webkit-sticky;
              position: sticky;
              top: 6rem;
              -webkit-transition: left .35s;
              -moz-transition: left .35s;
              -o-transition: left .35s;
              transition: left .35s;

              &:hover {
                .fa-chevron-left,
                .fa-chevron-right {
                  color: $white;
                }
              }
    
              .fa-chevron-left,
              .fa-chevron-right {
                color: $gray-200;
                font-size: 1.5rem;
              }
            }
          }

          .form-filters {
            padding: 1rem;
          }
        }

        .article-body {
          padding: 1.5rem 0;

          .card-group {
            margin: -.5rem;

            .card {          
              cursor: pointer;
              max-width: 16rem;
              min-width: 16rem;
              margin: .5rem;
              padding: 0;
            }
          }
        }

        @media (max-width: 767.98px) {
          .article-sidebar {
            margin: 0 -1.5rem;

            .navbar {
              display: none;
            }

            .form-filters {
              padding: 1rem 1.5rem;
            }
          }
        }

        @media (min-width: 768px) {
          .article-sidebar {
            height: calc(100vh - 9rem);
            margin: 0 0 0 -1.5rem;
            position: -webkit-sticky;
            position: sticky;
            top: 6rem;
            z-index: 980;

            .form-filters {
              height: calc(100vh - 12rem);
              overflow-x: hidden;
              overflow-y: auto;
            }
          }
        }
      }
    }
  }
}
