.app-content {
  &.page-home {
    .article-resources {
      padding: 0 1.5rem;

      &:not(.collapse-sidebar) {
        .article-content {
          .article-sidebar {
            .navbar {
              .btn {
                .fa-chevron-right {
                  display: none;
                }
              }
            }
          }
        }
      }

      &.collapse-sidebar {
        .article-content {
          .article-sidebar {
            margin-left: -17.5rem;

            .navbar {
              width: 18.5rem;

              .btn {
                .fa-chevron-left {
                  display: none;
                }
              }
            }
          }

          .article-body {
            padding-left: 3rem;
          }
        }
      }

      .article-content {
        .article-sidebar {
          background-color: $white;
          -webkit-transition: margin-left .35s;
          -moz-transition: margin-left .35s;
          -o-transition: margin-left .35s;
          transition: margin-left .35s;

          &.dialog {
            &.ie {
              top: 0 !important;
            }
          }

          .navbar {
            @include justify-content(flex-end);
            background-color: $accent;
            height: 3rem;
            padding: 0;

            .btn-light {
              background-color: $accent;
              border-color: $accent;
              height: 3rem;
              padding: .5rem 1rem;

              &:hover {
                .fa-chevron-left,
                .fa-chevron-right,
                .fa-filter {
                  color: $white;
                }
              }
    
              .fa-chevron-left,
              .fa-chevron-right,
              .fa-filter {
                color: $gray-200;
              }

              .fa-chevron-left,
              .fa-chevron-right {
                font-size: 1.5rem;
              }

              .fa-filter {
                font-size: 1.25rem;
              }
            }
          }

          .form-filters {
            padding: 1rem;
          }
        }

        .article-body {
          padding: 1.5rem 0;

          .navbar {
            @include justify-content(space-between);
            margin-bottom: .5rem;
            padding: 0;
          }

          .card-group {
            margin: -.5rem;

            .card {
              cursor: pointer;
              max-width: 16rem;
              min-width: 16rem;
              margin: .5rem;
              padding: 0;

              &:active {
                background-color: $gray-200;
              }

              .card-img-top {
                @include align-self(center);
                margin: .5rem auto 0;
                width: auto;
              }
            }
          }
        }
      }

      @media (max-width: 991.98px) {
        .article-content {
          .article-sidebar {
            position: -webkit-sticky;
            position: sticky;
            top: 5rem;
            z-index: 970;
          }
        }
      }

      @media (max-width: 768px) {
        .article-content {
          .article-body {
            .card-group {
              .card {
                max-width: calc(30vw - 1.5rem);
                min-width: calc(30vw - 1.5rem);
              }
            }
          }
        }
      }

      @media (max-width: 767.98px) {
        &.collapse-sidebar {
          .article-content {
            .article-sidebar {
              margin: 0 -1rem;
  
              .navbar {
                width: 100%;
              }
            }

            .article-body {
              padding-left: 0;
            }
          }
        }

        .article-content {
          margin: 0 -.5rem;

          .article-sidebar {
            margin: 0 -1rem;

            &.dialog {
              .form-filters {
                margin: 0 .5rem;
                width: calc(100% - 1rem);

                .form-group {
                  @include display-flex(row);
                  @include align-items(flex-start);
    
                  .form-label {
                    min-width: 8rem;
                    width: 8rem;
                  }
                }
              }
            }
            
            .navbar {
              background-color: $gray-200;
              border-color: $gray-200;

              .btn-light {
                background-color: $gray-200;
                border-color: $gray-200;

                &:hover {
                  .fa-filter {
                    color: $gray-900;
                  }
                }

                &.btn-toggle {
                  display: none;
                }

                .fa-chevron-left,
                .fa-chevron-right {
                  display: none;
                }

                .fa-filter {
                  color: $gray-700;
                }
              }
            }

            .form-filters {
              padding: 1rem;
            }
          }

          .article-body {
            padding: 1rem 0;

            .card-group {
              .card {
                margin: .325rem;

                .card-body {
                  padding: 1rem;
                }
              }
            }
          }
        }
      }

      @media (max-width: 576px) {
        .article-content {
          .article-body {
            .card-group {
              .card {
                max-width: calc(50vw - 1.5rem);
                min-width: calc(50vw - 1.5rem);
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        .article-content {
          .article-sidebar {
            height: calc(100vh - 8rem);
            margin: 0 0 0 -1.5rem;

            .navbar {
              .btn-light {
                &.btn-dialog {
                  display: none;
                }
                
                .fa-filter {
                  display: none;
                }
              }
            }

            .form-filters {
              box-shadow: none;
              display: block;
              height: calc(100vh - 12rem);
              overflow-x: hidden;
              overflow-y: auto;
              position: static;
              z-index: inherit;
            }
          }
        }

        .article-body {
          .navbar {
            display: none;
          }
        }
      }

      @media (min-width: 992px) {
        .article-content {
          .article-sidebar {
            height: calc(100vh - 9rem);
            position: -webkit-sticky;
            position: sticky;
            top: 6rem;
            z-index: 970;
          }
        }
      }
    }
  }
}
