.app-content {
  &.page-shared {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    height: 100vh;

    .article-resources {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          background-color: $gray-100;
          border-bottom: 1px solid $gray-400;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            @include flex-direction(row);

            &:first-child {
              margin-right: 1rem;
              width: 16.5rem;
            }

            &.nav-main {
              @include flex-grow(1);
              position: relative;
            }

            .nav-item {
              @include display-flex(row);
              @include align-items(center);

              &.nav-item-drawer {
                .btn-light {
                  padding: .25rem;

                  img {
                    width: 3rem;
                  }
                }
              }

              &.nav-item-submodule {
                .btn-light {
                  font-size: 1.25rem;

                  .fas {
                    font-size: 1.25rem;
                  }
                }
              }

              .btn-light {
                margin: 0 .25rem;                
              }

              .item-text {
                font-size: 1.25rem;
                width: 12rem;
              }
            }
            
            .btn-light {
              &:hover {
                .fas {
                  color: $gray-900;
                }
              }

              &.btn-more {
                padding: .325rem 1rem;
              }

              .fas {
                color: $gray-700;
                font-size: 1.5rem;

                &.fa-arrow-left {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      .article-content {
        .article-sidebar {
          margin: 0;
        }

        .article-body {
          .navbar {
            @include justify-content(space-between);
            padding: .75rem 0;

            .navbar-nav {
              .form-add-resource {
                .form-label {
                  margin-right: .5rem;
                }

                .btn-primary {
                  margin-left: .5rem;  
                }
              }

              .btn-primary {
                margin-left: 1rem;
              }
            }
          }

          .table-head,
          .table-body {
            @include user-select(none);
            margin-bottom: 0;

            th,
            td {
              padding: 1rem;

              .btn {
                padding: .325rem;
                margin: -.5rem 0;

                .fa-info-circle {
                  font-size: 1.375rem;
                }
              }
            }

            a {
              color: $gray-900;
              display: inline-block;
              padding-left: 2.25rem;
              position: relative;
              word-break: break-word;

              .fas {
                position: absolute;
                left: 0;

                &.fa-folder {
                  color: $yellow;
                }

                &.fa-file-word,
                &.fa-file-alt {
                  color: $blue;
                }

                &.fa-file-excel {
                  color: $green;
                }

                &.fa-file-image,
                &.fa-file-powerpoint,
                &.fa-file-pdf {
                  color: $red;
                }

                font-size: 1.5rem;
                min-width: 2rem;
              }              
            }
          }

          .card-group {            
            @include user-select(none);
            margin: 0 -.5rem;

            .card {
              cursor: pointer;
              max-width: 16rem;
              min-width: 16rem;
              margin: .5rem;
              padding: 0;
              position: relative;

              .card-img-top {
                padding: 1rem;
                text-align: center;

                .fas {
                  font-size: 8rem;

                  &.fa-folder {
                    color: $yellow;
                  }
  
                  &.fa-file-word,
                  &.fa-file-alt {
                    color: $blue;
                  }
  
                  &.fa-file-excel {
                    color: $green;
                  }
  
                  &.fa-file-image,
                  &.fa-file-powerpoint,
                  &.fa-file-pdf {
                    color: $red;
                  }
                }
              }

              .card-body {
                @include display-flex(column);
                @include justify-content(flex-end);
                padding: 1rem;

                .card-link {
                  color: $gray-700;
                  display: inline-block;
                  margin-bottom: .5rem;
                  word-break: break-word;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                .custom-checkbox {
                  position: absolute;
                  top: .5rem;
                  right: .5rem;
                }
              }
            }    
          }
        }
      }

      @media (max-width: 991.98px) {
        .article-header {
          margin: 0 -.5rem;
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 980;

          .navbar {
            @include justify-content(space-between);
            padding: 1rem;

            .navbar-nav {
              &.nav-main {
                display: none;
              }

              .nav-divider {
                display: none;
              }

              .nav-item {
                &.dropdown {
                  order: 1;
                }

                .btn-edit,
                .btn-share,
                .btn-download {
                  display: none;
                }
              }

              .nav-item-drawer {
                display: none;
              }

              .input-group {
                .input-group-prepend {
                  .btn-search {
                    display: none;
                  }
                }

                .algolia-autocomplete {
                  width: 100%;
                }

                .form-control {
                  padding-left: 3.5rem;
                }
              }
            }
          }
        }

        .article-content {
          margin: 0 -.5rem;

          .article-sidebar {
            display: none;
          }

          .article-body {
            margin: 0;

            .navbar {
              .breadcrumb {
                display: none;
              }
            }

            .table-head,
            .table-body {
              colgroup:nth-child(3),
              colgroup:nth-child(4) {
                display: none;
              }

              tr {
                th:nth-child(3),
                th:nth-child(4),
                td:nth-child(3),
                td:nth-child(4) {
                  display: none;
                }
              }
            }

            .card-group {
              padding: .675rem .25rem;

              .card {
                margin: .325rem;

                .card-body {
                  padding: 1rem;
                }
              }
            }
          }
        }
      }
      
      @media (max-width: 576px) {
        .article-header {
          .navbar {
            .navbar-nav {
              &:first-child {
                max-width: 16.5rem;
              }
            }
          }
        }

        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(5),
              colgroup:nth-child(6) {
                display: none;
              }

              tr {
                th:nth-child(5),
                th:nth-child(6),
                td:nth-child(5),
                td:nth-child(6) {
                  display: none;
                }
              }
            }

            .card-group {
              .card {
                max-width: calc(50vw - 1.5rem);
                min-width: calc(50vw - 1.5rem);
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        .article-header {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 980;

          .navbar {
            .navbar-nav {
              &:not(.nav-main) {
                .btn-search {
                  display: none;
                }
              }

              .nav-item-submodule,
              .nav-item-result {
                display: none;
              }

              .input-group {
                .input-group-prepend {
                  .btn-back {
                    display: none;
                  }
                }

                .form-control {
                  width: 24rem;
                }
              }
            }
          }
        }

        .article-content {
          .article-sidebar {
            height: calc(100vh - 4rem);
            overflow-x: hidden;
            overflow-y: auto;
            padding: .5rem 0;
            position: -webkit-sticky;
            position: sticky;
            top: 4rem;
          }

          .article-body {
            .navbar {
              .navbar-text {
                display: none;
              }
            }

            .table-head {
              position: -webkit-sticky;
              position: sticky;
              top: 4rem;
              z-index: 970;
            }

            .table-head,
            .table-body {
              colgroup:nth-child(7) {
                display: none;
              }

              th:nth-child(7),
              td:nth-child(7) {
                display: none;
              }
            }
          }
        }
      }
    }

    .article-tests {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          background-color: $gray-100;
          border-bottom: 1px solid $gray-400;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            @include flex-direction(row);

            &:first-child {
              margin-right: 1rem;
              width: 16.5rem;
            }

            &.nav-main {
              @include flex-grow(1);
              position: relative;
            }

            .nav-item {
              @include display-flex(row);
              @include align-items(center);

              &.nav-item-drawer {
                .btn-light {
                  padding: .25rem;

                  img {
                    width: 3rem;
                  }
                }  
              }

              &.nav-item-submodule {
                .btn-light {
                  font-size: 1.25rem;

                  .fas {
                    font-size: 1.25rem;
                  }
                }
              }

              .btn-light {
                margin: 0 .25rem;
              }

              .item-text {
                font-size: 1.25rem;
                width: 12rem;
              }
            }

            .btn-light {
              &:hover {
                .fas {
                  color: $gray-900;
                }
              }

              &.btn-more {
                padding: .325rem 1rem;
              }

              .fas {
                color: $gray-700;
                font-size: 1.5rem;

                &.fa-arrow-left {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      .article-content {
        .article-sidebar {
          margin: 0;
        }

        .article-body {
          .navbar {
            @include justify-content(space-between);
            padding: .75rem 0;

            &.navbar-pagination {
              @include justify-content(flex-end);
            }

            .navbar-nav {
              .form-add-resource {
                .form-label {
                  margin-right: .5rem;
                }

                .btn-primary {
                  margin-left: .5rem;  
                }
              }

              .btn-primary {
                margin-left: 1rem;
              }
            }
          }

          .table-head,
          .table-body {
            @include user-select(none);
            margin-bottom: 0;

            th,
            td {
              padding: 1rem;

              .btn {
                padding: .325rem;
                margin: -.5rem 0;

                .fa-info-circle {
                  font-size: 1.375rem;
                }
              }
            }

            a {
              color: $gray-900;
              word-break: break-word; 
            }
          }
        }
      }

      @media (max-width: 991.98px) {
        .article-header {
          margin: 0 -.5rem;
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 980;

          .navbar {
            @include justify-content(space-between);
            padding: 1rem;

            .navbar-nav {
              &.nav-main {
                display: none;
              }

              .nav-divider {
                display: none;
              }

              .nav-item {
                &.dropdown {
                  order: 1;
                }

                .btn-share,
                .btn-edit,
                .btn-assign {
                  display: none;
                }
              }

              .nav-item-drawer {
                display: none;
              }

              .input-group {
                .input-group-prepend {
                  .btn-search {
                    display: none;
                  }
                }

                .form-control {
                  padding-left: 3.5rem;
                }
              }
            }
          }
        }

        .article-content {
          margin: 0 -.5rem;

          .article-sidebar {
            display: none;
          }

          .article-body {
            margin: 0;
          }
        }
      }

      @media (max-width: 767.98px) {
        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(3),
              colgroup:nth-child(4) {
                display: none;
              }

              th:nth-child(3),              
              th:nth-child(4),
              td:nth-child(3),
              td:nth-child(4) {
                display: none;
              }
            }
          }
        }
      }

      @media (max-width: 576px) {
        .article-header {
          .navbar {
            .navbar-nav {
              &:first-child {
                width: 14rem;
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(6) {
                display: none;
              }

              th:nth-child(6),
              td:nth-child(6) {
                display: none;
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        .article-header {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 980;

          .navbar {
            .navbar-nav {
              &:not(.nav-main) {
                .btn-search {
                  display: none;
                }
              }

              .nav-item-submodule {
                display: none;
              }

              .input-group {
                .input-group-prepend {
                  .btn-back {
                    display: none;
                  }
                }

                .form-control {
                  width: 24rem;
                }
              }
            }
          }
        }

        .article-content {
          .article-sidebar {
            height: calc(100vh - 4rem);
            overflow-x: hidden;
            overflow-y: auto;
            padding: .5rem 0;
            position: -webkit-sticky;
            position: sticky;
            top: 4rem;
          }

          .article-body {
            .table-head {
              position: -webkit-sticky;
              position: sticky;
              top: 4rem;
              z-index: 970;
            }
          }
        }
      }
    }

    .article-file-upload {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          background-color: $gray-100;
          border-bottom: 1px solid $gray-400;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            .item-text {
              font-size: 1.25rem;
              width: 12rem;
            }
          }
        }
      }
      
      .article-content {
        .article-body {
          .navbar {
            @include justify-content(space-between);
            padding: .75rem 0;

            .navbar-nav {
              .form-add-resource {
                .form-label {
                  margin-right: .5rem;
                }

                .btn-primary {
                  margin-left: .5rem;  
                }
              }

              .btn-primary {
                margin-left: 1rem;
              }
            }
          }

          .file-upload {
            @include justify-content(center);
            min-height: calc(100vh - 10rem);
          }
        }
      }
    }

    .article-weblinks {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          background-color: $gray-100;
          border-bottom: 1px solid $gray-400;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            .item-text {
              font-size: 1.25rem;
              width: 12rem;
            }
          }
        }
      }
      
      .article-content {
        .article-body {
          .navbar {
            @include justify-content(space-between);
            padding: .75rem 0;

            .navbar-nav {
              .form-add-resource {
                .form-label {
                  margin-right: .5rem;
                }

                .btn-primary {
                  margin-left: .5rem;  
                }
              }

              .btn-primary {
                margin-left: 1rem;
              }
            }
          }

          .weblink-group {
            .weblink-details {
              @include flex-grow(1);
            }
          }

          .form-add-weblink {
            margin-top: .5rem;

            .form-group {
              margin: .5rem 0;
              margin-right: 1rem;

              .form-label {
                margin-right: .5rem;
              }
            }
          }
        }
      }
    }

    .article-create-test {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          @include justify-content(space-between);
          background-color: $gray-100;
          border-bottom: 1px solid $gray-400;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            @include flex-direction(row);

            .nav-item {
              @include display-flex(row);
              @include align-items(center);

              .btn-light {
                margin: 0 .25rem;
              }

              .item-text {
                font-size: 1.25rem;
              }
            }

            .btn-light {
              &:hover {
                .fas {
                  color: $gray-900;
                }
              }

              &.btn-more {
                padding: .325rem 1rem;
              }

              .fas {
                color: $gray-700;
                font-size: 1.5rem;

                &.fa-arrow-left {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      .article-content {
        .article-body {
          .form-test-attributes {
            padding: 1.5rem 0;

            .form-group-actions {
              @include display-flex(row);
              @include justify-content(flex-end);
            }
          }
        }
      }

      @media (min-width: 768px) {        
        .article-content {
          .article-body {
            .form-test-attributes {
              max-width: 48rem;

              .form-group {
                @include display-flex(row);
                @include align-items(flex-start);
      
                .form-group {
                  @include flex-grow(1);
                  @include flex-wrap(wrap);
                  margin-bottom: 0;
                }
      
                .form-label {
                  min-width: 12rem;
                  width: 12rem;
                }
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        .article-header {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 980;
        }
      }
    }
  }
}
