.app-content {
  &.page-tools {
    .article-tools {
      padding: 1.5rem;

      .article-content {
        .article-body {
          .nav {
            @include justify-content(center);

            .nav-link {
              @include display-flex(column);
              @include align-items(center);
              color: $gray-700;
              font-size: 1.25rem;
              min-width: 12rem;
              margin: 1rem;
              padding: 1rem;

              &:hover {
                background-color: $gray-200;
                color: $gray-900;
              }

              .fas {                
                font-size: 6rem;
                margin-bottom: .5rem;
              }
            }
          }
        }
      }
    }
  }
}