.page-user {
  .app-content {
    .form-user-details {
      padding: 2rem;

      h2 {
        color: $primary;
        margin-bottom: 2rem;
      }

      .row {
        &:not(.no-gutters) {
          margin-bottom: 1rem;
        }

        .form-actions {
          text-align: right;
        }
      }
    }

    @media (min-width: 1200px) {
      .form-user-details {
        padding: 2rem 8rem;
      }
    }
  }
}
