.app-content {
  &.page-profile {
    .article-profile {
      background-color: $gray-200;
      padding: .75rem 1.5rem;
    }

    .article-update-personal-particulars,
    .article-update-personal-preferences,
    .article-change-password,
    .article-reset-student-password,
    .article-reset-teacher-password {
      padding: 0 1.5rem;

      &.collapse-sidebar {
        .article-content {
          .article-sidebar {
            height: 0;
          }
        }
      }

      &.no-sidebar {
        .article-header {
          display: none;
        }
      }

      .article-header {
        background-color: $gray-200;
        margin: 0 -1.5rem;
        padding: .75rem 1.5rem;

        .btn-light {
          height: 3rem;
          padding: .5rem .75rem;

          .fas {
            &.fa-caret-down {
              font-size: 1.325rem;
            }
          }
        }
      }

      .article-content {
        .article-sidebar {
          margin-bottom: 0;
          overflow: hidden;
          -webkit-transition: height .35s;
          -moz-transition: height .35s;
          -o-transition: height .35s;
          transition: height .35s;
        }
      }
    }

    .article-update-personal-preferences {
      .dropdown {
        &.bootstrap-select {
          .dropdown-item {
            .fas {
              display: none;
            }
          }
        }
      }
    }

    .form-personal-particulars,
    .form-personal-preferences,
    .form-change-password,
    .form-reset-student-password,
    .form-reset-teacher-password {
      max-width: 360px;

      .form-label {
        display: block;
      }

      .form-group {
        .btn {
          margin-left: 0;          
        }
      }
    }

    @media (max-width: 767.98px) {
      .article-update-personal-particulars,
      .article-update-personal-preferences,
      .article-change-password,
      .article-reset-student-password,
      .article-reset-teacher-password {
        padding: 0 1rem;

        &:not(.no-sidebar) {
          .article-header {
            h5 {
              display: none;
            }
          }
        }

        .article-header {
          @include justify-content(flex-end);
          height: 3rem;
          margin: 0 -1rem;
          padding: 0;
        }

        .article-content {
          .article-sidebar {
            background-color: $white;
            margin: 0 -1rem;

            .nav {
              .nav-item {
                .nav-link {
                  &:not(.disabled):hover,
                  &:not(.disabled):active {
                    background-color: $gray-100;
                  }
                }
              }
            }
          }

          .article-body {
            padding: 1rem 0;
          }
        }
      }
    }

    @media (min-width: 768px) {
      .article-update-personal-particulars,
      .article-update-personal-preferences,
      .article-change-password,
      .article-reset-student-password,
      .article-reset-teacher-password {
        &:not(.no-sidebar) {
          .article-body {
            .form-personal-particulars,
            .form-personal-preferences,
            .form-change-password,
            .form-reset-student-password,
            .form-reset-teacher-password {
              .form-header {
                display: none;
              }
            }
          }
        }

        .article-header {
          .btn-light {
            display: none;
          }
        }

        .article-content {
          padding: 1.5rem 0;
        }
      }
    }
  }
}
