.article {
  padding: 1.5rem;

  &.no-sidebar {
    .article-content {
      @include flex-direction(row);

      .article-sidebar {
        display: none;
      }

      .article-body {
        margin-left: 0;
      }
    }
  }

  .article-header {
    @include align-items(flex-start);
    @include display-flex(row);
    @include flex-wrap(wrap);

    h5 {
      @include flex-grow(1);
      min-height: 1.25rem;
    }

    .btn {
      margin-left: .5rem;
    }
  }

  .article-content {
    @include display-flex(column);

    .article-sidebar {
      margin-bottom: 1rem;
    }

    .article-body {      
      min-width: 280px;
    }
  }

  @media (min-width: 768px) {
    .article-content {
      @include flex-direction(row);

      .article-sidebar {
        min-width: 240px;
        width: 240px;
      }

      .article-body {
        @include flex-grow(1);
        margin-left: 1.5rem;
      }
    }
  }
}
