.app-content {
  &.page-home {
    .article-home {
      background-color: $yellow;
      padding: 1.5rem;

      h1 {
        color: $white;
      }
    }

    .article-resources {
      .card-group {
        margin: -.5rem;

        .card {          
          cursor: pointer;
          max-width: 18rem;
          min-width: 18rem;
          margin: .5rem;
          padding: 0;
        }
      }
    }
  }
}
