.app-content {
  &.page-reports {
    .article-report {
      padding: 0 1.5rem;

      &:not(.collapse-sidebar) {
        .article-content {
          .article-sidebar {
            .navbar {
              .btn {
                .fa-chevron-right {
                  display: none;
                }
              }
            }
          }
        }
      }

      &.collapse-sidebar {
        .article-content {
          .article-sidebar {
            margin-left: -17.5rem;

            .navbar {
              width: 18.5rem;

              .btn {
                .fa-chevron-left {
                  display: none;
                }
              }
            }
          }

          .article-body {
            padding-left: 3rem;
          }
        }
      }

      .article-content {
        .article-sidebar {
          background-color: $white;
          -webkit-transition: margin-left .35s;
          -moz-transition: margin-left .35s;
          -o-transition: margin-left .35s;
          transition: margin-left .35s;

          .navbar {
            @include justify-content(flex-end);
            height: 3rem;
            padding: 0;

            .btn-light {
              background-color: $white;
              border-color: $white;
              height: 3rem;
              padding: .5rem .75rem;
    
              &:hover {
                .fa-chevron-left,
                .fa-filter {
                  color: $primary;
                }
              }
    
              .fa-chevron-left,
              .fa-chevron-right,
              .fa-filter {
                color: $primary;
              }

              .fa-chevron-left,
              .fa-chevron-right {
                font-size: 1.5rem;
              }

              .fa-filter {
                font-size: 1.25rem;
              }
            }
          }

          .form-filters {
            padding: 1rem;
          }
        }

        .article-body {
          padding: 1.5rem 0;

          .article-usage-report,
          .article-proficiency-report,
          .article-login-report {
            background-color: $white;
            overflow-x: auto;
            max-width: 76rem;
            padding: 1rem;

            .article-header {
              .btn {
                margin: 0 .25rem 0 0;
                padding: .25rem;

                .fa-info-circle {
                  font-size: 1.25rem;
                }
              }
            }

            .article-content {
              padding: 0 2rem;

              .article-body {
                padding: 0;
              }
            }
          }

          .navbar-report {
            @include justify-content(flex-end);
            max-width: 76rem;
            padding: .5rem 0;

            .btn-light {
              .fas {
                font-size: 1.5rem;
              }
            }
          }
        }
      }

      @media (max-width: 991.98px) {
        .article-content {
          .article-sidebar {
            position: -webkit-sticky;
            position: sticky;
            top: 5rem;
            z-index: 970;
          }
        }
      }

      @media (max-width: 767.98px) {
        &.collapse-sidebar {
          .article-content {
            .article-sidebar {
              height: 3rem;
              margin: 0 -1rem;
  
              .navbar {
                width: 100%;
              }
            }

            .article-body {
              padding: 1rem 0;
            }
          }
        }

        .article-content {
          margin: 0 -.5rem;

          .article-sidebar {
            margin: 0 -1rem;

            &.dialog {
              .form-filters {
                margin: 0 .5rem;
                width: calc(100% - 1rem);

                .form-group {
                  @include display-flex(row);
                  @include align-items(flex-start);
    
                  .form-label {
                    min-width: 8rem;
                    width: 8rem;
                  }
                }
              }
            }

            .navbar {
              background-color: $gray-200;
              border-color: $gray-200;

              .btn-light {
                background-color: $gray-200;
                border-color: $gray-200;

                &:hover {
                  .fa-filter {
                    color: $gray-900;
                  }
                }

                &.btn-toggle {
                  display: none;
                }

                .fa-chevron-left,
                .fa-chevron-right {
                  display: none;
                }

                .fa-filter {
                  color: $gray-700;
                }
              }
            }

            .form-filters {
              padding: 1rem;
            }
          }

          .article-body {
            .article-usage-report,
            .article-proficiency-report,
            .article-login-report {
              .article-content {
                .article-body {
                  .chart {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        .article-content {
          .article-sidebar {
            height: calc(100vh - 8rem);
            margin: 0 0 0 -1.5rem;

            .navbar {
              .btn-light {
                &.btn-dialog {
                  display: none;
                }

                .fa-filter {
                  display: none;
                }
              }
            }

            .form-filters {
              box-shadow: none;
              display: block;
              height: calc(100vh - 11rem);
              overflow-x: hidden;
              overflow-y: auto;
              position: static;
              z-index: inherit;
            }
          }

          .article-body {
            .article-usage-report,
            .article-proficiency-report,
            .article-login-report {
              .article-content {
                .article-body {
                  .table {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        .article-content {
          .article-sidebar {
            height: calc(100vh - 11rem);
            position: -webkit-sticky;
            position: sticky;
            top: 8rem;
            z-index: 970;

            .form-filters {
              height: calc(100vh - 14rem);
            }
          }
        }
      }
    }
  }
}

.modal-login-summary {
  .modal-dialog {
    .modal-body {
      .navbar {
        &.navbar-expand {
          padding: 0.5rem 0;
        }

        .navbar-nav {
          .nav-item {
            +.nav-item {
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}
