.app-content {
  &.page-error {
    @include display-flex(column);
    background-color: $white;
    
    .article-error {
      .article-content {
        .article-body {
          @include display-flex(column);
          @include align-items(center);
          margin: -1.5rem;
          min-height: calc(100vh - 9rem);

          .error-img {
            max-height: calc(100vh - 9rem);
            max-width: 100vw;
          }

          .error-text {
            background-color: rgba($white, .5);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            font-size: 1.125rem;
            margin: 0;
            padding: 1rem;
            max-width: calc(100vw - 3rem);
            position: fixed;
            bottom: 3rem;
          }
        }
      }
    }

    @media (max-width: 576px) {
      .article-error {
        .article-content {
          .article-body {
            min-height: calc(100vh - 8rem);

            .error-img {
              max-height: calc(100vh - 8rem);
              max-width: 100vw;
            }
          }
        }
      }
    }
  }
}
