.app-content {
  &.page-home {
    .article-dashboard {
      background-color: $yellow;
      padding: 1.5rem;

      h1 {
        color: $white;
      }
    }

    .article-resources {
      .card-group {
        .card {
          border: 1px solid $gray-400;
          border-radius: 0;
          cursor: pointer;
          max-width: 240px;
          min-width: 240px;
          padding: 0;

          + .card {
            border: 1px solid $gray-400;
          }

          .card-img-top {
            border-radius: 0;
          }
        }
      }
    }

    .tab-pane {
      padding: 1.5rem;

      .article {
        padding: 0;

        h5 {
          margin-bottom: 1.5rem;
        }

        canvas {
          background-color: $white;
          border: 1px solid $gray-400;
        }
      }

      .form-filters {
        h5 {
          margin-bottom: 1.5rem;
        }

        .form-group {
          &.form-actions {
            text-align: right;
          }

          .btn-primary {
            padding: .375rem 1.25rem;
          }
        }
      }
    }

    .tab-pane-report {
      .article-proficiency-report,
      .article-login-report,
      .article-usage-report {
        max-width: 560px;
        position: relative;
      }
    }

    .tab-pane-home {
      &.show {
        @include display-flex(row);
        @include justify-content(center);

        .article-login-trend,
        .article-popular-channels {
          max-width: 520px;
          position: relative;
        }
      }
    }

    @media (min-width: 768px) {
      .tab-pane-home {
        .article-login-trend,
        .article-popular-channels {
          width: 480px;
        }
      }
    }

    @media (min-width: 1200px) {
      .nav-tabs {
        padding: 0 8rem;
      }

      .article-dashboard {
        padding: 3rem 8rem;
      }

      .tab-pane {
        padding: 2rem 8rem;
      }

      .tab-pane-home {
        .article-login-trend,
        .article-popular-channels {
          width: 520px;
        }
      }

      .tab-pane-report {
        .article-proficiency-report,
        .article-login-report,
        .article-usage-report {
          max-width: 640px;
          padding: 0 0 0 8rem;
        }
      }
    }
  }
}
