.app-content {
  &.page-error {
    @include display-flex(column);

    &.page-public {
      .article-error {
        .article-content {
          .article-body {
            min-height: calc(100vh - 6rem);

            img {
              max-height: calc(100vh - 6rem);
              max-width: calc(100vw - 3rem);
            }
          }
        }
      }
    }

    .article-error {
      .article-content {
        .article-body {
          @include display-flex(row);
          @include align-items(flex-start);
          @include justify-content(center);
          min-height: calc(100vh - 12rem);

          img {
            max-height: calc(100vh - 12rem);
            max-width: calc(100vw - 3rem);
          }
        }
      }
    }

    @media (max-width: 576px) {
      .article-error {
        .article-content {
          .article-body {
            min-height: calc(100vh - 11rem);
          }
        }
      }
    }
  }
}
