.app-content {
  &.page-legacy {
    .article-legacy {
      overflow-x: hidden;
      overflow-y: hidden;
      height: calc(100vh - 11rem);
      width: 100vw;
      margin: 0;
      padding: 0;

      .article-content {
        .article-body {
          .full {
            height: calc(100vh - 11rem);
            width: 100vw;
          }
        }
      }
    }

    @media (max-width: 991.98px) {
      .article-legacy {
        height: calc(100vh - 8rem);
        width: 100vw;

        .article-content {
          .article-body {
            .full {
              height: calc(100vh - 8rem);
              width: 100vw;
            }
          }
        }
      }
    }
  }
}
