.app-content {
  &.page-resources {
    .article-resources {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          background-color: $gray-200;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            @include align-items(center);
            @include flex-direction(row);

            &:first-child {
              margin-right: 1rem;
              width: 18.5rem;
            }

            &.nav-main {
              @include flex-grow(1);
              position: relative;
            }

            .nav-item {
              @include display-flex(row);
              @include align-items(center);

              .item-text {
                font-size: 1.25rem;
                width: 14rem;
              }
            }

            .input-group {
              position: relative;

              .input-group-prepend,
              .input-group-append {
                position: absolute;
                top: 1px;                
                z-index: 5;

                .btn-light {
                  background-color: $white;
                  border-color: $white;
                  margin-left: 0;
                  padding: .325rem .75rem;
                  
                  &:hover {
                    .fa {
                      color: $gray-900;
                    }
                  }

                  .fa {
                    color: $gray-500;
                    font-size: 1.375rem;
                    vertical-align: top;
                  }
                }              
              }

              .input-group-prepend {
                left: 1px;
              }

              .input-group-append {
                right: 1px;
              }

              .form-control {
                padding-left: 3rem;
                padding-right: 5rem;
                width: 20rem;
              }
            }

            .dialog-menu {
              .form-advanced-search {
                padding: 1rem 1.5rem;

                .form-group {
                  @include display-flex(row);
                  @include align-items(center);

                  &.form-group-actions {
                    @include justify-content(flex-end);
                  }

                  .form-label {
                    width: 20rem;
                  }

                  .form-input {
                    width: calc(100% - 10px);
                  }
                }
              }
            }
              
            .btn-light {
              &:hover {
                .fa {
                  color: $gray-900;
                }
              }

              &.btn-more-actions {
                padding: .325rem 1rem;
              }

              .fa {
                color: $gray-700;
                font-size: 1.625rem;
                vertical-align: bottom;

                &.fa-cloud {
                  font-size: 2rem;
                  width: 2.5rem;
                }

                &.fa-long-arrow-left {
                  font-size: 1.625rem;
                }
              }
            }
          }
        }
      }

      .article-content {
        .article-sidebar {
          margin: 0;
          
          .resources {
            .resource {
              &.active {
                > a {
                  color: $primary;
                  font-weight: bold;

                  .fa-folder,
                  .fa-folder-open {
                    color: $yellow;                    
                  }
                }
              }

              a {
                @include display-flex(row);
                @include align-items(center);
                color: $gray-700;
                padding: .5rem 1rem;
                text-decoration: none;                

                &:hover {
                  background-color: $gray-200;
                }

                .fa {
                  color: $gray-600;
                  font-size: .75rem;
                  min-width: 1rem;
                }

                .fa-folder,
                .fa-folder-open {
                  color: $yellow;
                  font-size: 1.5rem;
                  min-width: 2rem;
                }
              }

              > .resources {
                > .resource {
                  > a {
                    padding-left: 2.5rem;
                  }

                  > .resources {
                    > .resource {
                      > a {
                        padding-left: 4rem;
                      }

                      > .resources {
                        > .resource {
                          > a {
                            padding-left: 5.5rem;
                          }

                          > .resources {
                            > .resource {
                              > a {
                                padding-left: 7rem;
                              }

                              > .resources {
                                > .resource {
                                  > a {
                                    padding-left: 8.5rem;
                                  }

                                  > .resources {
                                    > .resource {
                                      > a {
                                        padding-left: 10rem;
                                      }

                                      > .resources {
                                        > .resource {
                                          > a {
                                            padding-left: 11.5rem;
                                          }

                                          > .resources {
                                            > .resource {
                                              > a {
                                                padding-left: 13rem;
                                              }

                                              > .resources {
                                                > .resource {
                                                  > a {
                                                    padding-left: 14.5rem;
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .article-body {
          .table {
            @include user-select(none);

            &.table-head {
              margin-bottom: 0;
            }

            th,
            td {
              padding: 1rem;

              .btn {
                padding: .325rem;
                margin: -.5rem 0;

                .fa-info-circle {
                  font-size: 1.375rem;
                }
              }
            }

            a {
              @include display-flex(row);
              @include align-items(flex-start);
              color: $gray-900;
              padding-left: 2.25rem;
              position: relative;

              .fa {
                position: absolute;
                left: 0;

                &.fa-folder {
                  color: $yellow;
                }

                &.fa-file-word-o {
                  color: $blue;
                }

                &.fa-file-excel-o {
                  color: $green;
                }

                font-size: 1.5rem;
                min-width: 2rem;
              }              
            }
          }

          .card-group {            
            @include user-select(none);
            padding: 1rem 0;
            margin: 0 -.5rem;

            .card {
              cursor: pointer;
              max-width: 16rem;
              min-width: 16rem;
              margin: .5rem;
              padding: 0;
              position: relative;

              .card-img-top {
                padding: 1rem;
                text-align: center;

                .fa {
                  font-size: 8rem;

                  &.fa-folder {
                    color: $yellow;
                  }

                  &.fa-file-word-o {
                    color: $blue;
                  }
  
                  &.fa-file-excel-o {
                    color: $green;
                  }
                }
              }

              .card-body {
                padding: 1rem;

                .card-link {
                  color: $gray-700;
                  display: inline-block;
                  margin-bottom: .5rem;

                  &:hover {
                    text-decoration: underline;
                  }
                }

                .custom-checkbox {
                  position: absolute;
                  top: .5rem;
                  right: .5rem;
                }
              }
            }    
          }
        }
      }

      @media (max-width: 992px) {
        .article-header {
          .navbar {
            @include justify-content(space-between);

            .navbar-nav {
              &.nav-main {
                display: none;
              }

              .nav-item-drawer {
                display: none;
              }
            }
          }
        }

        .article-content {
          .article-sidebar {
            display: none;
          }

          .article-body {
            margin: 0;
          }
        }
      }

      @media (max-width: 768px) {
        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(3),
              colgroup:nth-child(4) {
                display: none;
              }

              tr {
                th:nth-child(3),
                th:nth-child(4),
                td:nth-child(3),
                td:nth-child(4) {
                  display: none;
                }
              }
            }
          }
        }
      }

      @media (max-width: 576px) {
        .article-header {
          .navbar {
            padding: .75rem;

            .navbar-nav {
              &:first-child {
                width: 14rem;
              }

              .nav-item {
                .item-text {
                  width: 10rem;
                }
              }

              .btn-share,
              .btn-download {
                display: none;
              }
            }
          }
        }

        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(5),
              colgroup:nth-child(6) {
                display: none;
              }

              tr {
                th:nth-child(5),
                th:nth-child(6),
                td:nth-child(5),
                td:nth-child(6) {
                  display: none;
                }
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        .article-header {
          position: -webkit-sticky;
          position: sticky;
          top: 6rem;
          z-index: 980;

          .navbar {
            .navbar-nav {
              &:not(.nav-main) {
                .btn-search {
                  display: none;
                }
              }
              .nav-item-result {
                display: none;
              }

              .input-group {
                .form-control {
                  width: 32rem;
                }
              }
            }
          }
        }

        .article-content {
          .article-sidebar {
            height: calc(100vh - 13rem);
            overflow-x: hidden;
            overflow-y: auto;
            padding: .5rem 0;
            position: -webkit-sticky;
            position: sticky;
            top: 10rem;
          }

          .article-body {
            .table {
              &.table-head {
                position: -webkit-sticky;
                position: sticky;
                top: 10rem;
                z-index: 970;
              }
            }
          }
        }
      }

      @media (min-width: 768px) {
        .article-content {
          .article-body {
            .table-head,
            .table-body {
              colgroup:nth-child(7) {
                display: none;
              }

              th:nth-child(7),
              td:nth-child(7) {
                display: none;
              }
            }
          }
        }
      }

      @media (min-width: 576px) {
        .article-header {
          .navbar {
            .navbar-nav {
              .btn-more-actions {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}