html {
	color: #212529;
	font-family: Roboto,Open Sans,Arial,sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	text-align: left;
}

body {
	line-height: normal;
	margin: 0;
}

.d-none {
	display: none;
}

.channel-header {
	background-color: #99cc99;
	padding: .5rem 1rem;
}

.channel-header .navbar .navbar-text {
	font-size: 2rem;
	font-weight: bold;
	padding: 0 1rem;
}

.channel-header .navbar .navbar-text img {
	vertical-align: middle;
}

.channel-content {
	-webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
	padding: 2rem;
}

.channel-content .panel {
	margin-bottom: 2rem;
}

.channel-content .panel .panel-header {
	font-weight: bold;
	margin-bottom: 2rem;
}

.channel-content .panel .nav {
	display: -ms-flexbox;
  display: flex;
	-webkit-align-items: flex-start;
  align-items: flex-start;
	-ms-flex-direction: row;
  flex-direction: row;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.channel-content .panel .nav .nav-item {
	margin: 0 .5rem .5rem 0;
}

.channel-content .panel .nav .nav-link {
	background-color: #ffcc00;
	color: #fff;
	display: block;
	font-weight: bold;
	min-width: 8rem;
	padding: .5rem 1.25rem;
	text-decoration: none;
}

.channel-content .panel .nav .nav-link img {
	margin-right: .5rem;
	vertical-align: middle;
}

.channel-content .panel .nav .nav-link:active {
	background-color: #ffe888;
	color: #212529;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

.channel-footer {
	background-color: #99ccff;
	display: -ms-flexbox;
  display: flex;
	-webkit-align-items: center;
  align-items: center;
	-ms-flex-direction: row;
  flex-direction: row;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
	-webkit-justify-content: space-between;
  justify-content: space-between;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
}

.channel-footer .copyright {
	font-size: .75rem;
	font-weight: bold;
	padding: .75rem 1rem;
}

.channel-footer .copyright img {
	vertical-align: top;
	width: 1rem;
}

.channel-footer .logo img {
	max-width: 12rem;
	vertical-align: middle;
}

.mode-player .channel-header,
.mode-player .channel-footer {
	display: none;
}

.mode-player {
	overflow: hidden;
}

.mode-player .channel-content  {
	padding: 0;
}

.mode-player .channel-content .panel-player {
	margin-bottom: 0;
}

.mode-player .channel-content .panel-player object {
	height: 100vh;
	width: 100vw;
}

.resource-player {
	overflow: hidden;
}

.resource-player .nav {
	background-color: #ddd;
	display: -ms-flexbox;
  display: flex;
	-webkit-justify-content: center;
  justify-content: center;
	-webkit-align-items: center;
  align-items: center;
	-ms-flex-direction: row;
  flex-direction: row;
	-webkit-flex-wrap: wrap;
  flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: .5rem 1rem;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
}

.resource-player .nav .nav-item {
	
}

.resource-player .nav .nav-link {
	display: block;
	margin: 0 .5rem;
	text-decoration: none;
}

.resource-player .nav .nav-link img {
	vertical-align: middle;
}

.resource-player object {
	height: 100vh;
	width: 100vw;
}
