<div id="progress" class="progress">
	<div class="image">
		<img alt="Adaptations" src="https://via.placeholder.com/160"/>
	</div>
	<div class="title">Loading...</div>
	<div class="instructions">Good things come to those who wait! :)</div>
</div>
<object id="player" type="text/html">
</object>
<div class="navbar">
	<button class="toggle-menu" type="button">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAB1SURBVGhD7dZLCoQwEAXAHG+8ej5XcBYeZDTgKhB0IzZMFbxdN7SYxUsAQCQ556WU8q21/iKl39Ra+5xnzh3D27gcKNt55lwfGpYi5foD+m86BtdhMULWW08IgP+mCz0bXejN6EIAXNOFno0u9GZ0IQAIJqUd2fROi0pfENQAAAAASUVORK5CYII="/>
	</button>
	<button class="arrow-left d-none" type="button">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADxSURBVGhD7dexCoJgFMVxK5p6g4bWhp4iCHqR9tZeImhpiqaafBM/FVxbmnuBoKXsCLcG0dbOlfOHi+J3B3+Dg5FSzZVl2bdbnwHQy7Jsm6bpA9dLCGFqR34yxBFTfgagkx37qAlhkIOt8Fd9D00IzDXP87GtcfcLgZnYGndCsCQES0KwJARLQrAkBEtCsNQJRBX+4nY1gD9EURQjQJ41xM0VoiqO44G9+BcC2AuzshU/4aXnmHsnMCGEhTCMCcOaMKwJw5owrAnDmjCsCcNaGwbXpa34qQVztmNfNWA2duSvJElmwOyBWGOG9lip/xdFbzd+6hwpdgZ2AAAAAElFTkSuQmCC"/>
	</button>
	<ul id="navigation" class="nav">
	</ul>
	<button class="arrow-right d-none" type="button">
		<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEZSURBVGhD7Zg7asNQEEUVcBPHOIvwFryAFFlIIOnSuE/pDWQNrr2FRJWF0AdUqHLnRdgpDJHvgxEIgVpz53EPDIinKc5BKoQSEQtd1z3YpV+qqtpg/sqyPGFe7NgXeZ4vEXHFdGEQci6K4tVu+6FpmicEXPoQ1zGQf4P8fxQxEP9QDCMQf1cMI4phRTGsKIYVxbCiGFYUw8pUTF3Xa1vxA+Q/hyE2O7vtAwjP8QR+RhFhtrbCD2SnIg5t2y5sjRvITkaEX022xg1kFUEBZEPE7yhAEXcHsnFHYJ5tjRuIKoICiCqCAogqggKIKoICiPqPCEB2P5D3GRG+kUYB/iICaZrO8FodXUf0IGSF+cZ8ZVn2aMdCxEeS3AChON3yi4AjBQAAAABJRU5ErkJggg=="/>
	</button>
</div>
<script>
	if (window.NodeList && !NodeList.prototype.forEach) {
		NodeList.prototype.forEach = Array.prototype.forEach;
	}

	function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, '\\$&');
		var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
				results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return '';
		return decodeURIComponent(results[2].replace(/\+/g, ' '));
	}
</script>
<script>
	function loadManifest() {
		var xhr = new XMLHttpRequest();
		xhr.onload = function() {
			var progress = document.querySelector('#progress');
			progress.classList.add('d-none');
			renderNavigation(xhr.responseXML);
		}
		xhr.onerror = function() {
			dump('Error while getting imsmanifest.xml');
		}
		xhr.open('GET', '../imsmanifest.xml?t=' + (new Date()).getTime());
		xhr.responseType = 'document';
		xhr.send();
	}

	function renderNavigation(xmlDocument) {
		var userType = getParameterByName('usertype');
		var item = getItem(xmlDocument);
		if ((item === null) || !item.isVisible) return;
		var player = document.querySelector('#player');
		player.setAttribute('data', item.items[0].resource.href);
		var colorMap = { ebook: 'ffff00', tutorial: 'ff0000', activity: '00ff00', quiz: '0000ff', unknown: '000000' };
		var navigation = document.querySelector('#navigation');
		var fragment = document.createDocumentFragment();
		item.items = item.items.concat(item.items);
		item.items = item.items.concat(item.items);
		item.items.forEach(function(childItem) {
			var isAccessible = (userType === 'student') ? !childItem.isTeacherResource : true;
			if (childItem.isVisible && isAccessible) {
				var navItem = document.createElement("li");
				navItem.classList.add('nav-item');
				var navLink = document.createElement("a");
				navLink.classList.add('nav-link');
				navLink.setAttribute('href', childItem.resource.href);
				navLink.addEventListener('click', function(e) {
					e.preventDefault();
					player.setAttribute('data', e.currentTarget.href);
				}, false);
				var image = document.createElement("img");
				image.setAttribute('title', childItem.title);
				var imageUrl =  'https://via.placeholder.com/48.png/';
				image.setAttribute('src', imageUrl + colorMap[childItem.objType]);
				navLink.appendChild(image);
				navItem.appendChild(navLink);
				fragment.appendChild(navItem);
			}
		});
		navigation.appendChild(fragment);
		renderToggleMenu();
		renderScrollable();
	}

	function getItem(xmlDocument) {
		var identifier = getParameterByName('identifier');
		if ((identifier === null) || (identifier === '')) return null;
		var selector = 'item[identifier="' + identifier + '"]';
		var item = xmlDocument.querySelector(selector);
		if (item === null) return null;
		var childItems = [];
		var children = item.querySelectorAll('item');
		children.forEach(function(child) {
			var identifierRef = child.getAttribute('identifierref');
			var title = child.querySelector('title');
			var parameters = child.getAttribute('parameters');
			childItems.push({
				identifier: child.getAttribute('identifier'),
				resource: getResource(xmlDocument, identifierRef),
				isVisible: (child.getAttribute('isvisible') === 'true'),
				isTeacherResource: (getParameterByName('hide', parameters) === 'student'),
				objType: (getParameterByName('objtype', parameters) || 'unknown'),
				title: title.textContent
			});
		});
		return {
			identifier: identifier,
			isVisible: (item.getAttribute('isvisible') === 'true'),
			items: childItems
		};
	}

	function getResource(xmlDocument, identifier) {
		var selector = 'resource[identifier="' + identifier + '"]';
		var resource = xmlDocument.querySelector(selector);
		return {
			identifier: identifier,
			type: resource.getAttribute('type'),
			href: '../' + resource.getAttribute('href')
		};
	}

	function renderToggleMenu() {
		var menuWrapper = document.querySelector('.navbar');
		var toggleMenu = menuWrapper.querySelector('.toggle-menu');
		toggleMenu.addEventListener('click', function(e) {
			if (menuWrapper.classList.contains('collpased')) menuWrapper.classList.remove('collpased');
			else menuWrapper.classList.add('collpased');
		}, false);
	}

	function renderScrollable() {
		var scrollDuration = 300;
		var leftPaddle = document.querySelector('.arrow-left');
		var rightPaddle = document.querySelector('.arrow-right');
		var menuWrapper = document.querySelector('.navbar');
		var menu = document.querySelector('.navbar .nav');
		var itemsLength = menu.querySelectorAll('.nav-item').length;
		var itemSize = menu.querySelector('.nav-item').offsetWidth;
		var paddlesWidth = leftPaddle.offsetWidth + rightPaddle.offsetWidth;
		var getMenuWrapperSize = function(e) {
			return menuWrapper.offsetWidth;
		}
		var menuWrapperSize = getMenuWrapperSize();
		var getMenuSize = function() {
			return itemsLength * itemSize;
		};
		var menuSize = getMenuSize();
		var getMenuPosition = function() {
			return menu.scrollLeft;
		};
		var showHidePaddle = function() {
			if (menuWrapperSize > (menuSize + paddlesWidth)) {
				leftPaddle.classList.add('d-none');
				rightPaddle.classList.add('d-none');
			} else {
				var menuPosition = getMenuPosition();
				var menuEndOffset = menuSize - menu.offsetWidth;
				if (menuPosition === 0) {
					leftPaddle.classList.add('d-none');
					rightPaddle.classList.remove('d-none');
				} else if (menuPosition < menuEndOffset) {
					leftPaddle.classList.remove('d-none');
					rightPaddle.classList.remove('d-none');
				} else if (menuPosition >= menuEndOffset) {
					leftPaddle.classList.remove('d-none');
					rightPaddle.classList.add('d-none');
				}
			}
		};
		var scrollMenu = function(scrollLeft) {
			var direction = (menu.scrollLeft > scrollLeft) ? 'left' : 'right';
			var distance = (menu.scrollLeft > scrollLeft) 
				? (menu.scrollLeft - scrollLeft) : (scrollLeft - menu.scrollLeft);
			var scrollAmount = 0;
			var scrollTimer = setInterval(function() {
				if (direction == 'left') menu.scrollLeft -= 10;
				else menu.scrollLeft += 10;
				scrollAmount += 10;
				if (scrollAmount >= distance) {
					showHidePaddle();
					clearInterval(scrollTimer);
				}
			}, 25);
		};
		window.addEventListener('resize', function() {
			menuWrapperSize = getMenuWrapperSize();
			if (menuWrapperSize < (menuSize + paddlesWidth)) menu.classList.add('overflowed');
			else menu.classList.remove('overflowed');
			showHidePaddle();
		}, false);
		menu.addEventListener('scroll', function() {
			showHidePaddle();
		}, false);
		rightPaddle.addEventListener('click', function(e) {
			scrollMenu(menu.scrollLeft + (itemSize * 2));
		}, false);
		leftPaddle.addEventListener('click', function(e) {
			scrollMenu(menu.scrollLeft - (itemSize * 2));
		}, false);
		if (menuWrapperSize < (menuSize + paddlesWidth)) menu.classList.add('overflowed');
		showHidePaddle();
	}

	loadManifest();
</script>
