<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-administration no-sidebar">
        <div class="article-content">
          <div class="article-body">
            <ul class="nav">              
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/administration/manage_user">
                  <i class="fas fa-user"></i> Manage User Account
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/administration/manage_form_class">
                  <i class="fas fa-users"></i> Manage Form Class
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/administration/manage_school_group">
                  <i class="fas fa-users"></i> Manage School Group
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
