<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-login-as-student">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <button class="btn btn-light" type="button">
                  <i class="fas fa-users-cog"></i>
                </button>
                <span class="item-text text-truncate">Login to Student Account</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-sidebar">
            <div class="navbar navbar-expand">
              <button class="btn btn-light btn-dialog" type="button" data-toggle="dialog">
                <i class="fas fa-filter"></i>
              </button>
            </div>
            <form class="form-filters">
              <div class="form-group">
                <label class="form-label" for="selGrade">Grade</label>
                <select class="form-control selectpicker" id="selGrade" data-container=".article-sidebar" data-dropdown-align-right="true">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="selClass">Class</label>
                <select class="form-control selectpicker" id="selClass" data-container=".article-sidebar" data-dropdown-align-right="true">
                  <option>P1-EN</option>
                  <option>P1-HA</option>
                </select>
              </div>
            </form>
          </div>
          <div class="article-body">
            <nav class="navbar navbar-expand">
              <div class="navbar-text">8 records found</div>
            </nav>
            <table class="table" style="width: 100%;">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Login ID</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>                
                <tr>
                  <td>Aaron Tan</td>
                  <td>aron</td>
                  <td>
                    <button class="btn btn-light" type="button" title="Login">
                      <i class="fas fa-sign-in-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Arya Suman</td>
                  <td>arya</td>
                  <td>
                    <button class="btn btn-light" type="button" title="Login">
                      <i class="fas fa-sign-in-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Ashar Ahmad</td>
                  <td>ashar</td>
                  <td>
                    <button class="btn btn-light" type="button" title="Login">
                      <i class="fas fa-sign-in-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Chua Chin Hui</td>
                  <td>chinhui</td>
                  <td>
                    <button class="btn btn-light" type="button" title="Login">
                      <i class="fas fa-sign-in-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Derrick Lee</td>
                  <td>derrick</td>
                  <td>
                    <button class="btn btn-light" type="button" title="Login">
                      <i class="fas fa-sign-in-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Nurulhuda bte Sazali</td>
                  <td>sazali</td>
                  <td>
                    <button class="btn btn-light" type="button" title="Login">
                      <i class="fas fa-sign-in-alt"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>Siow Poh Piah Irene</td>
                  <td>irene</td>
                  <td>
                    <button class="btn btn-light" type="button" title="Login">
                      <i class="fas fa-sign-in-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="article article-create-form-class no-sidebar d-none">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <span class="item-text text-truncate">Create Form Class</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-body">
            <form class="form-form-class">
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="txtName">Name</label>
                  <input class="form-control form-input" type="text" value="Group name" id="txtName">
                  <div class="form-text text-success">
                    <i class="fas fa-check"></i> Name is available.
                  </div>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="txtDescription">Description</label>
                  <textarea class="form-control form-input" id="txtDescription"></textarea>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Description cannot be empty.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="selGrade">Grade</label>
                  <select class="form-control selectpicker" id="selGrade" data-container=".article-body">
                    <option>Primary 1</option>
                    <option>Primary 2</option>
                    <option>Primary 3</option>
                    <option>Primary 4</option>
                    <option>Primary 5</option>
                    <option>Primary 6</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select a grade.
                  </div>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col"></div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="selFormTeacher">Form Teacher</label>
                  <select class="form-control selectpicker" id="selFormTeacher" data-container=".article-body">
                    <option>Derrick Chua</option>
                    <option>Ernest Goh</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select a form teacher.
                  </div>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="selAssistTeacher">Assistant Teacher</label>
                  <select class="form-control selectpicker" id="selAssistTeacher" data-container=".article-body">
                    <option>Derrick Chua</option>
                    <option>Ernest Goh</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select a assistant teacher.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="selStudents">Select Student(s)</label>
                  <select class="form-control" id="selStudents" multiple>
                    <option>Derrick Chua</option>
                    <option>Ernest Goh</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select more students.
                  </div>
                </div>
                <div class="col-auto">
                  <div class="btn-group">
                    <button class="btn btn-outline-secondary btn-add" type="button" title="Add selected student(s)">
                      <i class="fas fa-angle-right"></i>
                      <i class="fas fa-angle-down"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-add-all" type="button" title="Add all student(s)">
                      <i class="fas fa-angle-double-right"></i>
                      <i class="fas fa-angle-double-down"></i>
                    </button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-outline-secondary btn-remove" type="button" title="Remove selected student(s)">
                      <i class="fas fa-angle-left"></i>
                      <i class="fas fa-angle-up"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-remove-all" type="button" title="Remove all student(s)">
                      <i class="fas fa-angle-double-left"></i>
                      <i class="fas fa-angle-double-up"></i>
                    </button>
                  </div>
                </div>
                <div class="form-group col">
                  <label class="form-label" for="selSelectedStudents">Selected Student(s)</label>
                  <select class="form-control" id="selSelectedStudents" multiple>
                    <option>Derrick Chua</option>
                    <option>Ernest Goh</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select more students.
                  </div>
                </div>
              </div>
              <div class="form-group form-group-actions">
                <button class="btn btn-primary btn-create" type="button">Create</button>
                <button class="btn btn-light btn-cancel" type="button">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
