<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-manage-form-class no-sidebar">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <button class="btn btn-light" type="button">
                  <i class="fas fa-users-cog"></i>
                </button>
                <span class="item-text text-truncate">Manage Form Class</span>
              </li>
              <li class="nav-item nav-item-submodule dropdown">
                <span class="item-text text-truncate">Manage Form Class</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-body">
            <nav class="navbar navbar-expand">
              <div class="navbar-text">&nbsp;</div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <button class="btn btn-primary btn-create" type="button">
                    <i class="fas fa-plus"></i> New
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-secondary btn-edit d-none" type="button" title="Edit">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-secondary btn-delete d-none" type="button" title="Delete">
                    <i class="fas fa-trash"></i> Delete
                  </button>
                </li>
              </ul>
            </nav>
            <table class="table" style="width: 100%;">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Name</th>
                  <th>Grade</th>
                  <th>Form Teacher</th>
                  <th>Assistant Teacher</th>
                </tr>
              </thead>
              <tbody>                
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item0" name="group">
                      <label class="custom-control-label" for="item0"></label>
                    </div>
                  </td>
                  <td>P1-EA</td>
                  <td>1</td>
                  <td>Derrick Chua</td>
                  <td>Aaron Tan</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item1" name="group">
                      <label class="custom-control-label" for="item1"></label>
                    </div>
                  </td>
                  <td>P1-HA</td>
                  <td>1</td>
                  <td>Derrick Chua</td>
                  <td>Aaron Tan</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item2" name="group">
                      <label class="custom-control-label" for="item2"></label>
                    </div>
                  </td>
                  <td>P1-MA</td>
                  <td>1</td>
                  <td>Derrick Chua</td>
                  <td>Aaron Tan</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item3" name="group">
                      <label class="custom-control-label" for="item3"></label>
                    </div>
                  </td>
                  <td>P1-PA</td>
                  <td>1</td>
                  <td>Ernest  Goh</td>
                  <td>Gary Lim</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item4" name="group">
                      <label class="custom-control-label" for="item4"></label>
                    </div>
                  </td>
                  <td>P1-SA</td>
                  <td>1</td>
                  <td>Ernest  Goh</td>
                  <td>Gary Lim</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item5" name="group">
                      <label class="custom-control-label" for="item5"></label>
                    </div>
                  </td>
                  <td>P1-TA</td>
                  <td>1</td>
                  <td>Ernest  Goh</td>
                  <td>Gary Lim</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item6" name="group">
                      <label class="custom-control-label" for="item6"></label>
                    </div>
                  </td>
                  <td>P1-UA</td>
                  <td>1</td>
                  <td>Ernest  Goh</td>
                  <td>Gary Lim</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item7" name="group">
                      <label class="custom-control-label" for="item7"></label>
                    </div>
                  </td>
                  <td>P2-EA</td>
                  <td>2</td>
                  <td>Derrick Chua</td>
                  <td>Aaron Tan</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item8" name="group">
                      <label class="custom-control-label" for="item8"></label>
                    </div>
                  </td>
                  <td>P2-HA</td>
                  <td>2</td>
                  <td>Derrick Chua</td>
                  <td>Aaron Tan</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item9" name="group">
                      <label class="custom-control-label" for="item9"></label>
                    </div>
                  </td>
                  <td>P2-MA</td>
                  <td>2</td>
                  <td>Derrick Chua</td>
                  <td>Aaron Tan</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item10" name="group">
                      <label class="custom-control-label" for="item10"></label>
                    </div>
                  </td>
                  <td>P2-PA</td>
                  <td>2</td>
                  <td>Ernest  Goh</td>
                  <td>Gary Lim</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item11" name="group">
                      <label class="custom-control-label" for="item11"></label>
                    </div>
                  </td>
                  <td>P2-SA</td>
                  <td>2</td>
                  <td>Ernest  Goh</td>
                  <td>Gary Lim</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item12" name="group">
                      <label class="custom-control-label" for="item12"></label>
                    </div>
                  </td>
                  <td>P2-TA</td>
                  <td>2</td>
                  <td>Ernest  Goh</td>
                  <td>Gary Lim</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item13" name="group">
                      <label class="custom-control-label" for="item13"></label>
                    </div>
                  </td>
                  <td>P2-UA</td>
                  <td>2</td>
                  <td>Ernest  Goh</td>
                  <td>Gary Lim</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="article article-create-form-class no-sidebar d-none">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <span class="item-text text-truncate">Create Form Class</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-body">
            <form class="form-form-class">
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="txtName">Name</label>
                  <input class="form-control form-input" type="text" value="Group name" id="txtName">
                  <div class="form-text text-success">
                    <i class="fas fa-check"></i> Name is available.
                  </div>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="txtDescription">Description</label>
                  <textarea class="form-control form-input" id="txtDescription"></textarea>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Description cannot be empty.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="selGrade">Grade</label>
                  <select class="form-control selectpicker" id="selGrade" data-container=".article-body">
                    <option>Primary 1</option>
                    <option>Primary 2</option>
                    <option>Primary 3</option>
                    <option>Primary 4</option>
                    <option>Primary 5</option>
                    <option>Primary 6</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select a grade.
                  </div>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col"></div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="selFormTeacher">Form Teacher</label>
                  <select class="form-control selectpicker" id="selFormTeacher" data-container=".article-body">
                    <option>Derrick Chua</option>
                    <option>Ernest Goh</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select a form teacher.
                  </div>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="selAssistTeacher">Assistant Teacher</label>
                  <select class="form-control selectpicker" id="selAssistTeacher" data-container=".article-body">
                    <option>Derrick Chua</option>
                    <option>Ernest Goh</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select a assistant teacher.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="selStudents">Select Student(s)</label>
                  <select class="form-control" id="selStudents" multiple>
                    <option>Derrick Chua</option>
                    <option>Ernest Goh</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select more students.
                  </div>
                </div>
                <div class="col-auto">
                  <div class="btn-group">
                    <button class="btn btn-outline-secondary btn-add" type="button" title="Add selected student(s)">
                      <i class="fas fa-angle-right"></i>
                      <i class="fas fa-angle-down"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-add-all" type="button" title="Add all student(s)">
                      <i class="fas fa-angle-double-right"></i>
                      <i class="fas fa-angle-double-down"></i>
                    </button>
                  </div>
                  <div class="btn-group">
                    <button class="btn btn-outline-secondary btn-remove" type="button" title="Remove selected student(s)">
                      <i class="fas fa-angle-left"></i>
                      <i class="fas fa-angle-up"></i>
                    </button>
                    <button class="btn btn-outline-secondary btn-remove-all" type="button" title="Remove all student(s)">
                      <i class="fas fa-angle-double-left"></i>
                      <i class="fas fa-angle-double-up"></i>
                    </button>
                  </div>
                </div>
                <div class="form-group col">
                  <label class="form-label" for="selSelectedStudents">Selected Student(s)</label>
                  <select class="form-control" id="selSelectedStudents" multiple>
                    <option>Derrick Chua</option>
                    <option>Ernest Goh</option>
                  </select>
                  <div class="form-text text-danger">
                    <i class="fas fa-exclamation"></i> Select more students.
                  </div>
                </div>
              </div>
              <div class="form-group form-group-actions">
                <button class="btn btn-primary btn-create" type="button">Create</button>
                <button class="btn btn-light btn-cancel" type="button">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
