<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-manage-school">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <button class="btn btn-light" type="button">
                  <img src="/static/images/icon_module_manageschool.png">
                </button>
                <span class="item-text text-truncate">Manage School</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-sidebar">
            <div class="navbar navbar-expand">
              <button class="btn btn-light btn-dialog" type="button" data-toggle="dialog">
                <i class="fas fa-filter"></i>
              </button>
            </div>
            <form class="form-filters">
              <div class="form-group">
                <label class="form-label" for="selName">Name</label>
                <input class="form-control form-input" type="text" id="txtName">
              </div>
              <div class="form-group form-group-actions">
                <button class="btn btn-light" type="button">Reset</button> 
                <button class="btn btn-outline-secondary" type="button">Search</button>
              </div>
            </form>
          </div>
          <div class="article-body">
            <nav class="navbar navbar-expand">
              <div class="navbar-text">5 records found</div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <button class="btn btn-primary btn-create" type="button">
                    <i class="fas fa-plus"></i> New
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-outline-secondary btn-edit d-none" type="button" title="Edit">
                    <i class="fas fa-edit"></i> Edit
                  </button>
                </li>
                <li class="nav-item">
                  <button class="btn btn-outline-secondary btn-delete d-none" type="button" title="Delete">
                    <i class="fas fa-trash"></i> Delete
                  </button>
                </li>
              </ul>
            </nav>
            <table class="table" style="width: 100%;">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>School ID</th>
                  <th>Name</th>
                  <th>Template</th>
                  <th>Subscriber Type</th>
                </tr>
              </thead>
              <tbody>                
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item0" name="group">
                      <label class="custom-control-label" for="item0"></label>
                    </div>
                  </td>
                  <td>AMKPS</td>
                  <td>Ang Mo Kio Primary School</td>
                  <td>Primary School</td>
                  <td>Resource Portal</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item1" name="group">
                      <label class="custom-control-label" for="item1"></label>
                    </div>
                  </td>
                  <td>GWPS</td>
                  <td>Greenwood Primary School</td>
                  <td>Primary School</td>
                  <td>Resource Portal</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item2" name="group">
                      <label class="custom-control-label" for="item2"></label>
                    </div>
                  </td>
                  <td>RVPS</td>
                  <td>River Valley Primary School</td>
                  <td>Primary School</td>
                  <td>Resource Portal</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item3" name="group">
                      <label class="custom-control-label" for="item3"></label>
                    </div>
                  </td>
                  <td>SFPS</td>
                  <td>Stamford Primary School</td>
                  <td>Primary School</td>
                  <td>Resource Portal</td>
                </tr>
                <tr>
                  <td>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" id="item4" name="group">
                      <label class="custom-control-label" for="item4"></label>
                    </div>
                  </td>
                  <td>TEMSKPS</td>
                  <td>Temasek Primary School</td>
                  <td>Primary School</td>
                  <td>Resource Portal</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="article article-create-school no-sidebar d-none">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <span class="item-text text-truncate">Create School</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-body">
            <form class="form-school">
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="txtSchoolID">School ID</label>
                  <input class="form-control form-input" type="text" id="txtSchoolID">
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="txtName">Name</label>
                  <input class="form-control form-input" type="text" id="txtName">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="txtDescription">Description</label>
                  <textarea class="form-control form-input" id="txtDescription"></textarea>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="selTemplate">Template</label>
                  <select class="form-control selectpicker" id="selTemplate">
                    <option>Primary School</option>
                    <option>Secondary School</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="selSubscriberType">Subscriber Type</label>
                  <select class="form-control selectpicker" id="selSubscriberType">
                    <option>Primary School</option>
                    <option>Secondary School</option>
                  </select>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="selCalendar">Calendar</label>
                  <select class="form-control selectpicker" id="selCalendar">
                    <option>Indonesia School</option>
                    <option>Malaysia School</option>
                    <option>Singapore School</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="selContentSubscriberType">Content Subscriber Type</label>
                  <select class="form-control selectpicker" id="selContentSubscriberType">
                    <option>Lead Essential</option>
                    <option>Lead Ultra</option>
                  </select>
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="selNonChannelSubscriberType">Non-channel Subscriber Type</label>
                  <select class="form-control selectpicker" id="selNonChannelSubscriberType">
                    <option>Oversea</option>
                    <option>Singapore</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="txtAddress">Address</label>
                  <textarea class="form-control form-input" id="txtAddress"></textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col">
                  <label class="form-label" for="txtLicense">
                    No. of User License
                    <small class="text-muted">(Optional)</small>
                  </label>
                  <input class="form-control form-input" type="text" id="txtLicense">
                </div>
                <div class="col-auto"></div>
                <div class="form-group col">
                  <label class="form-label" for="txtExpiryDate">
                    Expiry Date
                    <small class="text-muted">(Optional)</small>
                  </label>
                  <input class="form-control form-input" type="text" id="txtExpiryDate">
                </div>
              </div>
              <div class="form-group form-group-actions">
                <button class="btn btn-primary btn-create" type="button">Create</button>
                <button class="btn btn-light btn-cancel" type="button">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
