<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-report">
        <div class="article-content">
          <div class="article-sidebar">
            <div class="navbar">
              <button class="btn btn-light" type="button" data-toggle="sidebar" data-target=".article-report">
                <i class="fas fa-chevron-left"></i>
                <i class="fas fa-chevron-right"></i>
                <i class="fas fa-filter"></i>
              </button>
            </div>
            <form class="form-filters">
              {{#if studentUser}}
                <div class="form-group">
                  <label class="form-label" for="selReport">Report Type</label>
                  <select class="form-control selectpicker" id="selReport" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option value="proficiency">How Well I've Done</option>
                    <option value="usage">How Much I've Completed</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label" for="selChannel">Channel</label>
                  <select class="form-control selectpicker" id="selChannel" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option>All</option>
                    <option>Math Buddies</option>
                    <option>Marshall Cavendish Maths</option>
                    <option>Marshall Cavendish Science</option>
                  </select>
                </div>
              {{/if}}
              {{#unless studentUser}}
                <div class="form-group">
                  <label class="form-label" for="selReport">Report Type</label>
                  <select class="form-control selectpicker" id="selReport" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option value="proficiency">Mastery</option>
                    <option value="usage">Usage</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label" for="selGrade">Grade</label>
                  <select class="form-control selectpicker" id="selGrade" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label" for="selClass">Class</label>
                  <select class="form-control selectpicker" id="selClass" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option value="All">All</option>
                    <option>P1-EN</option>
                    <option>P1-HA</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label" for="selChannel">Channel</label>
                  <select class="form-control selectpicker" id="selChannel" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option>Math Buddies</option>
                    <option>Marshall Cavendish Maths</option>
                    <option>Marshall Cavendish Science</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label" for="selTopic">Topic</label>
                  <select class="form-control selectpicker" id="selTopic" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option>All</option>
                    <option>Numbers To 10</option>
                    <option>Number Bonds</option>
                    <option>Addition Within 10</option>
                    <option>Subtraction Within 10</option>
                    <option>Shapes And Patterns</option>
                  </select>
                </div>
              {{/unless}}
            </form>
          </div>
          <div class="article-body">
            <div class="article article-usage-report no-sidebar d-none">
              <div class="article-header">
                {{#if studentUser}}
                  <button class="btn btn-light" type="button" data-toggle="popover" data-content="This report tracks the usage of learning resources at Topic and Sub-Topic levels by displaying the percentage of resources that have been successfully completed.">
                    <i class="fas fa-info-circle"></i>
                  </button>
                  <h5>How Much I've Completed</h5>                  
                {{/if}}
                {{#unless studentUser}}
                  <button class="btn btn-light" type="button" data-toggle="popover" data-content="This report tracks the usage of learning resources at Topic and Sub-Topic levels by displaying the percentage of resources that have been successfully completed.">
                    <i class="fas fa-info-circle"></i>
                  </button>
                  <h5>Usage Summary</h5>
                {{/unless}}
              </div>
              <div class="article-content">                
                <div class="article-body">
                  {{#if studentUser}}
                    <p>
                      All Channels for Primary Student 1
                    </p>
                    <div class="chart"></div>
                  {{/if}}
                  {{#unless studentUser}}
                    <p>
                      Grade 1, All Classes for Math Buddies, All Topics
                    </p>
                    <div class="chart"></div>
                  {{/unless}}
                </div>
              </div>              
            </div>
            <div class="article article-proficiency-report no-sidebar">
              <div class="article-header">
                {{#if studentUser}}
                  <button class="btn btn-light" type="button" data-toggle="popover" data-content="This report tracks the mastery at Topic and Sub-Topic levels by displaying the average percentage score of quizzes that have been attempted and submitted.">
                    <i class="fas fa-info-circle"></i>
                  </button>
                  <h5>How Well I've Done</h5>
                {{/if}}
                {{#unless studentUser}}
                  <button class="btn btn-light" type="button" data-toggle="popover" data-content="This report tracks the mastery at Topic and Sub-Topic levels by displaying the average percentage score of quizzes that have been attempted and submitted.">
                    <i class="fas fa-info-circle"></i>
                  </button>
                  <h5>Mastery Summary</h5>
                {{/unless}}
              </div>
              <div class="article-content">                
                <div class="article-body">
                  {{#if studentUser}}
                    <p>
                      All Channels for Primary Student 1
                    </p>
                    <div class="chart"></div>
                  {{/if}}
                  {{#unless studentUser}}
                    <p>
                      Grade 1, All Classes for Math Buddies, All Topics
                    </p>
                    <div class="chart"></div>
                  {{/unless}}
                </div>
              </div>
            </div>
            <nav class="navbar navbar-report">
              <button class="btn btn-light" type="button" title="Print">
                <i class="fas fa-print"></i>
              </button>
              <button class="btn btn-light" type="button" title="Download">
                <i class="fas fa-download"></i>
              </button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-usage-summary fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Usage Summary</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Math Buddies, Aaron Tan
        </p>        
        <div class="chart"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-proficiency-summary fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mastery Summary</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Math Buddies, Aaron Tan
        </p>        
        <div class="chart"></div>
      </div>
    </div>
  </div>
</div>
