<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-reports no-sidebar">
        <div class="article-content">
          <div class="article-body">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#usage">
                  Usage Report
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#proficiency">
                  Proficiency Report
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-usage-report d-none">
        <div class="article-content">
          <div class="article-sidebar">
            <form class="form-report-filters">
              <div class="form-group">
                <label class="form-label" for="selGrade">Grade</label>
                <select class="form-control selectpicker" id="selGrade" data-container="article-body">
                  <option>Grade 1</option>
                  <option>Grade 2</option>
                  <option>Grade 3</option>
                  <option>Grade 4</option>
                  <option>Grade 5</option>
                  <option>Grade 6</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="selClass">Class</label>
                <select class="form-control selectpicker" id="selClass" data-container="article-body">
                  <option>P1-EN</option>
                  <option>P1-HA</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="selChannel">Channel</label>
                <select class="form-control selectpicker" id="selChannel" data-container="article-body">
                  <option>Math Buddies</option>
                  <option>Marshall Cavendish Maths</option>
                  <option>Marshall Cavendish Science</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="selTopic">Topic</label>
                <select class="form-control selectpicker" id="selTopic" data-container="article-body">
                  <option>Numbers To 10</option>
                  <option>Number Bonds</option>
                  <option>Addition Within 10</option>
                  <option>Subtraction Within 10</option>
                  <option>Shapes And Patterns</option>
                </select>
              </div>
            </form>
          </div>
          <div class="article-body">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
