<style>
  .article-games .list-group .list-group-item {
    cursor: pointer;
    padding: 1rem;
  }
  .article-games .list-group .list-group-item .game {
    display: flex;      
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
  }
  .article-games .list-group .list-group-item .game .game-title {
    flex-grow: 1;
  }
  .article-games .list-group .list-group-item .game .game-status,
  .article-games .list-group .list-group-item .game .game-score {
    margin-left: 1rem;
  }
  .article-games .list-group .list-group-item .game .fas {
    font-size: 2rem;
    margin-right: 1rem;
  }
</style>
<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-games no-sidebar">
        <div class="article-content">          
          <div class="article-body">
            <div class="list-group list-group-flush">
              <div class="list-group-item list-group-item-action">
                <div class="game">
                  <div class="game-title">
                    <i class="fas fa-gamepad"></i> Sheep Fight
                  </div>
                  <div class="game-status"></div>
                  <div class="game-score"></div>
                </div>
              </div>
              <div class="list-group-item list-group-item-action">
                <div class="game">
                  <div class="game-title">
                    <i class="fas fa-gamepad"></i> Ludo Hero
                  </div>
                  <div class="game-status"></div>
                  <div class="game-score"></div>
                </div>
              </div>
              <div class="list-group-item list-group-item-action">
                <div class="game">
                  <div class="game-title">
                    <i class="fas fa-gamepad"></i> Knife Dart
                  </div>
                  <div class="game-status"></div>
                  <div class="game-score"></div>
                </div>
              </div>
              <div class="list-group-item list-group-item-action">
                <div class="game">
                  <div class="game-title">
                    <i class="fas fa-gamepad"></i> Heart Connect
                  </div>
                  <div class="game-status"></div>
                  <div class="game-score"></div>
                </div>
              </div>
              <div class="list-group-item list-group-item-action">
                <div class="game">
                  <div class="game-title">
                    <i class="fas fa-gamepad"></i> Ultimate Baseball
                  </div>
                  <div class="game-status"></div>
                  <div class="game-score"></div>
                </div>
              </div>
            </div>           
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>
