<div class="app-content page-{{module}}">
  <div class="article article-legacy no-sidebar">
    <div class="article-content">
      <div class="article-body">
        <iframe id="moduleIFrame" class="full" src="/shared/legacy" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>        
  </div>
</div>
