<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-resources {{#if studentUser}}no-sidebar{{/if}}">
        <div class="article-content">
          {{#unless studentUser}}
            <div class="article-sidebar dialog">
              <div class="navbar">
                <button class="btn btn-light btn-toggle" type="button" data-toggle="sidebar" data-target=".article-resources">
                  <i class="fas fa-chevron-left"></i>
                  <i class="fas fa-chevron-right"></i>
                </button>
                <button class="btn btn-light btn-dialog" type="button" data-toggle="dialog">
                  <i class="fas fa-filter"></i>
                </button>
              </div>
              <form class="form-filters dialog-menu">
                <div class="form-group">
                  <label class="form-label" for="selGrade">Grade</label>
                  <select class="form-control selectpicker" id="selGrade" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option>All</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label" for="selSubjet">Subject</label>
                  <select class="form-control selectpicker" id="selSubjet" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option>All</option>
                    <option>Chemistry</option>
                    <option>Mathematics Mathematics Mathematics Mathematics</option>
                    <option>Physics</option>
                    <option>Science</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label" for="selCurriculum">Curriculum</label>
                  <select class="form-control selectpicker" id="selCurriculum" data-container=".article-sidebar" data-dropdown-align-right="true">
                    <option>All</option>
                    <option>CAIE</option>
                    <option>SG</option>
                  </select>
                </div>
              </form>
            </div>
          {{/unless}}
          <div class="article-body">
            <div class="loading-state d-none">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <nav class="navbar navbar-expand">
              <div class="navbar-text">Grade 1, Mathematics, CAIE</div>
            </nav>
            <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/static/images/icon_generic.png" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    CAIE Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  {{#if studentUser}}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 25%;"></div>
                    </div>
                    <div class="text-muted">
                      Keep it up!
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/icon_mcmaths.png" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    CAIE English<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  {{#if studentUser}}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 25%;"></div>
                    </div>
                    <div class="text-muted">
                      Keep it up!
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/icon_mathbuddies.png" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    My Pals Are Here! Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  {{#if studentUser}}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 10%;"></div>
                    </div>
                    <div class="text-muted">
                      Still a way to go.
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/icon_mcscience.png" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    My Pals Are Here! Science<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  {{#if studentUser}}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
                    </div>
                    <div class="text-muted">
                      Almost there!
                    </div>
                  {{/if}}
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/icon_generic.png" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Take Off with English<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  {{#if studentUser}}
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 45%;"></div>
                    </div>
                    <div class="text-muted">
                      Keep it up!
                    </div>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>

<div class="modal modal-resource-preview fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-preview" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <nav class="navbar">
          <div class="navbar-text text-truncate">Resource title</div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <button class="btn btn-light btn-share" type="button" title="Share">
                <i class="fas fa-share-alt"></i>
              </button>
            </li>
            <li class="nav-divider"></li>
            <li class="nav-item">
              <button class="btn btn-light btn-close" type="button" title="Close" data-dismiss="modal">
                <i class="fas fa-times"></i>
              </button>
            </li>
          </ul>
        </nav>
        <div class="content">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="toast-stack d-none">
  <div class="toast" role="alert fade" data-delay="5000">
    <div class="toast-header">
      <button class="close" type="button" title="Close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
    <div class="toast-body">
      <i class="img img-toast-error"></i>
      Error occurred in retrieving resources. Error occurred in retrieving resources.
    </div>
  </div>
  <div class="toast" role="alert fade" data-delay="5000">
    <div class="toast-header">
      <button class="close" type="button" title="Close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
    <div class="toast-body">
      <i class="img img-toast-failed"></i>
      Failed to retieve resources.
    </div>
  </div>
  <div class="toast" role="alert fade" data-delay="5000">
    <div class="toast-header">
      <button class="close" type="button" title="Close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
    <div class="toast-body">
      <i class="img img-toast-warning"></i>
      Deleting resource(s).
    </div>
  </div>
  <div class="toast" role="alert fade" data-delay="5000">
    <div class="toast-header">
      <button class="close" type="button" title="Close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
    <div class="toast-body">
      <i class="img img-toast-info"></i>
      Preparing download...
    </div>
  </div>
  <div class="toast" role="alert fade" data-delay="5000">
    <div class="toast-header">
      <button class="close" type="button" title="Close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
    <div class="toast-body">
      <i class="img img-toast-success"></i>
      Download is ready.
    </div>
  </div>
</div>
