<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Learn: Classification of Things</title>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi" />
					  <script type="text/javascript" src="jquery-1.7.1.min.js"></script> 
<script type="text/javascript" src="start.js"></script>
		<script src="libs/easeljs-0.6.0.min.js"></script>
		<script src="libs/tweenjs-0.4.0.min.js"></script>
		<script src="libs/movieclip-0.6.0.min.js"></script>
		<script src="libs/preloadjs-0.3.0.min.js"></script>
		<script src="libs/mojoaudio.js"></script>
		<script src="LB_DIV_0199_00_AC.js"></script>
	
		<script>
		var fullScreenApi = { 
				supportsFullScreen: false,
				isFullScreen: function() { return false; }, 
				requestFullScreen: function() {}, 
				cancelFullScreen: function() {},
				fullScreenEventName: '',
				prefix: ''
			},
			browserPrefixes = 'webkit moz o ms khtml'.split(' ');
		
		// check for native support
		if (typeof document.cancelFullScreen != 'undefined') {
			fullScreenApi.supportsFullScreen = true;
		} 
		else {	 
			// check for fullscreen support by vendor prefix
			for (var i = 0, il = browserPrefixes.length; i < il; i++ ) {
				fullScreenApi.prefix = browserPrefixes[i];
				
				if (typeof document[fullScreenApi.prefix + 'CancelFullScreen' ] != 'undefined' ) {
					fullScreenApi.supportsFullScreen = true;
					
					break;
				}
			}
		}
		
		// update methods to do something useful
		if (fullScreenApi.supportsFullScreen) {
			fullScreenApi.fullScreenEventName = fullScreenApi.prefix + 'fullscreenchange';
			
			fullScreenApi.isFullScreen = function() {
				switch (this.prefix) {	
					case '':
						return document.fullScreen;
					case 'webkit':
						return document.webkitIsFullScreen;
					default:
						return document[this.prefix + 'FullScreen'];
				}
			}
			fullScreenApi.requestFullScreen = function(el) {
				return (this.prefix === '') ? el.requestFullScreen() : el[this.prefix + 'RequestFullScreen']();
			}
			fullScreenApi.cancelFullScreen = function(el) {
				return (this.prefix === '') ? document.cancelFullScreen() : document[this.prefix + 'CancelFullScreen']();
			}		
		}
		
		window.fullScreenApi = fullScreenApi;	
		</script>
	
		<script>
			
			var canvas, stage, exportRoot;
			var isWebAPISupported = true;
			var webAudio;

			var numDot = 0;
			var loadingAnimationInterval = 0;
			document.addEventListener("DOMContentLoaded", function(){
				loadingAnimationInterval = setInterval(function(){
					if (numDot == 3) {
						numDot = 0;
					} else {
						numDot++;
					}
					var dotString = "";
					for (var i = 0; i<numDot; ++i){
						dotString += ".";
					}
					var loading = document.getElementById('spanloading');
					loading.innerHTML = "LOADING" + dotString;
					//$('#loading span').html("LOADING" + dotString);
				}, 100);
			}, false);

			function init() {
				var loadingDiv = document.getElementById('loading');

				loadingDiv.style.cssText = 'display:none';
				canvas = document.getElementById("canvas");
				images = images || {};

				var manifest = [
		{src:"images/bg2.png", id:"bg2"},
		{src:"images/Bitmap1.png", id:"Bitmap1"},
		{src:"images/Bitmap10.png", id:"Bitmap10"},
		{src:"images/Bitmap2.png", id:"Bitmap2"},
		{src:"images/Bitmap3.png", id:"Bitmap3"},
		{src:"images/Bitmap4.png", id:"Bitmap4"},
		{src:"images/Bitmap5.png", id:"Bitmap5"},
		{src:"images/Bitmap6.png", id:"Bitmap6"},
		{src:"images/Bitmap7.png", id:"Bitmap7"},
		{src:"images/Bitmap8.png", id:"Bitmap8"},
		{src:"images/Bitmap9.png", id:"Bitmap9"},
		{src:"images/but.png", id:"but"},
		{src:"images/but2.png", id:"but2"},
		{src:"images/Checkanswercopy.png", id:"Checkanswercopy"},
		{src:"images/Circle.png", id:"Circle"},
		{src:"images/Circles.png", id:"Circles"},
		{src:"images/dratom_Full.png", id:"dratom_Full"},
		{src:"images/dratom_Full_1.png", id:"dratom_Full_1"},
		{src:"images/Drinks.png", id:"Drinks"},
		{src:"images/Fruitjuice.png", id:"Fruitjuice"},
		{src:"images/Greentea.png", id:"Greentea"},
		{src:"images/Helpingwords.png", id:"Helpingwords"},
		{src:"images/Helpingwords_1.png", id:"Helpingwords_1"},
		{src:"images/Layer11.png", id:"Layer11"},
		{src:"images/Layer16.png", id:"Layer16"},
		{src:"images/Layer17.png", id:"Layer17"},
		{src:"images/Layer19.png", id:"Layer19"},
		{src:"images/Layer2.png", id:"Layer2"},
		{src:"images/Layer20.png", id:"Layer20"},
		{src:"images/Layer21.png", id:"Layer21"},
		{src:"images/Layer21copy16.png", id:"Layer21copy16"},
		{src:"images/Layer21copy16_1.png", id:"Layer21copy16_1"},
		{src:"images/Layer21copy3.png", id:"Layer21copy3"},
		{src:"images/Layer21copy4.png", id:"Layer21copy4"},
		{src:"images/Layer21copy6.png", id:"Layer21copy6"},
		{src:"images/Layer21copy7.png", id:"Layer21copy7"},
		{src:"images/Layer21copy8.png", id:"Layer21copy8"},
		{src:"images/Layer21copy8_1.png", id:"Layer21copy8_1"},
		{src:"images/Layer21copy9.png", id:"Layer21copy9"},
		{src:"images/Layer22.png", id:"Layer22"},
		{src:"images/Layer23.png", id:"Layer23"},
		{src:"images/Layer24.png", id:"Layer24"},
		{src:"images/Layer24copy2.png", id:"Layer24copy2"},
		{src:"images/Layer26.png", id:"Layer26"},
		{src:"images/Layer27.png", id:"Layer27"},
		{src:"images/Layer30.png", id:"Layer30"},
		{src:"images/Layer37copy10.png", id:"Layer37copy10"},
		{src:"images/Layer37copy11.png", id:"Layer37copy11"},
		{src:"images/Layer37copy12.png", id:"Layer37copy12"},
		{src:"images/Layer37copy13.png", id:"Layer37copy13"},
		{src:"images/Layer37copy14.png", id:"Layer37copy14"},
		{src:"images/Layer37copy15.png", id:"Layer37copy15"},
		{src:"images/Layer37copy15_1.png", id:"Layer37copy15_1"},
		{src:"images/Layer37copy15_2.png", id:"Layer37copy15_2"},
		{src:"images/Layer37copy15_3.png", id:"Layer37copy15_3"},
		{src:"images/Layer37copy15_4.png", id:"Layer37copy15_4"},
		{src:"images/Layer39copy2.png", id:"Layer39copy2"},
		{src:"images/Layer39copy3.png", id:"Layer39copy3"},
		{src:"images/Layer39copy4.png", id:"Layer39copy4"},
		{src:"images/Layer39copy5.png", id:"Layer39copy5"},
		{src:"images/Layer39copy6.png", id:"Layer39copy6"},
		{src:"images/Layer39copy8.png", id:"Layer39copy8"},
		{src:"images/Layer39copy8_1.png", id:"Layer39copy8_1"},
		{src:"images/Layer39copy8_2.png", id:"Layer39copy8_2"},
		{src:"images/Layer39copy8_3.png", id:"Layer39copy8_3"},
		{src:"images/Layer39copy8_4.png", id:"Layer39copy8_4"},
		{src:"images/Layer5.png", id:"Layer5"},
		{src:"images/Layer6.png", id:"Layer6"},
		{src:"images/Layer6copy.png", id:"Layer6copy"},
		{src:"images/Layer6copy2.png", id:"Layer6copy2"},
		{src:"images/MClogo.png", id:"MClogo"},
		{src:"images/Milk.png", id:"Milk"},
		{src:"images/Pentagols.png", id:"Pentagols"},
		{src:"images/Pentagons.png", id:"Pentagons"},
		{src:"images/playpngcopy.png", id:"playpngcopy"},
		{src:"images/Rectangles.png", id:"Rectangles"},
		{src:"images/Shapes.png", id:"Shapes"},
		{src:"images/Showanswercopy.png", id:"Showanswercopy"},
		{src:"images/SoyaBeanmilk.png", id:"SoyaBeanmilk"},
		{src:"images/sue.png", id:"sue"},
		{src:"images/Triangles.png", id:"Triangles"},
		{src:"images/VectorSmartObject.png", id:"VectorSmartObject"}
					];

				var loader = new createjs.LoadQueue(false);
				loader.addEventListener("fileload", handleFileLoad);
				loader.addEventListener("complete", handleComplete);
				loader.loadManifest(manifest);
			}

			function handleFileLoad(evt) {
				if (evt.item.type == "image") {
					images[evt.item.id] = evt.result;
				}
			}

			function handleComplete() {
				exportRoot = new lib.LB_DIV_0199_00_AC();

				stage = new createjs.Stage(canvas);
				stage.addChild(exportRoot);
				stage.update();
				
				createjs.Touch.enable(stage);

				createjs.Ticker.setFPS(12);
				createjs.Ticker.addEventListener("tick", stage);
				resizeApp ();
				
				canvas.addEventListener(fullScreenApi.fullScreenEventName, function() {
					if (fullScreenApi.isFullScreen()) {
					console.log ('full');
						resizeFullApp ();
					} else {
					console.log ('no full');
						resizeApp ();
					}
				});
			}
function resizeApp () {
	setTimeout(function () {
		// Get device size
		   var deviceWidth = window.innerWidth;
		   var deviceHeight = window.innerHeight;
		   console.log (window.innerWidth, window.innerHeight);
		   // Get smaller size (width or height)
		   var widthRatio = deviceWidth/965;
		   var heightRatio = deviceHeight/705;
		   
		   var ratio = widthRatio < heightRatio ? widthRatio : heightRatio;

		   canvas.style.width = 965 + 'px';
		   canvas.style.height = 705 + 'px';
		   console.log (ratio);
	}, 200);

}

function resizeFullApp () {
   // Get device size
   var deviceWidth = screen.width;
   var deviceHeight = screen.height;
   
   // Get smaller size (width or height)
   var widthRatio = deviceWidth/965;
   var heightRatio = deviceHeight/705;
   
   var ratio = widthRatio < heightRatio ? widthRatio : heightRatio;
console.log (ratio);
   canvas.style.width = (965 * ratio) + 'px';
   canvas.style.height = (705 * ratio) + 'px';
}
function gooutFullScreen () {
      if (document.cancelFullScreen) {
        document.cancelFullScreen();
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if (document.webkitCancelFullScreen) {
        document.webkitCancelFullScreen();
      }
      
      resizeApp ();
     }
function goFullScreen(){
	var elem = document.getElementById("canvas");
	if (elem.requestFullscreen) {
	  elem.requestFullscreen();
	} else if (elem.mozRequestFullScreen) {
	  elem.mozRequestFullScreen();
	} else if (elem.webkitRequestFullscreen) {
	  elem.webkitRequestFullscreen();
	}
	
	resizeFullApp ();
}
			function initSounds() {
				var sounds = [ {
					src : $lightclick,
					id : 'lightclick'
				}, {
					src : $1helloeveryonehas,
					id : '1helloeveryonehas'
				}, {
					src : $2whatisclassification,
					id : '2whatisclassification'
				}, {
					src : $3howdoweshowtheclassfication,
					id : '3howdoweshowtheclassfication'
				}, {
					src : $4clickononeofthetabs,
					id : '4clickononeofthetabs'
				}, {
					src : $5dragtheshapedobjects,
					id : '5dragtheshapedobjects'
				}, {
					src : $6draganddropthecorrectwords,
					id : '6draganddropthecorrectwords'
				}, {
					src : $7wejustlearnt,
					id : '7wejustlearnt'
				}, {
					src : $8classificationisplacingobjectsingroups,
					id : '8classificationisplacingobjectsingroups'
				}, {
					src : $8aclassificationisplacingobjectsingroups,
					id : '8aclassificationisplacingobjectsingroups'
				}, {
					src : $8bdidyounotice,
					id : '8bdidyounotice'
				}
				, {
					src : $9wejustlearnthatwecanuse,
					id : '9wejustlearnthatwecanuse'
				}, {
					src : $10welldone,
					id : '10welldone'
				}, {
					src : $11youarealmostthere,
					id : '11youarealmostthere'
				}, {
					src : $12herearethecorrectanswers,
					id : '12herearethecorrectanswers'
				}
				
				];
				webAudio = new WebAudio();

				try {
					webAudio.init();
					webAudio.initBufferLoader(sounds, onLoadSoundComplete);
				} catch (error) {
					isWebAPISupported = false;
					onLoadSoundComplete();
				}
			}

			function onLoadSoundComplete() {
				if (isWebAPISupported) {
					console.log('abcde');
					// /webAudio.playSound('gaugedistancestrength', false);
				}
				init();
				clearInterval(loadingAnimationInterval);
			}
		</script>
		<script id="myscript" type="text/javascript">
			var soundsAsync = [
			'soundjs/lightclick.js', 
			'soundjs/1helloeveryonehas.js',
			'soundjs/2whatisclassification.js',
			'soundjs/3howdoweshowtheclassfication.js',
			'soundjs/4clickononeofthetabs.js',
			'soundjs/5dragtheshapedobjects.js',
			'soundjs/6draganddropthecorrectwords.js',
			'soundjs/7wejustlearnt.js',
			'soundjs/8classificationisplacingobjectsingroups.js',
			'soundjs/8aclassificationisplacingobjectsingroups.js',
			'soundjs/8bdidyounotice.js',
			'soundjs/9wejustlearnthatwecanuse.js',
			'soundjs/10welldone.js',
			'soundjs/11youarealmostthere.js',
			'soundjs/12herearethecorrectanswers.js'
			];
			(function() {
				//for (var i = 0; i<soundsAsync.length; ++i){
				var i = 0;
				var loadScript = function(i) {
					var myscript = document.createElement('script');
					myscript.type = 'text/javascript';
					myscript.src = (soundsAsync[i]);
					myscript.async = true;
					var s = document.getElementById('myscript');
					s.parentNode.insertBefore(myscript, s);
					console.log(soundsAsync[i]);

					myscript.addEventListener("load", function(e) {
						i++;
						if (i == soundsAsync.length) {
							initSounds();
						} else {
							loadScript(i);
						}
						//init();
					});

				}
				loadScript(0);
				//}
			})();

		</script>

		<style type="text/css">
			#loading {
				width: 965px;
				height: 705px;
				background-color: white;
				border: 1px solid;
			}
			#loading span {
				font-family: arial, sans-serif;
				line-height: 705px;
				margin: 0 auto;
				display: block;
				color: black;
				font-size: 40px;
				width: 200px;
				height: 100%;
			}	
			body {
				margin: 0;
			}
		</style>
		<script language="javascript" src="..\scripts\Scorm_lms.js"></script>
		<script language="javascript" src="..\scripts\APIWrapper.js"></script>
		<script language="javascript" src="..\scripts\SCOFunctions.js"></script>
		<script type="text/javascript" language="JavaScript">
			function fSetCompleted()
			{
				SCOInitialize();
				DoFSCommand("CMISetStatus,completed");
			}
		</script>
	</head>

	<body style="background-color:#D4D4D4" onLoad="fSetCompleted()" onunload="SCOFinish()">
		<div id='loading'>
			<span id = "spanloading">LOADING</span>
		</div>
		<canvas id="canvas" width="965" height="705" style="background-color:#ffffff"></canvas>
	</body>
</html>