<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-terms-of-use no-sidebar">
        <div class="article-header">
          <h5>
            TERMS & CONDITIONS
          </h5>
        </div>
        <div class="article-content">
          <div class="article-body">
            <p>Welcome to Marshall Cavendish Online’s website powered by Marshall Cavendish Education. If you continue to browse and use this website you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern Marshall Cavendish Education’s relationship with you in relation to this website.</p>
            <br>
            <h6>The term</h6>
            <table class="table">
              <tbody>
                <tr>
                  <td>1.</td>
                  <td>The content of the pages of this website including the Terms and Conditions is subject to change without notice. All changes will be posted on this page, and your use of this site after such changes that have been posted will constitute your agreement to the modified Terms and Conditions.</td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td>In addition, particular services added or offered through this website may be subject to additional terms or guidelines, which shall be deemed incorporated in these Terms and Conditions by reference.</td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>Your use of this website and any disputes arising in connection with the website, or any relevant terms and conditions, policies and notices or any matter related to or in connection therewith is subject to the laws of Singapore. </td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>The information contained in this website is for general information purposes only and does not represent legal or other professional advice. Whilst we endeavour to keep the information up-to- date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability of the information contained on this website for any purpose whatsoever. Any reliance you place on such information is therefore strictly at your own risk. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements and to obtain legal and/or professional advice as necessary.</td>
                </tr>
                <tr>
                  <td>5.</td>
                  <td>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Copyright in the contents and materials of this website as a whole is owned by Marshall Cavendish Education, though the copyright in some contents and materials incorporated within this website may be owned by third parties where so indicated. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions. Any unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.</td>
                </tr>
                <tr>
                  <td>6.</td>
                  <td>From time to time this website may also include links to other websites. These links are provided for your convenience but they do not signify that we endorse the said websites. We have no control over the nature, content and availability of those sites. We shall not be liable for any damages or loss arising from your access to those websites. In no circumstances shall the owners and administrators of this site be associated or affiliated in whatever manner with any trade or service marks, logos, insignia or other devices used or appearing on websites to which this site is linked.</td>
                </tr>
                <tr>
                  <td>7.</td>
                  <td>Members+ should post responsibly. The owners and administrators of this site shall not tolerate defamatory or libellous material, obscene content and abusive or intimidating comments. Unless otherwise stated, members+ may use content from the site as long as such content is attributed to the author of the post. Content (including, but not limited to, information, images, files, sounds and video clips contained on or available through this site) is provided by the owners and administrators of this site and its registered members+.</td>
                </tr>
                <tr>
                  <td>8.</td>
                  <td>
                    <p>A Member+ owns all original content and information posted by the said Member+ on this website and can control how it is shared through the said Member's+ privacy and application settings. In addition, for content that is covered by intellectual property rights, like photos and videos (IP content), the said Member+ specifically gives Marshall Cavendish Education the following permission, subject to the Member's+ privacy and application settings:</p>
                    <p>8.1 You grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with this website (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.</p>
                    <p>8.2 You will not assume a false identity or the identity of another user when using this website, and you will not this website for unlawful or illegal activities, including but not limited to spamming, harassing or otherwise causing distress to other users.</p>
                    <p>8.3 When you delete the IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).</p>
                    <p>8.4 When you add an application and use our website, your content and information is shared with the application. We require applications to respect your privacy settings, but your agreement with that application will control how the application can use the content and information you share.</p>
                    <p>8.5 When you publish content or information, it means that everyone will have access to that information and we may not have control over what they do with it.</p>
                    <p>8.6 We always appreciate your feedback or other suggestions about our website, but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</p>
                  </td>
                </tr>
                <tr>
                  <td>9.</td>
                  <td>You may link to <a href="http://www.marshallcavendish.com/education" target="_blank">http://www.marshallcavendish.com/education</a>. Please contact the site administrators for more information. Under no circumstances shall the owners and administrators of this site be considered to be associated or affiliated in whatever manner with any trade or service marks, logos, insignia or other devices used or appearing on websites that link to <a href="http://www.marshallcavendish.com/education" target="_blank">http://www.marshallcavendish.com/education</a> or any of the contents.</td>
                </tr>
                <tr>
                  <td>10.</td>
                  <td>Marshall Cavendish Education reserves all rights to deny or restrict access to this site to any particular person, or to block access from a particular Internet address to this site, at any time, without ascribing any reasons whatsoever.</td>
                </tr>
                <tr>
                  <td>11.</td>
                  <td>Marshall Cavendish Education is not responsible for any material submitted to the public areas by you (which include bulletin boards, hosted pages, chat rooms, or any other public area found on the website. Any material (whether submitted by you or any other user) is not endorsed, reviewed or approved by the Marshall Cavendish Education. Marshall Cavendish Education shall have the right (but not the obligation) at our sole discretion to pre-screen, refuse, move or remove any content that is available via the website. Without limiting the foregoing, Marshall Cavendish Education shall have the right to remove any content (whether or not provided by you) that we believe in good faith violates the terms and conditions for the use of Marshall Cavendish Education’s website or that has been alleged to infringe any intellectual property rights or that contains marketing or promotional material which is intended to solicit business or that is otherwise objectionable in our sole opinion, without being liable to you in any way for any loss or damage arising from such removal.</td>
                </tr>
                <tr>
                  <td>12.</td>
                  <td>You further agree not to use the website to send or post any message or material that is unlawful, harassing, defamatory, abusive, indecent, threatening, harmful, vulgar, obscene, sexually orientated, racially offensive, profane, pornographic or violates any applicable law including any law relating to intellectual property rights, or to post or upload files that contain viruses, corrupted files or any other similar software or programmes that may damage the operation of Marshall Cavendish Education and/or a third party's computer system and/or network, and you hereby agree to fully indemnify Marshall Cavendish Education against any loss, liability, damage or expense of whatever nature which Marshall Cavendish Education or any third party may suffer which is caused by or attributable to, whether directly or indirectly, your use of the website to send or post or upload any such message or material.</td>
                </tr>
                <tr>
                  <td>13.</td>
                  <td>Every effort is made to keep the website up and running smoothly. However, Marshall Cavendish Education takes no responsibility for, and will not be liable for, the website being temporarily unavailable due to technical issues beyond our control.</td>
                </tr>
                <tr>
                  <td>14.</td>
                  <td>On registration, you must provide Marshall Cavendish Education with complete and accurate information. Marshall Cavendish Education is entitled to rely on any registration information you provide unless and until such information is updated by you via this website.</td>
                </tr>
                <tr>
                  <td>15.</td>
                  <td>
                    <p>You agree that any personally identifiable information which you provide to us through this website may be collected by Marshall Cavendish Education and used for various purposes, including without limitation:</p>
                    <p>15.1 To provide goods and services by Marshall Cavendish Education or its designated representatives, related organisations or business partners to you or parties designated by you and matters ancillary thereto;</p>
                    <p>15.2 To verify and process payment when you purchase goods and services through this website;</p>
                    <p>15.3 To verify and record your personal particulars and to use the information to communicate with you;</p>
                    <p>15.4 To send you information, promotions and updates including marketing and advertising materials in relation to goods and services of Marshall Cavendish Education, its affiliates and related organisations;</p>
                    <p>15.5 To conduct statistical and other analysis of users of our website; and</p>
                    <p>15.6 To comply with any order of court or directive from authorities investigating any alleged offence, misdeeds and/or abuse or for the purpose of taking any legal action against any users for breach of these Terms and Conditions.</p>
                  </td>
                </tr>
                <tr>
                  <td>16.</td>
                  <td>
                    By booking online or submitting a booking form, you are agreeing to the following terms and conditions.<br>
                    16.1 Making a booking<br>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>a)</td>
                          <td>Applicants will be accepted on a first come, first served basis.</td>
                        </tr>
                        <tr>
                          <td>b)</td>
                          <td>Event registration does not equate confirmation / reservation of seats for the events and are subject to availability of seats.</td>
                        </tr>
                        <tr>
                          <td>c)</td>
                          <td>Closing date of the events serve as last date of registration.</td>
                        </tr>
                        <tr>
                          <td>d)</td>
                          <td>Successful applicants will be informed through email at least 3 weeks before the actual workshop.</td>
                        </tr>
                        <tr>
                          <td>e)</td>
                          <td>Once payment has been made, no refunds will be made under any circumstances.</td>
                        </tr>
                        <tr>
                          <td>f)</td>
                          <td>No exchange of bookings will be made under any circumstances and registrations are not transferable and may not be resold. Marshall Cavendish Education reserves the right to cancel any bookings that have been transferred or resold and to deny any such entry.</td>
                        </tr>
                        <tr>
                          <td>g)</td>
                          <td>Event registration will only be effective after we received the valid payment (by cash, cheque or e-nets payment).</td>
                        </tr>
                        <tr>
                          <td>h)</td>
                          <td>Receipts will only be issued for cash or cheque payments upon request via email. Receipts for e-nets payment will be issued by the e-nets payment gateway.</td>
                        </tr>
                      </tbody>
                    </table>
                    <p>
                    16.2 Programme and Lecturer alterations<br>
                    All course and seminar programmes and Lecturers are correct at time of producing these pages. Due to unforeseen circumstances, we reserve the right to make alterations to Lecturers and programme content.
                    </p>
                    <p>
                    16.3 Accommodation<br>
                    Course and seminar fees do not include any accommodation.
                    </p>
                    <p>
                    16.4 Payment
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>a)</td>
                          <td>
                            For payments made by cash:<br>
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>1.</td>
                                  <td>Cash payments must be received by Marshall Cavendish Education on the day of registration or event date itself. However, registration will only be confirmed once payment is received, thus registration by cash may not forfeited if there are no further vacancies.</td>
                                </tr>
                                <tr>
                                  <td>2.</td>
                                  <td>Bookings may be cancelled, if payment is not received in full before the event.</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>b)</td>
                          <td>
                            For payments made by cheque:<br>
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>1.</td>
                                  <td>Crossed and made payable to “Marshall Cavendish International (Singapore) Private Limited”.</td>
                                </tr>
                                <tr>
                                  <td>2.</td>
                                  <td>Indicate the registrant’s name, contact number and course title and date on the back of the cheque.</td>
                                </tr>
                                <tr>
                                  <td>3.</td>
                                  <td>Cheque payments must be received by Marshall Cavendish Education within 3 days from registration date and at least 5 working days before the event date. Seats will only be confirmed after cheques are cleared.</td>
                                </tr>
                                <tr>
                                  <td>4.</td>
                                  <td>Bookings may be cancelled, if payment is not received in full before the event.</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>c)</td>
                          <td>
                            For payments made by credit card:<br>
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>1.</td>
                                  <td>All relevant sections of the booking form are completed, including the last three digits of the security code on the reverse of the card.</td>
                                </tr>
                                <tr>
                                  <td>2.</td>
                                  <td>Registration will only be confirmed after the credit card transaction is made and payment is confirmed.</td>
                                </tr>
                                <tr>
                                  <td>3.</td>
                                  <td>Bookings may be cancelled, if payment is not received in full before the event.</td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>d)</td>
                          <td>
                            For payments made through E-nets:<br>
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>1.</td>
                                  <td>Payment must be received by Marshall Cavendish Education upon registration.</td>
                                </tr>
                                <tr>
                                  <td>2.</td>
                                  <td>Registration will only be confirmed once transaction is approved and payment is made and confirmed. Participants will receive and email confirmation once payment is received and a place will be reserved.</td>
                                </tr>
                                <tr>
                                  <td>3.</td>
                                  <td>Participants are to print a copy of the completed transaction and bring it along for the event.</td>
                                </tr>
                                <tr>
                                  <td>4.</td>
                                  <td>
                                    <registration will="" not="" be="" recognised="" if="" transaction="" is="" denied="" or="" completed.="" td=""></registration>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    </p>
                    <p>
                    16.5 Event Refund/Cancellation Policy<br>
                    Marshall Cavendish Education reserves the right to cancel an event due to low enrollment or other circumstances which would make the event non-viable.<br><br>
                    If Marshall Cavendish Education cancels an event, registrants will be offered a full refund. However, no refund will be made for non-attendance.
                    </p>
                    <p>
                    16.6 Refunds<br>
                    All refunds would be credited back to the payee via the transacted mode of payment to Marshall Cavendish Education.
                    </p>
                    <p>
                    16.7 Intellectual Property<br>
                    No photography, audio or video recording is allowed during the Event unless otherwise stated by the Promoter.
                    </p>
                    <p>
                    16.8 Disclaimer of Personal Liability<br>
                    The participant voluntarily assumes all risk and danger incidental to the Event whether occurring prior to, during or subsequent to the actual Event, including any death, personal injury, loss, damage or liability.
                    </p>
                    <p>
                    16.9 Venue<br>
                    Any complaints regarding the Event shall be directed solely to and dealt with by the Promoter. Any complaints regarding the Venue shall be directed solely to and dealt with by the Venue Owner.
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>17.</td>
                  <td>For payments made through this website, you agree to follow and accept all instructions and information in this website when performing a transaction, to provide information which is true, current, complete and accurate when performing a transaction, not to perform any speculative, false or fraudulent transaction, and to pay any and all fees in respect of your transaction. Marshall Cavendish Education reserves the right to cancel or reject your transaction without refund or paying any compensation to you if any transaction details or communication you have provided are not current or are incomplete, inaccurate, or false.</td>
                </tr>
                <tr>
                  <td>18.</td>
                  <td>Marshall Cavendish Education and/or its affiliates or related organisations or content providers shall not be liable for any direct, indirect or consequential loss or damage of any kind occasioned from the reliance upon the contents contained in or available from this website, the performing of any transaction or communication on this website, and/or the use or inability to use this website, resulting from inaccuracies, neglect, defects, errors, omissions, out-dated information or otherwise.</td>
                </tr>
                <tr>
                  <td>19.</td>
                  <td>The opinions expressed by individuals providing comments are theirs alone and may not necessarily reflect the opinions of the owners and administrators of this site. Marshall Cavendish Education therefore shall not be responsible for the accuracy of any of the information supplied by the users of the site in relation to any comments that are posted. You should bear in mind that circumstances change and that information that may have been accurate at the time of posting may not necessarily remain so. You agree to waive, and hereby do waive, any legal or equitable rights or remedies you have or may have against Marshall Cavendish Education with respect thereto.</td>
                </tr>
                <tr>
                  <td>20.</td>
                  <td>You agree not to circumvent, disable or otherwise interfere with security-related features of this website or features that prevent or restrict use or copying of any content or enforce limitations on use of this website or the content therein.</td>
                </tr>
                <tr>
                  <td>21.</td>
                  <td>We respect the intellectual property of others, and we ask our users to do the same. If you believe that your intellectual property right has been infringed, please notify us at mcis_mktg@marshallcavendish.com.sg. Upon receipt of a complaint of infringement, we will expeditiously take reasonable steps to remove or disable access to the allegedly infringing electronic copy and expeditiously take reasonable steps to notify the person who had made that electronic copy available (Content Owner). We may also, in appropriate circumstances and at our sole discretion, disable and/or terminate without notice the accounts of users who may be infringing the intellectual property rights (including but not limited to copyrights and trademarks) of others. In particular, we will terminate the accounts of users whom we have determined (in our sole discretion) to be repeat infringers.</td>
                </tr>
              </tbody>
            </table>
            <p style="font-size: 0.875rem;"><em>+Registered guest(s) of Marshall Cavendish Online’s website powered by Marshall Cavendish Education.</em></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>