<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-reset-password no-sidebar">
        <div class="article-header">
          <h5>Reset Your Password</h5>
        </div>
        <div class="article-content">
          <div class="article-body">
            <form class="form-reset-password">
              <div class="form-group">
                <label class="form-label" for="txtUserId">Login ID</label>                
                <div class="form-text text-muted">admin</div>
              </div>
              <div class="form-group">
                <label class="form-label">School ID</label>                
                <div class="form-text text-muted">Oversea</div>
              </div>
              <div class="form-group">
                <label class="form-label" for="txtNewPassword">New Password</label>
                <div class="form-group">
                  <input class="form-control form-input" type="password" id="txtNewPassword">
                  <small class="form-text text-muted">
                    Minimum 8 alphanumeric characters, containing at least 1 letter and 1 numeral and it must be different from the Login ID. Acceptable characters include a-z, 0-9 and symbols _ - . @
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="txtConfirmPassword">Confirm Password</label>
                <input class="form-control form-input" type="password" id="txtConfirmPassword">
              </div>
              <div class="form-group form-group-actions">
                <button class="btn btn-primary" type="button">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
