<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-reset-student-password">
        <div class="article-header">
          <h5>Administration</h5>
          <button class="btn btn-light" data-toggle="sidebar" data-target=".article-reset-student-password">
            <i class="fas fa-caret-down"></i>
          </button>
        </div>
        <div class="article-content">
          <div class="article-sidebar">
            <ul class="nav nav-side">
              <li class="nav-item">
                <a class="nav-link" href="/{{userRole}}/profile/change_password">Change Password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Reset Student Password</a>
              </li>
              {{#if adminUser}}
                <li class="nav-item">
                  <a class="nav-link" href="/{{userRole}}/profile/reset_teacher_password">Reset Teacher Password</a>
                </li>
              {{/if}}
            </ul>
          </div>
          <div class="article-body">
            <form class="form-reset-student-password">
              <div class="form-header">
                <h6>Reset Student Password</h6>
              </div>
              <div class="form-group">
                <label class="form-label" for="selGrade">Grade</label>
                <select class="form-control selectpicker" id="selGrade" data-container=".article-body">
                  <option>Primary 1</option>
                  <option>Primary 2</option>
                  <option>Primary 3</option>
                  <option>Primary 4</option>
                  <option>Primary 5</option>
                  <option>Primary 6</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="selClass">Class</label>
                <select class="form-control selectpicker" id="selClass" data-container=".article-body">
                  <option>P1-EN</option>
                  <option>P1-HA</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="selStudent">Student</label>
                <select class="form-control selectpicker" id="selStudent" data-container=".article-body">
                  <option>John</option>
                  <option>Peter</option>
                </select>
                <div class="form-text text-danger">
                  <i class="fas fa-lock"></i> This account is currently locked out.
                  <button class="btn btn-primary btn-sm">
                    <i class="fas fa-unlock"></i> Unlock
                  </button>
                </div>
              </div>
              <div class="form-group">
                <label class="form-label" for="txtNewPassword">New Password</label>
                <input class="form-control form-input" type="password" id="txtNewPassword">
                <small class="form-text text-muted">
                  Minimum 8 alphanumeric characters, containing at least 1 letter and 1 numeral and it must be different from the Login ID. Acceptable characters include a-z, 0-9 and symbols _ - . @
                </small>
              </div>
              <div class="form-group">
                <label class="form-label" for="txtConfirmPassword">Confirm Password</label>
                <input class="form-control form-input" type="password" id="txtConfirmPassword">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="chkAutoGeneratePassword"/>
                  <label class="form-check-label" for="chkAutoGeneratePassword">Auto generate password and send to personal email address and mobile phone.</label>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="button">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
