<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-profile">
        <h1>My Profile</h1>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-update-personal-particulars no-sidebar">
        <div class="article-header">
          <h5>Update Personal Particulars</h5>
        </div>
        <div class="article-content">
          <div class="article-body">
            <form class="form-personal-particulars">
              <div class="form-group">
                <label class="form-label" for="selGender">Gender</label>
                <select class="form-control selectpicker" id="selGender" data-container="article-body">
                  <option>Female</option>
                  <option>Male</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="txtEmail">Email Address</label>
                <input class="form-control form-input" type="text" id="txtEmail">
              </div>
              <div class="form-group">
                <label class="form-label" for="txtMobile">Mobile Phone</label>
                <input class="form-control form-input" type="text" id="txtMobile">
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="button">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
