<object type="text/html"
	data="/topic/resource">
</object>
<ul class="nav">
	<li class="nav-item">
		<a class="nav-link" href="#">
			<img alt="Resource" src="https://via.placeholder.com/32.png/ffcc00"/>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<img alt="Resource" src="https://via.placeholder.com/32.png/ffcc00"/>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<img alt="Resource" src="https://via.placeholder.com/32.png/ffcc00"/>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<img alt="Resource" src="https://via.placeholder.com/32.png/ffcc00"/>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<img alt="Resource" src="https://via.placeholder.com/32.png/ffcc00"/>
		</a>
	</li>
</ul>
