<div class="channel-content zoomIn">
	<div class="header">
		Choose a Theme:
	</div>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/theme">
				<span class="material-icons">extension</span>
				<span>Diversity</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/theme">
				<span class="material-icons">extension</span>
				<span>Cycles</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/theme">
				<span class="material-icons">extension</span>
				<span>Systems</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/theme">
				<span class="material-icons">extension</span>
				<span>Interactions</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/theme">
				<span class="material-icons">extension</span>
				<span>Energy</span>
			</a>
		</li>
	</ul>
</div>
