<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/javascripts/ajax.js"></script>
		<script src="/javascripts/Scorm/scorm_1.js?d=20160927"></script>
		<script src="/javascripts/Scorm/APIAdapterf.js"></script>
		<script src="/javascripts/Scorm/XPath_webkit.js"></script>
		<script src="/javascripts/Scorm/xpathDOM.js"></script>
  </head>
  <body>
		<div class="channel-header">
			<nav class="navbar">
				<div class="navbar-text">
					<img alt="Grade 5 Science" src="https://via.placeholder.com/56"/>
					<span>Grade 5 Science</span>
				</div>
			</nav>
		</div>
		<div class="channel-content">
			<div class="panel panel-themes">
				<div class="panel-header">
					Choose a Theme:
				</div>
				<ul class="nav">
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Diversity" src="https://via.placeholder.com/32"/>
							Diversity
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Cycles" src="https://via.placeholder.com/32"/>
							Cycles
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Systems" src="https://via.placeholder.com/32"/>
							Systems
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Interactions" src="https://via.placeholder.com/32"/>
							Interactions
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Energy" src="https://via.placeholder.com/32"/>
							Energy
						</a>
					</li>
				</ul>
			</div>
			<div class="panel panel-topics">
				<div class="panel-header">
					Choose a Topic:
				</div>
				<ul class="nav collapsed">
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Forces" src="https://via.placeholder.com/32"/>
							Forces
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Living Together" src="https://via.placeholder.com/32"/>
							Living Together
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Man's Impact on the Environment" src="https://via.placeholder.com/32"/>
							Man's Impact on the Environment
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Food Chains and Food Webs" src="https://via.placeholder.com/32"/>
							Food Chains and Food Webs
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<img alt="Adaptations" src="https://via.placeholder.com/32"/>
							Adaptations
						</a>
					</li>
				</ul>
			</div>
			<div class="panel panel-player d-none">
				<button class="close" type="button">
					<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAE5SURBVGhD7ZJbCsJADEW7Q5/gnjvtFkT8EF9LEDSBBLR2Rh2TmRRyIB+d0dxzaRvHcRzHSRFCWMNcYA5d1y3oWA3MgDliZtu2KzrOB5ZdYe40t77vN3QlDu7GDM7DEnSVDyw580IalRJDeRzIPtF1PrB4OVyMz5IlxuTpWeaTjQVIlNDc/YJGUDF5RjKwuDwjEVxNnvlHoLo8kyNiRp75RcicPPONmFl5JiVoXp6JiY6dmZNnIiWex648kyhhXx6ZdIGEPM/kvn98fjszVyImj+epO/p7Xb4RNFviFzFzJXKEzJT4R6R6CQmBaiUkg4uX0AgsVkIzSL1ECGGmGgDESmA2/SQfWLIbLpaUZ8ZKYDZd5wOL9k9LVeSZkRJ7usoHlsxxEcxW5JV+gD7ZLWaWyHMcx3GmTNM8AJFsAezBCaUeAAAAAElFTkSuQmCC"/>
				</button>
				<object id="player" type="text/html">
				</object>
			</div>
		</div>
		<div class="channel-footer">
			<div class="copyright">
        Created with <img alt="Heart" src="/images/heart.png"/> by Marshall Cavendish Education
      </div>
			<div class="logo">
				<img alt="Marshall Cavendish Education" src="/images/mce-logo.png"/>
			</div>
		</div>
		<script>
			if (window.NodeList && !NodeList.prototype.forEach) {
				NodeList.prototype.forEach = Array.prototype.forEach;
			}
		</script>
		<script>
			var body = document.querySelector('body');
			var themesPanel = document.querySelector('.panel-themes');
			var themesNav = themesPanel.querySelector('.nav');
			var themeLinks = themesNav.querySelectorAll('.nav-link');
			var topicsPanel = document.querySelector('.panel-topics');
			var topicsNav = topicsPanel.querySelector('.nav');
			var topicLinks = topicsNav.querySelectorAll('.nav .nav-link');
			var playerPanel = document.querySelector('.panel-player');
			var closeBtn = playerPanel.querySelector('.close');
			var player = playerPanel.querySelector('#player');

			themeLinks.forEach(function(themeLink) {
				themeLink.addEventListener('click', function(e) {
					e.preventDefault();
					themesNav.classList.add('collapsed');
					topicsNav.classList.remove('collapsed');
				}, false);
			});

			//\\SIN_LOCALSTG2\nres02\{CC81573D-02C4-4663-BAAB-217EA2A7374C}
			var identifier = 'ITEM-FD367A8C-1FA5-67F1-389F-EB08459733CF';
			//var identifier = 'ITEM-92BE30D3E5E8F0AB67138B5D1D1A7046';
			topicLinks.forEach(function(topicLink) {
				topicLink.addEventListener('click', function(e) {
					e.preventDefault();
					themesPanel.classList.add('d-none');
					topicsPanel.classList.add('d-none');
					body.classList.add('mode-player');
					playerPanel.classList.remove('d-none');
					player.setAttribute('data', '/player/?identifier=' + identifier + '&usertype=student');
				}, false);
			});
			
			closeBtn.addEventListener('click', function(e) {
				body.classList.remove('mode-player');
				themesPanel.classList.remove('d-none');
				topicsPanel.classList.remove('d-none');
				playerPanel.classList.add('d-none');
			}, false);

			doSCOPackage();
		</script>
	<body>
</html>
