<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
		<link rel="stylesheet" href="/material-icons/iconfont/material-icons.css" />
		<link rel="stylesheet" href="/animate.css/animate.css">
		<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/jquery/dist/jquery.js"></script>
		<script src="/popper.js/dist/umd/popper.js"></script>
		<script src="/bootstrap/dist/js/bootstrap.js"></script>
  </head>
  <body>
		<div class="channel-header">
			<nav class="navbar">
				<div class="navbar-text">
					<span class="material-icons">extension</span>
					<span>Grade 5 Science</span>
				</div>
			</nav>
		</div>
		{{{body}}}
		<div class="channel-footer">
			<div class="copyright">
        <span>Created with </span>
				<span class="material-icons">favorite</span>
				<span> by Marshall Cavendish Education</span>
      </div>
			<div class="logo">
				<img alt="Marshall Cavendish Education" src="/images/mce-logo.png">
			</div>
		</div>
  </body>
</html>
