<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/javascripts/ajax.js"></script>
		<script src="/javascripts/Scorm/scorm_1.js?d=20160927"></script>
		<script src="/javascripts/Scorm/APIAdapterf.js"></script>
		<script src="/javascripts/Scorm/XPath_webkit.js"></script>
		<script src="/javascripts/Scorm/xpathDOM.js"></script>
  </head>
  <body>
		<div class="channel-header">
			<nav class="navbar">
				<div class="navbar-text">
					<img alt="Grade 5 Science" src="https://via.placeholder.com/56"/>
					<span>Grade 5 Science</span>
				</div>
			</nav>
		</div>
		{{{body}}}
		<div class="channel-footer">
			<div class="copyright">
        Created with <img alt="Heart" src="/images/heart.png"/> by Marshall Cavendish Education
      </div>
			<div class="logo">
				<img alt="Marshall Cavendish Education" src="/images/mce-logo.png"/>
			</div>
		</div>
  </body>
</html>
