<div class="channel-content zoomIn">
	<div class="header">
		Choose a Topic:
	</div>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/">
				<span class="material-icons">extension</span>
				<span>Forces</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">
				<span class="material-icons">extension</span>
				<span>Living Together</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">
				<span class="material-icons">extension</span>
				<span>Man's Impact on the Environment</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">
				<span class="material-icons">extension</span>
				<span>Food Chains and Food Webs</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/">
				<span class="material-icons">extension</span>
				<span>Adaptations</span>
			</a>
		</li>
	</ul>
</div>
