.app-content {
  &.page-visitors {
    .article-current-visitors,
    .article-school-visitors,
    .article-visitors-report,
    .article-visitor-categories,
    .article-notification-rules {
      padding: 0 1.5rem;

      .article-header {
        height: 4rem;
        max-height: 4rem;

        .navbar {
          @include display-flex(row);
          @include align-items(center);
          @include flex-grow(1);
          @include flex-wrap(nowrap);
          background-color: $gray-200;
          height: 4rem;
          max-height: 4rem;
          margin: 0 -1.5rem;
          padding: .75rem 1.5rem;

          .navbar-nav {
            @include flex-direction(row);

            &:first-child {
              margin-right: 1rem;
              width: 16.5rem;
            }

            &.nav-main {
              @include flex-grow(1);
              position: relative;
            }

            .nav-item {
              @include display-flex(row);
              @include align-items(center);

              &.nav-item-drawer {
                .btn-light {
                  padding: .25rem;

                  img {
                    width: 3rem;
                  }
                }  
              }

              &.nav-item-submodule {
                .btn-light {
                  font-size: 1.25rem;

                  .fas {
                    font-size: 1.25rem;
                  }
                }
              }

              .btn-light {
                margin: 0 .25rem;
              }

              .item-text {
                font-size: 1.25rem;
                width: 12rem;
              }
            }

            .btn-light {
              &.btn-more {
                padding: .325rem 1rem;
              }

              .fas {
                font-size: 1.5rem;

                &.fa-filter {
                  font-size: 1.25rem;
                }

                &.fa-arrow-left {
                  font-size: 1.5rem;
                }
              }
            }
          }
        }
      }

      .article-content {
        .article-sidebar {
          margin: 0;
        }

        .article-body {
          .navbar {
            @include justify-content(space-between);
            padding: .75rem 0;

            &.navbar-pagination {
              @include justify-content(flex-end);
            }

            .navbar-nav {
              .btn-primary {
                margin-left: 1rem;
              }

              .btn-outline-secondary {
                margin-left: .5rem;
              }
            }
          }

          .table {
            @include user-select(none);
            margin-bottom: 0;

            a {
              color: $gray-900;
              word-break: break-word; 
            }
          }
        }
      }

      @media (max-width: 991.98px) {
        .article-header {
          margin: 0 -.5rem;
          position: -webkit-sticky;
          position: sticky;
          top: 5rem;
          z-index: 970;

          .navbar {
            @include justify-content(space-between);
            padding: 1rem;

            .navbar-nav {
              &.nav-main {
                display: none;
              }

              .nav-divider {
                display: none;
              }

              .nav-item-drawer {
                display: none;
              }

              .input-group {
                .input-group-prepend {
                  .btn-search {
                    display: none;
                  }
                }

                .form-control {
                  padding-left: 3.5rem;
                }
              }
            }
          }
        }

        .article-content {
          margin: 0 -.5rem;

          .article-sidebar {
            display: none;
          }

          .article-body {
            margin: 0;
          }
        }
      }

      @media (max-width: 576px) {
        .article-header {
          .navbar {
            .navbar-nav {
              &:first-child {
                width: 14rem;
              }
            }
          }
        }
      }

      @media (min-width: 992px) {
        .article-header {
          position: -webkit-sticky;
          position: sticky;
          top: 6rem;
          z-index: 970;

          .navbar {
            .navbar-nav {
              &:not(.nav-main) {
                .btn-search {
                  display: none;
                }
              }

              .nav-item-submodule {
                display: none;
              }

              .input-group {
                .input-group-prepend {
                  .btn-back {
                    display: none;
                  }
                }

                .form-control {
                  width: 24rem;
                }
              }
            }
          }
        }

        .article-content {
          .article-sidebar {
            height: calc(100vh - 13rem);
            overflow-x: hidden;
            overflow-y: auto;
            padding: .5rem 0;
            position: -webkit-sticky;
            position: sticky;
            top: 10rem;
          }

          .article-body {
            .table-head {
              position: -webkit-sticky;
              position: sticky;
              top: 10rem;
              z-index: 950;
            }
          }
        }
      }
    }
  }
}

.modal-visitor-create {
  .modal-dialog {
    .modal-body {
      @media (min-width: 768px) {
        .form-create-visitor {
          .form-group {
            @include display-flex(row);
            @include align-items(flex-start);

            .form-group {
              @include display-flex(column);
              @include flex-grow(1);
              margin-bottom: 0;
            }

            .form-label {
              min-width: 12rem;
              width: 12rem;
            }
          }
        }
      }
    }
  }
}

.modal-visitor-edit {
  .modal-dialog {
    .modal-body {
      @media (min-width: 768px) {
        .form-edit-visitor {
          .form-group {
            @include display-flex(row);
            @include align-items(flex-start);

            .form-group {
              @include display-flex(column);
              @include flex-grow(1);
              margin-bottom: 0;
            }

            .form-label {
              min-width: 12rem;
              width: 12rem;
            }
          }
        }
      }
    }
  }
}

.modal-visitor-checkin {
  .modal-dialog {
    .modal-body {
      .form-checkin-visitor {
        .form-group {
          .algolia-autocomplete {
            min-width: 100%;
            width: 100%;
          }
        }
      }

      @media (min-width: 768px) {
        .form-checkin-visitor {
          .form-group {
            @include display-flex(row);
            @include align-items(flex-start);

            .form-group {
              @include display-flex(column);
              @include flex-grow(1);
              margin-bottom: 0;
            }

            .form-label {
              min-width: 12rem;
              width: 12rem;
            }
          }
        }
      }
    }
  }
}

.modal-visitor-checkout {
  .modal-dialog {
    .modal-body {
      .form-checkout-visitor {
        .form-group {
          .algolia-autocomplete {
            min-width: 100%;
            width: 100%;
          }
        }
      }

      @media (min-width: 768px) {
        .form-checkout-visitor {
          .form-group {
            @include display-flex(row);
            @include align-items(flex-start);

            .form-group {
              @include display-flex(column);
              @include flex-grow(1);
              margin-bottom: 0;
            }

            .form-label {
              min-width: 12rem;
              width: 12rem;
            }
          }
        }
      }
    }
  }
}

.modal-visitor-view {
  .modal-dialog {
    .modal-body {
      .attribute-group {
        margin-bottom: 1rem;
      }

      .table {
        thead {
          th {
            background-color: $gray-200;
          }
        }
      }
    }
  }
}

.modal-category-create {
  .modal-dialog {
    .modal-body {
      .form-create-category {
        .form-group {
          .alert-recipients {
            @include display-flex(column);
            
            .algolia-autocomplete {
              @include flex-grow(1);
            }
          }
        }
      }

      @media (min-width: 768px) {
        .form-create-category {
          .form-group {
            @include display-flex(row);
            @include align-items(flex-start);

            .form-group {
              @include display-flex(column);
              @include flex-grow(1);
              margin-bottom: 0;
            }

            .form-label {
              min-width: 12rem;
              width: 12rem;
            }
          }
        }
      }
    }
  }
}

.modal-category-edit {
  .modal-dialog {
    .modal-body {
      .form-edit-category {
        .form-group {
          .alert-recipients {
            @include display-flex(column);

            .algolia-autocomplete {
              @include flex-grow(1);
            }
          }
        }
      }

      @media (min-width: 768px) {
        .form-edit-category {
          .form-group {
            @include display-flex(row);
            @include align-items(flex-start);

            .form-group {
              @include display-flex(column);
              @include flex-grow(1);
              margin-bottom: 0;
            }

            .form-label {
              min-width: 12rem;
              width: 12rem;
            }
          }
        }
      }
    }
  }
}
