extends layout

block content
  p
    input(type='radio')
    label Radio
  p
    input(type='checkbox')
    label Checkbox
  p
    input(
      type='textbx'
      value='Textbox'
    )
  p
    textarea Textarea
  p
    select
      option Option
  p
    button(class="button") Button
