<div class="app-content">
  <form class="form-user-details">
    <h2>User Details</h2>
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xl-1">
        <label class="form-label">Email</label>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input class="form-control form-input" type="text" value="adamsmith@sjijunior.edu.au">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xl-1">
        <label class="form-label">Role</label>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <select class="form-control form-select">
          <option>Student</option>
          <option>Teacher</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xl-1">
        <label class="form-label">Name</label>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input class="form-control form-input" type="text" value="Adam Smith">
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xl-1">
        <label class="form-label">Level</label>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <select class="form-control form-select">
          <option>Primary 1</option>
          <option>Primary 2</option>
          <option>Primary 3</option>
          <option>Primary 4</option>
          <option>Primary 5</option>
          <option>Primary 6</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xl-1">
        <label class="form-label">Class</label>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <select class="form-control form-select">
          <option>1-Amazing</option>
          <option>1-Brilliant</option>
          <option>1-Compassion</option>
          <option>1-Diligence</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2 col-xl-1">
        <label class="form-label">Password</label>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <input class="form-control form-input" type="password" value="password">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-6 col-xl-4 form-actions">
        <button class="btn btn-outline-primary btn-cancel" type="button">
          Cancel
        </button>
        <button class="btn btn-primary" type="button">
          Save
        </button>
      </div>
    </div>
  </form>
</div>
