<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-questions">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <button class="btn btn-light" type="button">
                  <i class="fas fa-question-circle"></i>
                </button>
                <span class="item-text text-truncate">Question Builder</span>
              </li>
              <li class="nav-item nav-item-submodule dropdown">
                <button class="btn btn-light" type="button" data-toggle="dropdown">
                  My Questions <i class="fas fa-caret-down"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">My Questions</a>
                  <a class="dropdown-item" href="#">Share with Me</a>
                  <a class="dropdown-item" href="#">Share by Me</a>
                  <a class="dropdown-item" href="#">Question Bank</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav nav-main">
              <li class="nav-item dialog">
                <div class="input-group input-group-search">
                  <div class="input-group-prepend">
                    <button class="btn btn-light btn-search" type="button">
                      <i class="fas fa-search"></i>
                    </button>
                    <button class="btn btn-light btn-back" type="button">
                      <i class="fas fa-arrow-left"></i>
                    </button>
                  </div>
                  <input class="form-control form-input input-autocomplete" type="text" placeholder="Search questions">
                  <div class="input-group-append">
                    <button class="btn btn-light btn-clear d-none" type="button">
                      <i class="fas fa-times"></i>
                    </button>
                    <button class="btn btn-light btn-toggle" type="button" data-toggle='dialog'>
                      <i class="fas fa-caret-down"></i>
                    </button>
                  </div>
                </div>
                <div class="dialog-menu dialog-menu-search dialog-menu-lg">
                  <form class="form-advanced-search">
                    <div class="form-row">
                      <div class="col-lg">
                        <div class="form-group">
                          <label class="form-label" for="selLocation">Location</label>
                          <select class="form-control selectpicker" id="selLocation">
                            <option>Anywhere</option>
                            <option>My Questions</option>
                            <option>Shared with Me</option>
                            <option>Shared by Me</option>
                            <option>Question Bank</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="form-label" for="selCurriculum">Curriculum</label>
                          <select class="form-control selectpicker" id="selCurriculum">
                            <option>All</option>
                            <option>CAIE</option>
                            <option>SG</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="form-label" for="selGrade">Grade</label>
                          <select class="form-control selectpicker" id="selGrade">
                            <option>All</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="form-label" for="selSubjet">Subject</label>
                          <select class="form-control selectpicker" id="selSubjet">
                            <option>All</option>
                            <option>Chemistry</option>
                            <option>Mathematics</option>
                            <option>Physics</option>
                            <option>Science</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-lg">
                        <div class="form-group">
                          <label class="form-label" for="selType">Question Type</label>
                          <select class="form-control selectpicker" id="selType">
                            <option value="ALL" selected>All</option>
                            <option value="MCQ">Single Response MCQ</option>
                            <option value="MRQ">Multiple Reponse MCQ</option>
                            <option value="TFQ">True/False Qn</option>
                            <option value="FIB">Short-Ans Qn</option>
                            <option value="ESSAY">Open-Ended Qn</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="form-label" for="selTopic">Topic</label>
                          <select class="form-control selectpicker" id="selTopic">
                            <option value="ALL" selected>All</option>
                            <option>Numbers To 10</option>
                            <option>Number Bonds</option>
                            <option>Addition Within 10</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="form-label" for="selSubtopic">Subtopic</label>
                          <select class="form-control selectpicker" id="selSubtopic">
                            <option value="ALL" selected>All</option>
                            <option>Counting To 10</option>
                            <option>Comparing Numbers</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="form-label" for="selDifficulty">Difficulty</label>
                          <select class="form-control selectpicker" id="selDifficulty">
                            <option value="ALL" selected>All</option>
                            <option value="Basic">Basic</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-lg">
                        <div class="form-group">
                          <label class="form-label" for="txtKeyword">Keyword</label>
                          <input class="form-control form-input" type="text" id="txtKeyword">
                        </div>
                      </div>
                      <div class="col-lg"></div>
                    </div>
                    <div class="form-group form-group-actions">
                      <button class="btn btn-light" type="button">Reset</button> 
                      <button class="btn btn-primary" type="button">Search</button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <button class="btn btn-light btn-edit d-none" type="button" title="Edit">
                  <i class="fas fa-edit"></i>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-light btn-share d-none" type="button" title="Share">
                  <i class="fas fa-share-alt"></i>
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-light btn-assign d-none" type="button" title="Assign">
                  <i class="fas fa-calendar-check"></i>
                </button>
              </li>
              <li class="nav-divider divider-search d-none"></li>
              <li class="nav-item">
                <button class="btn btn-light btn-search" type="button" title="Search">
                  <i class="fas fa-search"></i>
                </button>
              </li>
            </ul>
        </div>
        <div class="article-content">
          <div class="article-sidebar">
            <ul class="nav nav-side">              
              <li class="nav-item">
                <a class="nav-link active" href="#">My Questions
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shared with Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Shared by Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Question Bank</a>
              </li>
            </ul>
          </div>
          <div class="article-body">
            <div class="loading-state d-none">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <div class="empty-state d-none">Oops, nothing to see here!</div>
            <nav class="navbar navbar-expand">
              <div class="navbar-text">6 records found</div>
              <ul class="navbar-nav nav-form d-none">
                <li class="nav-item">
                  <form class="form-inline form-add-resource">
                    <label class="form-label text-truncate">Add to</label>
                    <select class="form-control selectpicker" data-width="160">
                      <option selected>Section A</option>
                      <option>Section B</option>
                    </select>
                    <button type="button" class="btn btn-primary btn-add">
                      Add
                    </button>
                  </form>
                </li>
              </ul>
            </nav>
            <nav class="navbar navbar-toolbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" id="all" class="custom-control-input">
                    <label class="custom-control-label" for="all">Select All</label>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="expand">
                    <label class="custom-control-label" for="expand">Expand All</label>
                  </div>
                </li>
              </ul>
            </nav>
            <div class="list-components">
              <div class="component component-question">
                <div class="custom-control custom-checkbox question-checkbox">
                  <input type="checkbox" id="item0" class="custom-control-input">
                  <label class="custom-control-label" for="item0"></label>
                </div>
                <div class="question-preview">
                  <div class="question-title">
                    Single Response MCQ
                    <span class="badge badge-light" title="Shared">
                      <i class="fas fa-user-friends"></i>
                    </span>
                  </div>
                  <div class="question-text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                  <div class="collapse collapse-attributes" id="collapse1">
                    <div class="question-answers">
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="mcq1" name="mcq" class="custom-control-input" checked>
                          <label class="custom-control-label" for="mcq1">
                            <p>Option 1</p>
                          </label>
                        </div>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="mcq2" name="mcq" class="custom-control-input">
                          <label class="custom-control-label" for="mcq2">
                            <p>Option 2</p>
                          </label>
                        </div>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="mcq3" name="mcq" class="custom-control-input">
                          <label class="custom-control-label" for="mcq3">
                            <p>Option 3</p>
                          </label>
                        </div>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="mcq4" name="mcq" class="custom-control-input">
                          <label class="custom-control-label" for="mcq4">
                            <p>Option 4</p>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="question-attributes">
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Curriculum:</div>
                          <div class="attribute-value">SG</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Grade:</div>
                          <div class="attribute-value">1</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subject:</div>
                          <div class="attribute-value">English</div>
                        </div>
                      </div>
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Topic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subtopic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Learning Objective:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Keywords:</div>
                          <div class="attribute-value">ipsum, dolor, sit, amet</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Difficulty:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link link-show-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse1">
                        Show more <i class="fas fa-chevron-down"></i>
                      </a>
                      <a class="nav-link link-hide-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse1">
                        Show less <i class="fas fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="question-modified-date text-muted">11 May 2019</div>
                </div>
              </div>
              <div class="component component-question">
                <div class="custom-control custom-checkbox question-checkbox">
                  <input type="checkbox" id="item1" class="custom-control-input">
                  <label class="custom-control-label" for="item1"></label>
                </div>
                <div class="question-preview">
                  <div class="question-title">
                    Multiple Reponse MCQ
                    <span class="badge badge-light" title="Shared">
                      <i class="fas fa-user-friends"></i>
                    </span>
                  </div>
                  <div class="question-text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                  <div class="collapse collapse-attributes" id="collapse2">
                    <div class="question-answers">
                      <div class="answer-details">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="mrq1" name="mrq" class="custom-control-input" checked>
                          <label class="custom-control-label" for="mrq1">
                            <p>Option 1</p>
                          </label>
                        </div>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="mrq2" name="mrq" class="custom-control-input" checked>
                          <label class="custom-control-label" for="mrq2">
                            <p>Option 2</p>
                          </label>
                        </div>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="mrq3" name="mrq" class="custom-control-input">
                          <label class="custom-control-label" for="mrq3">
                            <p>Option 3</p>
                          </label>
                        </div>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="mrq4" name="mrq" class="custom-control-input">
                          <label class="custom-control-label" for="mrq4">
                            <p>Option 4</p>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="question-attributes">
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Curriculum:</div>
                          <div class="attribute-value">SG</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Grade:</div>
                          <div class="attribute-value">1</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subject:</div>
                          <div class="attribute-value">English</div>
                        </div>
                      </div>
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Topic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subtopic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Learning Objective:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Keywords:</div>
                          <div class="attribute-value">ipsum, dolor, sit, amet</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Difficulty:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link link-show-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse2">
                        Show more <i class="fas fa-chevron-down"></i>
                      </a>
                      <a class="nav-link link-hide-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse2">
                        Show less <i class="fas fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="question-modified-date text-muted">10 May 2019</div>
                </div>
              </div>
              <div class="component component-question">
                <div class="custom-control custom-checkbox question-checkbox">
                  <input type="checkbox" id="item2" class="custom-control-input">
                  <label class="custom-control-label" for="item2"></label>
                </div>
                <div class="question-preview">
                  <div class="question-title">True/False Qn</div>
                  <div class="question-text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                  <div class="collapse collapse-attributes" id="collapse3">
                    <div class="question-answers">
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="tfq1" name="tfq" class="custom-control-input" checked>
                          <label class="custom-control-label" for="tfq1">
                            <p>True</p>
                          </label>
                        </div>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="tfq2" name="tfq" class="custom-control-input">
                          <label class="custom-control-label" for="tfq2">
                            <p>False</p>
                          </label>
                        </div>
                      </div>                          
                    </div>
                    <div class="question-attributes">
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Curriculum:</div>
                          <div class="attribute-value">SG</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Grade:</div>
                          <div class="attribute-value">1</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subject:</div>
                          <div class="attribute-value">English</div>
                        </div>
                      </div>
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Topic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subtopic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Learning Objective:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Keywords:</div>
                          <div class="attribute-value">ipsum, dolor, sit, amet</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Difficulty:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link link-show-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse3">
                        Show more <i class="fas fa-chevron-down"></i>
                      </a>
                      <a class="nav-link link-hide-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse3">
                        Show less <i class="fas fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="question-modified-date text-muted">10 May 2019</div>
                </div>
              </div>
              <div class="component component-question">
                <div class="custom-control custom-checkbox question-checkbox">
                  <input type="checkbox" id="item3" class="custom-control-input">
                  <label class="custom-control-label" for="item3"></label>
                </div>
                <div class="question-preview">
                  <div class="question-title">Short-Ans Qn</div>
                  <div class="question-text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget [dolor]. 
                      Aenean massa. Cum sociis natoque penatibus et [magnis dis] dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                  <div class="collapse collapse-attributes" id="collapse4">                    
                    <div class="question-attributes">
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Curriculum:</div>
                          <div class="attribute-value">SG</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Grade:</div>
                          <div class="attribute-value">1</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subject:</div>
                          <div class="attribute-value">English</div>
                        </div>
                      </div>
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Topic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subtopic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Learning Objective:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Keywords:</div>
                          <div class="attribute-value">ipsum, dolor, sit, amet</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Difficulty:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link link-show-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse4">
                        Show more <i class="fas fa-chevron-down"></i>
                      </a>
                      <a class="nav-link link-hide-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse4">
                        Show less <i class="fas fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="question-modified-date text-muted">08 May 2019</div>
                </div>
              </div>
              <div class="component component-question">
                <div class="custom-control custom-checkbox question-checkbox">
                  <input type="checkbox" id="item4" class="custom-control-input">
                  <label class="custom-control-label" for="item4"></label>
                </div>
                <div class="question-preview">
                  <div class="question-title">Open-Ended Qn</div>
                  <div class="question-text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                  <div class="collapse collapse-attributes" id="collapse5">
                    <div class="question-answers">
                      <div class="answer-title">
                        Answer
                      </div>
                      <div class="answer-details">
                        <p>
                          Aenean commodo ligula eget dolor. 
                          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                      </div>
                    </div>
                    <div class="question-attributes">
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Curriculum:</div>
                          <div class="attribute-value">SG</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Grade:</div>
                          <div class="attribute-value">1</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subject:</div>
                          <div class="attribute-value">English</div>
                        </div>
                      </div>
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Topic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subtopic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Learning Objective:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Keywords:</div>
                          <div class="attribute-value">ipsum, dolor, sit, amet</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Difficulty:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link link-show-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse5">
                        Show more <i class="fas fa-chevron-down"></i>
                      </a>
                      <a class="nav-link link-hide-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse5">
                        Show less <i class="fas fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="question-modified-date text-muted">08 May 2019</div>
                </div>
              </div>
              <div class="component component-question">
                <div class="custom-control custom-checkbox question-checkbox">
                  <input type="checkbox" id="item5" class="custom-control-input">
                  <label class="custom-control-label" for="item5"></label>
                </div>
                <div class="question-preview">
                  <div class="question-title">Open-Ended Qn</div>
                  <div class="question-text">
                    <p>
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                      Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p>
                  </div>
                  <div class="collapse collapse-attributes" id="collapse6">
                    <div class="question-answers">
                      <div class="answer-title">
                        Answer
                      </div>
                      <div class="answer-details">
                        <p>
                          Aenean commodo ligula eget dolor. 
                          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                      </div>
                    </div>
                    <div class="question-attributes">
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Curriculum:</div>
                          <div class="attribute-value">SG</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Grade:</div>
                          <div class="attribute-value">1</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subject:</div>
                          <div class="attribute-value">English</div>
                        </div>
                      </div>
                      <div class="attribute-group">
                        <div class="attribute">
                          <div class="attribute-name">Topic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Subtopic:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Learning Objective:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Keywords:</div>
                          <div class="attribute-value">ipsum, dolor, sit, amet</div>
                        </div>
                        <div class="attribute">
                          <div class="attribute-name">Difficulty:</div>
                          <div class="attribute-value">Not specified</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link link-show-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse6">
                        Show more <i class="fas fa-chevron-down"></i>
                      </a>
                      <a class="nav-link link-hide-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse6">
                        Show less <i class="fas fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="question-modified-date text-muted">08 May 2019</div>
                </div>
              </div>
            </div>
            <nav class="navbar navbar-expand navbar-pagination">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <label class="text-muted" for="selLimit">Records per page:</label>
                  <select class="selectpicker" id="selLimit" data-width="fit">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                </li>
                <li class="nav-item text-muted">1 - 6 of 6</li>
                <li class="nav-item">
                  <button class="btn btn-light" type="button" title="Previous" disabled>
                    <i class="fas fa-chevron-left"></i>
                  </button>
                  <button class="btn btn-light" type="button" title="Next">
                    <i class="fas fa-chevron-right"></i>
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>            
      </div>
    </div>
  </div>
</div>

<div class="toast-stack d-none">
  <div class="toast" role="alert fade" data-delay="5000">
    <div class="toast-header">
      <button class="close" type="button" title="Close" data-dismiss="toast">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>    
    <div class="toast-body">
      <i class="img img-toast-success"></i>
      Questions have been added to the "Section A" section.
    </div>
  </div>
</div>
