<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-track-lesson-user no-sidebar">
        {{#if assignmentsPage}}
          <div class="article-header">
            <nav class="navbar navbar-expand">
              <ul class="navbar-nav">
                <li class="nav-item nav-item-drawer">
                  <div class="item-text">
                    <div class="text-truncate resource-title">Making Number Patterns</div>
                    <div class="text-muted text-truncate">Grade 3, Mathematics</div>
                  </div>
                </li>
              </ul>
              <ul class="navbar-nav nav-main"></ul>
              <ul class="navbar-nav"></ul>
            </nav>
          </div>
        {{/if}}
        <div class="article-content">          
          <div class="article-body">
            <div class="user-lesson-progress">
              <div class="user-details">
                <img src="/static/images/user.png">
                <div class="user-summary">
                  <div class="user-name text-truncate">Aaron Tan</div>
                  <div class="text-muted">P1-EA</div>
                </div>
              </div>
              <div class="chart">
                <div class="chart-area">
                </div>
                <div class="chart-legend">
                  <div class="legend-group">
                    <div class="legend-label">No. of Students Completed:</div>
                    <div class="legend-value">30</div>
                  </div>
                  <div class="legend-group">
                    <div class="legend-label">No. of Days Left:</div>
                    <div class="legend-value">5</div>
                  </div>
                </div>
              </div>
              <table class="table">
                <colgroup width="auto"></colgroup>
                <colgroup width="120px"></colgroup>
                <thead>
                  <tr>
                    <th>Resource Title</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Making Number Patterns</td>
                    <td>Completed</td>
                  </tr>
                  <tr>
                    <td>Making Number Bonds</td>
                    <td>Completed</td>
                  </tr>
                  <tr>
                    <td>Making Addition Stories</td>
                    <td>Incomplete</td>
                  </tr>
                  <tr>
                    <td>Making Subtraction Stories</td>
                    <td>Incomplete</td>
                  </tr>
                  <tr>
                    <td>Making Fact Families</td>
                    <td>70%</td>
                  </tr>
                </tbody>              
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
