<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-track-lesson no-sidebar">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item nav-item-drawer">
                <div class="item-text">
                  <div class="text-truncate resource-title">Making Number Patterns</div>
                  <div class="text-muted text-truncate">Grade 3, Mathematics</div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">          
          <div class="article-body">
            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#overview" role="tab" data-toggle="tab">Overview</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#group" role="tab" data-toggle="tab">Class/Group</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active show" id="overview" role="tabpanel">
                <nav class="navbar navbar-expand">
                  <ul class="navbar-nav"></ul>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <button class="btn btn-light" type="button" title="Notify">
                        <i class="fas fa-bullhorn"></i>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button class="btn btn-light" type="button" title="Print">
                        <i class="fas fa-print"></i>
                      </button>
                    </li>
                    <li class="nav-item dropdown">
                      <button class="btn btn-light" type="button" title="Download" data-toggle="">
                        <i class="fas fa-download"></i>
                      </button>
                    </li>
                  </ul>
                </nav>
                <div class="chart no-legend">
                  <div class="chart-area">
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="group" role="tabpanel">
                <nav class="navbar navbar-expand">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <select class="form-control selectpicker" id="selGroups" data-width="auto">
                        <option>All Classes/Groups</option>
                        <option>P1-EA</option>
                        <option>P1-HA</option>
                        <option>P1-MA</option>
                        <option>P1-PA</option>
                        <option>P1-SA</option>
                      </select>
                    </li>
                  </ul>
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <button class="btn btn-light" type="button" title="Notify">
                        <i class="fas fa-bullhorn"></i>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button class="btn btn-light" type="button" title="Print">
                        <i class="fas fa-print"></i>
                      </button>
                    </li>
                    <li class="nav-item">
                      <button class="btn btn-light" type="button" title="Download">
                        <i class="fas fa-download"></i>
                      </button>
                    </li>
                  </ul>
                </nav>
                <table class="table">
                  <colgroup width="60px"></colgroup>
                  <colgroup width="auto"></colgroup>
                  <colgroup width="160px"></colgroup>
                  <colgroup width="120px"></colgroup>
                  <colgroup width="60px"></colgroup>
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Name</th>
                      <th>Class/Group</th>
                      <th>Completed</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>
                        <a class="assignee" href="#">Aaron Tan</a>
                      </td>
                      <td>P1-EA</td>
                      <td>
                        <a class="percentage" href="#">40%</a>
                      </td>
                      <td>
                        <button class="btn btn-light" type="button">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>
                        <a class="assignee" href="#">Arya Suman</a>
                      </td>
                      <td>P1-EA</td>
                      <td>
                        <a class="percentage" href="#">80%</a>
                      </td>
                      <td>
                        <button class="btn btn-light" type="button">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>
                        <a class="assignee" href="#">Ashar Ahmad</a>
                      </td>
                      <td>P1-HA</td>
                      <td>
                        <a class="percentage" href="#">70%</a>
                      </td>
                      <td>
                        <button class="btn btn-light" type="button">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>
                        <a class="assignee" href="#">Chua Chin Hui</a>
                      </td>
                      <td>P1-HA</td>
                      <td>
                        <a class="percentage" href="#">100%</a>
                      </td>
                      <td>
                        <button class="btn btn-light" type="button">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>
                        <a class="assignee" href="#">Derrick Lee</a>
                      </td>
                      <td>P1-MA</td>
                      <td>
                        <a class="percentage" href="#">100%</a>
                      </td>
                      <td>
                        <button class="btn btn-light" type="button">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>
                        <a class="assignee" href="#">Nurulhuda bte Sazali</a>
                      </td>
                      <td>P1-PA</td>
                      <td>
                        <a class="percentage" href="#">100%</a>
                      </td>
                      <td>
                        <button class="btn btn-light" type="button">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>
                        <a class="assignee" href="#">Siow Poh Piah Irene</a>
                      </td>
                      <td>P1-SA</td>
                      <td>
                        <a class="percentage" href="#">100%</a>
                      </td>
                      <td>
                        <button class="btn btn-light" type="button">
                          <i class="fas fa-info-circle"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>              
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-user-progress-track fade" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog modal-track-user-progress modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <nav class="navbar navbar-expand">
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="item-text text-truncate">Track User Progress</div>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <button class="btn btn-light btn-close" type="button" title="Close" data-dismiss="modal">
                <i class="fas fa-times"></i>
              </button>
            </li>
          </ul>
        </nav>
        <div class="content">
          <iframe class="full" src="" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
