<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-tracking">
        <h1>Tracking</h1>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" href="/{{userRole}}/home">
          My Resources
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
          Track Resources
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-track-channel">
        <div class="article-content">
          <div class="article-sidebar">
            <form>
              <div class="form-group">
                <label class="form-label" for="selLevel">Channel</label>
                <select class="form-control selectpicker" id="selLevel" data-container=".article-body">
                  <option>Primary 1 Math Buddies (3rd Edition)</option>
                  <option>Primary 2 Math Buddies (3rd Edition)</option>
                  <option>Primary 3 Math Buddies (3rd Edition)</option>
                  <option>Primary 4 Math Buddies (3rd Edition)</option>
                  <option>Primary 5 Math Buddies (3rd Edition)</option>
                  <option>Primary 6 Math Buddies (3rd Edition)</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="selClass">Class</label>
                <select class="form-control selectpicker" id="selClass" data-container=".article-body">
                  <option>P1-EN</option>
                  <option>P1-HA</option>
                </select>
              </div>
              <div class="form-group">
                <label class="form-label" for="selStudent">Student</label>
                <select class="form-control selectpicker" id="selStudent" data-container=".article-body">
                  <option>John</option>
                  <option>Peter</option>
                </select>
              </div>
              <div class="form-group">
                <button class="btn btn-primary" type="button">
                Search
                </button>
              </div>
            </form>
          </div>
          <div class="article-body">
            <table class="table table-track-channel">
              <tbody>
                <tr class="table-secondary">
                  <th>Resources</th>
                  <th>Score/Status</th>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">Numbers To 10</th>
                </tr>
                <tr>
                  <th colspan="2">&nbsp;&nbsp;Counting To 10</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Counting To 10 In Numbers And Words</td>
                  <td>completed</td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Counting To 10 In Numbers And Words</td>
                  <td>completed</td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Represent Numbers From 0 To 10 (VM)</td>
                  <td>completed</td>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">&nbsp;&nbsp;Comparing Numbers</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Comparing Two Sets Of Objects</td>
                  <td>completed</td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Comparing Two Sets Of Objects</td>
                  <td>completed</td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Comparing Two Numbers Within 10</td>
                  <td>completed</td>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">&nbsp;&nbsp;Making Number Patterns</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Counting On To Find 1 More</td>
                  <td>completed</td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Count On Numbers Within 100 Using A Number Track (VM)</td>
                  <td>completed</td>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">&nbsp;&nbsp;Practice</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Numbers To 10</td>
                  <td>incomplete</td>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">Number Bonds</th>
                </tr>
                <tr>
                  <th colspan="2">&nbsp;&nbsp;Making Number Bonds</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Making Number Bonds With Cubes</td>
                  <td>completed</td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Making Number Bonds With Cubes</td>
                  <td>completed</td>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Make Number Pairs To Numbers Within 9 (VM)</td>
                  <td>completed</td>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">Addition Within 10</th>
                </tr>
                <tr>
                  <th colspan="2">&nbsp;&nbsp;Ways to Add</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Using Number Bonds To Add In Any Order</td>
                  <td>completed</td>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">&nbsp;&nbsp;Making Addition Stories</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Making Addition Stories To Illustrate Number Bonds Within 10</td>
                  <td>completed</td>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">Ordinal Numbers And Position</th>
                </tr>
                <tr>
                  <th colspan="2">&nbsp;&nbsp;Practice</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Ordinal Numbers And Position</td>
                  <td>incomplete</td>
                </tr>
                <tr class="table-secondary">
                  <th colspan="2">Addition Within 100</th>
                </tr>
                <tr>
                  <th colspan="2">&nbsp;&nbsp;Addition With Regrouping</th>
                </tr>
                <tr>
                  <td>&nbsp;&nbsp;&nbsp;&nbsp;Adding 2-Digit Numbers Within 100 With Regrouping</td>
                  <td>completed</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
