<div class="container-fluid app-content">
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-primary" type="button">
        Sign Up For Free
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <button class="btn btn-primary" type="button">
        Contact Us
      </button>
    </div>
    <div class="col-md">
      <button class="btn btn-primary" type="button">
        Contact Us
      </button>
    </div>
  </div>
</div>
