<div class="app-content page-{{module}}">
  <div class="article article-error">
    <div class="article-content">
      <div class="article-body">
        <i class="fa fa-exclamation-circle"></i>
        Page not found!
      </div>
    </div>        
  </div>
</div>
