<div class="app-content page-{{module}} {{#unless loggedIn}}page-public{{/unless}}">
  <div class="article article-error no-sidebar">
    <div class="article-content">
      <div class="article-body">
        <img src="/static/images/img_error_404.png">
      </div>
    </div>        
  </div>
</div>
