<div class="app-content page-{{module}} {{#unless loggedIn}}page-public{{/unless}}">
  <div class="article article-error no-sidebar">
    <div class="article-content">
      <div class="article-body">
        <img class="error-img" src="/static/images/img_error_404.jpg">
        <p class="error-text text-center">
          Like our poor guys above, it appears that the page you're looking for is <span class="d-inline-block"><strong>Not Found!</strong> :(</span><br/>
          Please contact our awesome intergalactic administrator at <a href="mailto:webmaster@mceducation.com">webmaster@mceducation.com</a> to resolve this issue!
        </p>
      </div>
    </div>        
  </div>
</div>
