#content {
    margin: 0 auto;
    width: 800px;
    min-height: 560px;
}

#title {
    margin-bottom: 5px;
}

#titlePage {
    width: 800px;
    height: 560px;
}

.mco_logo {
    margin-bottom: 5px;
    margin-top: 5px;
    height: 35px;
    border-style: none;
    z-index: 128;
}

#mco_logo_img {
    height: 30px;
}

.mco_player_wrapper {
    border-style: none;
}

#mco_player {
    width: 800px;
    height: 560px;
}

.mco_segment_btn {
    margin-right: 4px;
}

.mco_hint {
    cursor: pointer;
}

.mco_hint_modal {
    /* Override Bootstrap value */
    width: 800px;  /* Equals to our img width */
    height: 560px; /* Equals to our img width */
    margin: 0 0 0 -400px; /* Half of height and width */
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}

/* https://github.com/marcoceppi/bootstrap-glyphicons/blob/master/css/bootstrap.icon-large.css */
.icon-large {
    background-image: url("../img/glyphicons.png");
    background-position: 24px 24px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    vertical-align: text-bottom;
    width: 28px;
}
.icon-large.icon-info-sign{ background-position: -138px -420px;  }

/* Since Bootstrap form is excluded due to destroying Play button in Android video player, following is copied from Bootstrap */
.checkbox {
    min-height: 20px;
    padding-left: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

/* For Ipad portrait, change all size rule */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #content {
        width: 720px;
        min-height: 504px;
    }
    
    #titlePage {
        width: 720px;
        height: 504px;
    }

    #mco_player {
        width: 720px;
        height: 504px;
    }

    .mco_hint_modal {
        width: 720px;  /* Equals to our img width */
        height: 504px; /* Equals to our img width */
        margin: 0 0 0 -360px; /* Half of height and width */
    }
}
