.page-class {
  .app-content {
    .form-class-details {
      padding: 2rem;

      h2 {
        color: $primary;
        margin-bottom: 2rem;
      }

      .row {
        &:not(.no-gutters) {
          margin-bottom: 1rem;
        }

        .user-table {
          margin: 2rem 0;
        }

        .form-actions {
          text-align: right;
        }
      }
    }

    @media (min-width: 1200px) {
      .form-class-details {
        padding: 2rem 8rem;
      }
    }
  }
}

.modal-discard-changes,
.modal-changes-saved {
  .modal-dialog {
    max-width: 400px;

    .modal-header {
      .modal-title {
        flex-grow: 1;
        text-align: center;
      }
    }

    .modal-body {
      padding: 2rem 2rem 1rem;

      .form-group {
        text-align: center;

        &:first-child {
          margin-bottom: 2rem;
        }

        .btn {
          padding: .375rem 1.25rem;
        }
      }
    }
  }
}

.modal-changes-saved {
  .form-changes-saved {
    .fa-check-circle {
      color: $green;
      font-size: 2rem;
      vertical-align: middle;
    }
  }
}
