<div class="app-content">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-dashboard">
        <h1>eResources</h1>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#resources" role="tab">
            My Resources
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#reports" role="tab">
            My Reports
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="resources" role="tabpanel">
          <div class="article article-resources">
            <div class="card-group">
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    CIE Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;"></div>
                  </div>
                  <div class="text-muted">
                    25% Complete
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    My Pals Are Here! Maths<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 10%;"></div>
                  </div>
                  <div class="text-muted">
                    10% Complete
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    My Pals Are Here! Science<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;"></div>
                  </div>
                  <div class="text-muted">
                    75% Complete
                  </div>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="/static/images/thumbnail.jpg" alt="Card image cap">
                <div class="card-body">
                  <h6 class="card-title">
                    Take Off with English<br/>
                    Student Textbook
                  </h6>
                  <p class="card-text">
                    Primary 1 to 6
                  </p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 45%;"></div>
                  </div>
                  <div class="text-muted">
                    45% Complete
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane tab-pane-report fade" id="reports" role="tabpanel">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <form class="form-filters">
                <h5>Filters</h5>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Channel</option>
                    <option>Maths Works!</option>
                    <option>My Pals Are Here! Maths</option>
                    <option>My Pals Are Here! Science</option>
                    <option>Take Off with English</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Topic</option>
                    <option>Fractions</option>
                    <option>Decimals</option>
                    <option>Percentage</option>
                    <option>Average</option>
                    <option>Area Perimeter</option>
                  </select>
                </div>
                <div class="form-group form-actions">
                  <button class="btn btn-primary" type="button">
                    Go
                  </button>
                </div>
              </form>
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="article article-proficiency-report">
                <div class="header">
                  <h5>Overall Proficiency Summary</h5>
                </div>
                <canvas></canvas>
                <p class="text-muted">
                  Last Generated: 30 Aug 2018
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
