<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-home">
        <h1>Home</h1>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#proficiencyReport" role="tab">
            Proficiency Report
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#loginReport" role="tab">
            Login Report
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#usageReport" role="tab">
            Usage Report
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="tab-content">
        <div class="tab-pane tab-pane-home fade show active" id="home" role="tabpanel">
          <div class="row">
            <div class="col-md">
              <div class="article article-login-trend">
                <h5>Student Login Trend (Past 7 Days)</h5>
                <canvas></canvas>
              </div>
            </div>
            <div class="col-md">
              <div class="article article-popular-channels">
                <h5>Popular Channels (This Month)</h5>
                <canvas></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane tab-pane-report fade" id="proficiencyReport" role="tabpanel">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <form class="form-filters">
                <h5>Filters</h5>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Level</option>
                    <option>Primary 1</option>
                    <option>Primary 2</option>
                    <option>Primary 3</option>
                    <option>Primary 4</option>
                    <option>Primary 5</option>
                    <option>Primary 6</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Channel</option>
                    <option>Maths Works!</option>
                    <option>My Pals Are Here! Maths</option>
                    <option>My Pals Are Here! Science</option>
                    <option>Take Off with English</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Topic</option>
                    <option>Fractions</option>
                    <option>Decimals</option>
                    <option>Percentage</option>
                    <option>Average</option>
                    <option>Area Perimeter</option>
                  </select>
                </div>
                <div class="form-group form-actions">
                  <button class="btn btn-primary" type="button">
                    Go
                  </button>
                </div>
              </form>
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="article article-proficiency-report">
                <div class="header">
                  <h5>Overall Proficiency Summary</h5>
                  <button class="btn btn-success" type="button">
                    <i class="fa fa-download"></i> Download CSV
                  </button>
                </div>
                <canvas></canvas>
                <p class="text-muted">
                  Last Generated: 30 Aug 2018
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane tab-pane-report fade" id="loginReport" role="tabpanel">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <form class="form-filters">
                <h5>Filters</h5>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Level</option>
                    <option>Primary 1</option>
                    <option>Primary 2</option>
                    <option>Primary 3</option>
                    <option>Primary 4</option>
                    <option>Primary 5</option>
                    <option>Primary 6</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Class</option>
                    <option>P-6A</option>
                    <option>P-6B</option>
                    <option>P-6C</option>
                    <option>P-6D</option>
                  </select>
                </div>
                <div class="form-group">
                  <button class="btn btn-outline-secondary btn-block btn-date-range" type="button" data-toggle="dropdown">
                    <span class="date-range">Select Duration</span>
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
                <div class="form-group form-actions">
                  <button class="btn btn-primary" type="button">
                    Go
                  </button>
                </div>
              </form>
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="article article-login-report">
                <div class="header">
                  <h5>Overall Login Summary</h5>
                  <button class="btn btn-success" type="button">
                    <i class="fa fa-download"></i> Download CSV
                  </button>
                </div>
                <canvas></canvas>
                <p class="text-muted">
                  Last Generated: 30 Aug 2018
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane tab-pane-report fade" id="usageReport" role="tabpanel">
          <div class="row">
            <div class="col-md-4 col-lg-3">
              <form class="form-filters">
                <h5>Filters</h5>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Level</option>
                    <option>Primary 1</option>
                    <option>Primary 2</option>
                    <option>Primary 3</option>
                    <option>Primary 4</option>
                    <option>Primary 5</option>
                    <option>Primary 6</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Channel</option>
                    <option>Maths Works!</option>
                    <option>My Pals Are Here! Maths</option>
                    <option>My Pals Are Here! Science</option>
                    <option>Take Off with English</option>
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control form-select">
                    <option>Select Topic</option>
                    <option>Fractions</option>
                    <option>Decimals</option>
                    <option>Percentage</option>
                    <option>Average</option>
                    <option>Area Perimeter</option>
                  </select>
                </div>
                <div class="form-group form-actions">
                  <button class="btn btn-primary" type="button">
                    Go
                  </button>
                </div>
              </form>
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="article article-usage-report">
                <div class="header">
                  <h5>Overall Usage Summary</h5>
                  <button class="btn btn-success" type="button">
                    <i class="fa fa-download"></i> Download CSV
                  </button>
                </div>
                <canvas></canvas>
                <p class="text-muted">
                  Last Generated: 30 Aug 2018
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
