<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;" />
<title>Living and Non-living Things - Summary</title>
		<script type="text/javascript" language="JavaScript">
			var sTitle = "Living-Summary";
			var sFileVer = "20070424120000";
		</script>
		<script language="javascript" src="..\Scripts\Scorm_lms.js"></script>
		<script language="javascript" src="..\Scripts\APIWrapper.js"></script>
		<script language="javascript" src="..\Scripts\SCOFunctions.js"></script>
</head>

<body  style="margin:0;" onLoad="SCOInitialize()"  onunload="SCOFinish()" TEXT="#004080" LINK="Purple" VLINK="Purple" ALINK="Teal" bgcolor="#FFFFFF">
<SCRIPT language="JavaScript">
			document.write("<object classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" codebase=\"http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0\" width=\"100%\" height=\"100%\" id=" + sTitle + "> \n");
			document.write("<param name=allowScriptAccess value=sameDomain> \n");
			document.write("<param name=movie value="+sTitle+".swf> \n");
			document.write("<param name=quality value=high> \n");
			document.write("<param name=scale value=exactfit> \n");
			
			document.write("<param name=bgcolor value=#FFFFFF> \n");
  		document.write("<param name=FlashVars value=\"DefEssayFile="+sTitle+".xml&DataFileVer="+sFileVer+"\"> \n");
	  	document.write("<embed src=\""+sTitle+".swf\" quality=\"high\" bgcolor=\"#FFFFFF\" width=\"100%\" height=\"100%\" name=\""+sTitle+" FlashVars=\"DefEssayFile="+sTitle+".xml&DataFileVer="+sFileVer+"\" scale=\"exactfit\" align=\"middle\" allowScriptAccess=\"sameDomain\" type=\"application/x-shockwave-flash\" pluginspage=\"http://www.macromedia.com/go/getflashplayer\"></embed>\n");
		  document.write("</object>\n");
		</SCRIPT>
<!--url's used in the movie-->
<!--text used in the movie-->

</body>
</html>
