<div class="app-content page-{{module}}">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-create-question no-sidebar">
        <div class="article-header">
          <nav class="navbar navbar-expand">
            <ul class="navbar-nav">
              <li class="nav-item">
                <span class="item-text text-truncate">Create Question</span>
              </li>
            </ul>
          </nav>
        </div>
        <div class="article-content">
          <div class="article-body">
            <form class="form-create-question">
              {{#if mcqQuestion}}
                <div class="form-group">
                  <label class="form-label" for="selType">Question Type</label>
                  <select class="form-control selectpicker" id="selType">
                    <option value="MCQ" selected>Single Response MCQ</option>
                    <option value="MRQ">Multiple Reponse MCQ</option>
                    <option value="TFQ">True/False Qn</option>
                    <option value="FIB">Short-Ans Qn</option>
                    <option value="ESSAY">Open-Ended Qn</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Question</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Answer</label>
                  <div class="form-group">
                    <div class="question-answers">
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="mcq1" name="mcq" class="custom-control-input" checked>
                          <label class="custom-control-label" for="mcq1"></label>
                        </div>
                        <div class="form-control form-textarea">
                          <p>Option 1</p>
                        </div>
                        <button class="btn btn-light" type="button" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="mcq2" name="mcq" class="custom-control-input">
                          <label class="custom-control-label" for="mcq2"></label>
                        </div>
                        <div class="form-control form-textarea">
                          <p>Option 2</p>
                        </div>
                        <button class="btn btn-light" type="button" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="mcq3" name="mcq" class="custom-control-input">
                          <label class="custom-control-label" for="mcq3"></label>
                        </div>
                        <div class="form-control form-textarea">
                          <p>Option 3</p>
                        </div>
                        <button class="btn btn-light" type="button" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="mcq4" name="mcq" class="custom-control-input">
                          <label class="custom-control-label" for="mcq4"></label>
                        </div>
                        <div class="form-control form-textarea">
                          <p>Option 4</p>
                        </div>
                        <button class="btn btn-light" type="button" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <button class="btn btn-outline-secondary btn-add-option" type="button">
                        Add Option
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Explanation</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                  </div>
                </div>
              {{/if}}
              {{#if mrqQuestion}}
                <div class="form-group">
                  <label class="form-label" for="selType">Question Type</label>
                  <select class="form-control selectpicker" id="selType">
                    <option value="MCQ">Single Response MCQ</option>
                    <option value="MRQ" selected>Multiple Reponse MCQ</option>
                    <option value="TFQ">True/False Qn</option>
                    <option value="FIB">Short-Ans Qn</option>
                    <option value="ESSAY">Open-Ended Qn</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Question</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Answer</label>
                  <div class="form-group">
                    <div class="question-answers">
                      <div class="answer-details">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="mrq1" name="mrq" class="custom-control-input" checked>
                          <label class="custom-control-label" for="mrq1"></label>
                        </div>
                        <div class="form-control form-textarea">
                          <p>Option 1</p>
                        </div>
                        <button class="btn btn-light" type="button" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="mrq2" name="mrq" class="custom-control-input" checked>
                          <label class="custom-control-label" for="mrq2"></label>
                        </div>
                        <div class="form-control form-textarea">
                          <p>Option 2</p>
                        </div>
                        <button class="btn btn-light" type="button" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="mrq3" name="mrq" class="custom-control-input">
                          <label class="custom-control-label" for="mrq3"></label>
                        </div>
                        <div class="form-control form-textarea">
                          <p>Option 3</p>
                        </div>
                        <button class="btn btn-light" type="button" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" id="mrq4" name="mrq" class="custom-control-input">
                          <label class="custom-control-label" for="mrq4"></label>
                        </div>
                        <div class="form-control form-textarea">
                          <p>Option 4</p>
                        </div>
                        <button class="btn btn-light" type="button" title="Remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <button class="btn btn-outline-secondary btn-add-option" type="button">
                        Add Option
                      </button>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Explanation</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                  </div>
                </div>
              {{/if}}
              {{#if tfqQuestion}}
                <div class="form-group">
                  <label class="form-label" for="selType">Question Type</label>
                  <select class="form-control selectpicker" id="selType">
                    <option value="MCQ">Single Response MCQ</option>
                    <option value="MRQ">Multiple Reponse MCQ</option>
                    <option value="TFQ" selected>True/False Qn</option>
                    <option value="FIB">Short-Ans Qn</option>
                    <option value="ESSAY">Open-Ended Qn</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Question</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Answer</label>
                  <div class="form-group">
                    <div class="question-answers">
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="tfq1" name="tfq" class="custom-control-input" checked>
                          <label class="custom-control-label" for="tfq1">True</label>
                        </div>
                      </div>
                      <div class="answer-details">
                        <div class="custom-control custom-radio">
                          <input type="radio" id="tfq2" name="tfq" class="custom-control-input">
                          <label class="custom-control-label" for="tfq2">False</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Explanation</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                  </div>
                </div>
              {{/if}}
              {{#if fibQuestion}}
                <div class="form-group">
                  <label class="form-label" for="selType">Question Type</label>
                  <select class="form-control selectpicker" id="selType">
                    <option value="MCQ">Single Response MCQ</option>
                    <option value="MRQ">Multiple Reponse MCQ</option>
                    <option value="TFQ">True/False Qn</option>
                    <option value="FIB" selected>Short-Ans Qn</option>
                    <option value="ESSAY">Open-Ended Qn</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Question</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget [dolor]. 
                        Aenean massa. Cum sociis natoque penatibus et [magnis dis] parturient montes, nascetur ridiculus mus.
                      </p>
                    </div>
                    <div class="form-text text-muted">
                      Note: Indicate the answer with [ ]. If one blank has more than one correct answer, separate them with ||.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Answer</label>
                  <div class="form-group">
                    <button class="btn btn-outline-secondary btn-generate-answers" type="button">
                      Generate Answers
                    </button>
                    <div class="question-answers d-none">
                      <div class="answer-details">
                        <input class="form-control form-input form-input-md" type="text" value="dolor" readonly>
                      </div>
                      <div class="answer-details">
                        <input class="form-control form-input form-input-md" type="text" value="magnis dis" readonly>
                      </div>
                    </div>
                    <div class="question-answers-options">
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="case" class="custom-control-input">
                        <label class="custom-control-label" for="case">Answers must be case sensitive</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" id="mark" class="custom-control-input">
                        <label class="custom-control-label" for="mark">Marks will be awarded only when all answers are correct</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Explanation</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                  </div>
                </div>
              {{/if}}
              {{#if essayQuestion}}
                <div class="form-group">
                  <label class="form-label" for="selType">Question Type</label>
                  <select class="form-control selectpicker" id="selType">
                    <option value="MCQ">Single Response MCQ</option>
                    <option value="MRQ">Multiple Reponse MCQ</option>
                    <option value="TFQ">True/False Qn</option>
                    <option value="FIB">Short-Ans Qn</option>
                    <option value="ESSAY" selected>Open-Ended Qn</option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-label">Question</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget [dolor]. 
                        Aenean massa. Cum sociis natoque penatibus et [magnis dis] parturient montes, nascetur ridiculus mus.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Answer</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="form-label">Explanation</label>
                  <div class="form-group">
                    <div class="form-control form-textarea">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                  </div>
                </div>
              {{/if}}
              <div class="form-group">
                <div class="question-optonal-fields">
                  <div class="collapse collapse-fields" id="collapse">
                    <div class="form-group">
                      <label class="form-label" for="selCurriculum">Curriculum</label>
                      <div class="form-group">
                        <select class="form-control selectpicker" id="selCurriculum">
                          <option>None</option>
                          <option>CAIE</option>
                          <option>SG</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="selGrade">Grade</label>
                      <div class="form-group">
                        <select class="form-control selectpicker" id="selGrade">
                          <option>None</option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="selSubjet">Subject</label>
                      <div class="form-group">
                        <select class="form-control selectpicker" id="selSubjet">
                          <option>None</option>
                          <option>Chemistry</option>
                          <option>Mathematics</option>
                          <option>Physics</option>
                          <option>Science</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="selTopic">Topic</label>
                      <div class="form-group">
                        <select class="form-control selectpicker" id="selTopic">
                          <option selected>None</option>
                          <option>Numbers To 10</option>
                          <option>Number Bonds</option>
                          <option>Addition Within 10</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="selSubtopic">Subtopic</label>
                      <div class="form-group">
                        <select class="form-control selectpicker" id="selSubtopic">
                          <option selected>None</option>
                          <option>Counting To 10</option>
                          <option>Comparing Numbers</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="selObjective">Learning Objective</label>
                      <div class="form-group">
                        <select class="form-control selectpicker" id="selObjective">
                          <option selected>None</option>
                          <option>1.1 Counting in hundreds/thousands</option>
                          <option>1.2 Number notation, representations and place values (thousands, hundreds, tens, ones)</option>
                          <option>1.3 Reading and Writing numbers in Numerals and in words</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="txtKeywords">Keywords</label>
                      <div class="form-group">
                        <input class="form-control form-input" type="text" value="ipsum, dolor, sit, amet" id="txtKeywords">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="selDifficulty">Difficulty</label>
                      <div class="form-group">
                        <select class="form-control selectpicker" id="selDifficulty">
                          <option selected>None</option>
                          <option value="Basic">Basic</option>
                          <option value="Intermediate">Intermediate</option>
                          <option value="Advanced">Advanced</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <ul class="nav">
                    <li class="nav-item">
                      <a class="nav-link link-show-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse">
                        Show more <i class="fas fa-chevron-down"></i>
                      </a>
                      <a class="nav-link link-hide-fields collapsed" href="#" data-toggle="collapse" data-target="#collapse">
                        Show less <i class="fas fa-chevron-up"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group form-group-actions">
                <button class="btn btn-light btn-cancel" type="button">
                  Cancel
                </button>
                <button class="btn btn-light btn-save-and-create" type="button">
                  Save & New
                </button>
                <button class="btn btn-primary btn-save" type="button">
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
