<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/static/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/static/fontawesome-free/css/solid.css" />
    <link rel="stylesheet" href="/static/fontawesome-free/css/fontawesome.css" />
    <link rel="stylesheet" href="/static/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>
  <body>
    {{{body}}}
    <script src="/static/loglevel/loglevel.js"></script>
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/popper/popper.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="/static/moment/moment.js"></script>
    <script src="/static/daterangepicker/daterangepicker.js"></script>
    <script src="/static/datatables/js/jquery.dataTables.js"></script>
    <script src="/static/autocomplete.js/autocomplete.jquery.js"></script>
    <script src="/static/dropzone/dropzone.js"></script>
    <script src="/static/sortablejs/sortable.js"></script>
    <script src="/static/javascripts/application.js"></script>
    <script src="/static/javascripts/{{module}}.js"></script>
  </body>
</html>
