<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/static/datatables/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>
  <body class="page-{{module}}">
    <div class="navbar navbar-expand fixed-top app-header">
      <a class="navbar-brand" href="/">
        <img src="/static/images/mco_logo.gif"/>
      </a>
      <ul class="navbar-nav nav-main">
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="btn-group">
            <button class="btn btn-outline-primary" type="button">
              <i class="fa fa-arrow-left"></i> Previous
            </button>
            <button class="btn btn-outline-primary" type="button">
              Next <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary btn-close" type="button">
            <i class="fa fa-times"></i>
          </button>
        </li>
      </ul>
    </div>
    {{{body}}}
    <div class="app-footer">
      <div class="copyright">
        Copyright © 2018 Marshall Cavendish Education Pte. Ltd.
      </div>
      <ul class="nav nav-light">
        <li class="nav-item">
          <a class="nav-link" href="#">
            Data Protection and Privacy Statement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            Terms & Conditions
          </a>
        </li>
      </ul>
    </div>
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/popper/popper.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <script src="/static/chart.js/Chart.js"></script>
    <script src="/static/moment/moment.js"></script>
    <script src="/static/daterangepicker/daterangepicker.js"></script>
    <script src="/static/datatables/js/jquery.dataTables.js"></script>
    <script src="/static/javascripts/{{module}}.js"></script>
  </body>
</html>
