<div class="app-content">
  <div class="row no-gutters">
    <div class="col-sm">
      <div class="article article-resource">
        <img src="/static/images/resource.png"/>
      </div>
    </div>
  </div>
</div>
