<main class="app-content">
	<div class="panel panel-side">
		<div class="header">
			<h6 class="header-text">
				Create Test
			</h6>
			<button class="btn btn-icon" type="button" data-toggle="collapse" data-target="#navSide">
				<span class="material-icons">arrow_drop_down</span>
			</button>
		</div>
		<ul class="nav collapse" id="navSide">
			<li class="nav-item">
				<a class="nav-link active" href="#">
					Step 1. Test Setup
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/tests/create/2">
					Step 2. Question Setup
				</a>
			</li>
		</ul>
	</div>
	<div class="content content-main">
		<div class="wizard-step">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="txtTitle">Title</label>
					<input class="form-control" type="text" id="txtTitle" placeholder="Enter test title...">
				</div>
				<div class="form-group">
					<label for="selSubject">Subject</label>
					<select class="form-control" id="selSubject">
						<option>Select Subject</option>
						<option>Arts & Crafts</option>
						<option>Chinese</option>
						<option>English</option>
						<option>Mathematics</option>
						<option>Science</option>
					</select>
				</div>
				<div class="form-group">
					<label for="selLevel">Level</label>
					<select class="form-control" id="selLevel">
						<option>Select Level</option>
						<option>Primary 1</option>
						<option>Primary 2</option>
						<option>Primary 3</option>
						<option>Primary 4</option>
						<option>Primary 5</option>
						<option>Primary 6</option>
					</select>
				</div>
				<div class="form-group">
					<label for="selSchool">School</label>
					<select class="form-control" id="selSchool">
						<option>Select school</option>
						<option>Admiralty Primary School</option>
						<option>Ai Tong School</option>
						<option>Ang Mo Kio Primary School</option>
						<option>Bedok Green Primary School</option>
					</select>
				</div>
				<div class="form-group">
					<label for="selYear">Year</label>
					<select class="form-control" id="selYear">
						<option>Select year</option>
						<option>2018</option>
						<option>2017</option>
						<option>2016</option>
						<option>2015</option>
					</select>
				</div>
				<div class="form-group">
					<label for="txtPassingCriteria">Passing Criteria (%)</label>
					<input class="form-control xsmall" type="text" id="txtPassingCriteria">
				</div>
			</form>
			<div class="wizard-actions">
				<button class="btn btn-secondary" type="button">Next</button>
				<button class="btn btn-outline-secondary" type="button">Cancel</button>
			</div>
		</div>
	</div>
</main>
