<main class="app-content">
	<div class="panel panel-side">
		<div class="header">
			<h6 class="header-text">
				Create Test
			</h6>
			<button class="btn btn-icon" type="button" data-toggle="collapse" data-target="#navSide">
				<span class="material-icons">arrow_drop_down</span>
			</button>
		</div>
		<ul class="nav collapse" id="navSide">
			<li class="nav-item">
				<a class="nav-link" href="/tests/create">
					Step 1. Test Setup
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="#">
					Step 2. Question Setup
				</a>
			</li>
		</ul>
	</div>
	<div class="content content-main">
	</div>
</main>
