<div class="app-content test-setup">
	<div class="accordion wizard" id="createTest">
		<div class="wizard-step">
			<div class="step-header">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#testSetup">
					Step 1. Test Setup
				</button>
			</div>
			<div id="testSetup" class="collapse show" data-parent="#createTest">
				<form class="step-content">
					<div class="form-group">
						<label for="txtTitle">Title</label>
						<input class="form-control" type="text" id="txtTitle" placeholder="Enter test title...">
					</div>
					<div class="form-group">
						<label for="selSubject">Subject</label>
						<select class="form-control" id="selSubject">
							<option>Select Subject</option>
							<option>Arts & Crafts</option>
							<option>Chinese</option>
							<option>English</option>
							<option>Mathematics</option>
							<option>Science</option>
						</select>
					</div>
					<div class="form-group">
						<label for="selLevel">Level</label>
						<select class="form-control" id="selLevel">
							<option>Select Level</option>
							<option>Primary 1</option>
							<option>Primary 2</option>
							<option>Primary 3</option>
							<option>Primary 4</option>
							<option>Primary 5</option>
							<option>Primary 6</option>
						</select>
					</div>
					<div class="form-group">
						<label for="selSchool">School</label>
						<select class="form-control" id="selSchool">
							<option>Select school</option>
							<option>Admiralty Primary School</option>
							<option>Ai Tong School</option>
							<option>Ang Mo Kio Primary School</option>
							<option>Bedok Green Primary School</option>
						</select>
					</div>
					<div class="form-group">
						<label for="selYear">Year</label>
						<select class="form-control" id="selYear">
							<option>Select year</option>
							<option>2018</option>
							<option>2017</option>
							<option>2016</option>
							<option>2015</option>
						</select>
					</div>
					<div class="form-group">
						<label for="txtPassingCriteria">Passing Criteria (%)</label>
						<input class="form-control xsmall" type="text" id="txtPassingCriteria">
					</div>
				</form>
				<div class="step-actions">
					<button class="btn btn-outline-secondary" type="button">Cancel</button>
					<button class="btn btn-secondary" type="button">Next</button>
				</div>
			</div>
		</div>
		<div class="wizard-step">
			<div class="step-header">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#testSetup">
					Step 2. Questions Setup
				</button>
			</div>
			<div id="testSetup" class="collapse" data-parent="#createTest">
				<div class="step-content">
					<div class="section">
						<div class="section-header">
							<h6 class="section-title">Section A</h6>
							<div class="section-actions">
							<button class="btn btn-icon" type="button" title="Edit">
								<span class="material-icons">edit</span>
							</button>
							<button class="btn btn-icon" type="button" title="Delete">
								<span class="material-icons">delete</span>
							</button>
							</div>
						</div>
						<div class="section-instructions">
							Answer all questions.
						</div>
					</div>
					<div class="question">
						<div class="question-header">
							<h6 class="question-title">Question 1</h6>
							<div class="question-actions">
								<button class="btn btn-icon" type="button" title="Edit">
									<span class="material-icons">edit</span>
								</button>
								<button class="btn btn-icon" type="button" title="Delete">
									<span class="material-icons">delete</span>
								</button>
							</div>
						</div>
						<div class="question-body">
							Please place your garbage at the gate as the disposal truck will be ____ soon.
						</div>
						<div class="question-options">
							<label class="form-check question-option">
								<input class="form-check-input" type="radio" name="que1" disabled/>
								<div class="form-check-label">
									come
								</div>
							</label>
							<label class="form-check question-option">
								<input class="form-check-input" type="radio" name="que1" disabled/>
								<div class="form-check-label">
									came
								</div>
							</label>
							<label class="form-check question-option">
								<input class="form-check-input" type="radio" name="que1" disabled/>
								<div class="form-check-label">
									comes
								</div>
							</label>
							<label class="form-check question-option">
								<input class="form-check-input" type="radio" name="que1" checked disabled/>
								<div class="form-check-label">
									coming
								</div>
							</label>
						</div>
					</div>
					<div class="question question-edit">
						<form>
							<div class="form-group">
								<label for="selSubject">Subject</label>
								<select class="form-control" id="selSubject">
									<option>Select Subject</option>
									<option>Arts & Crafts</option>
									<option>Chinese</option>
									<option>English</option>
									<option>Mathematics</option>
									<option>Science</option>
								</select>
							</div>
							<div class="form-group">
								<label for="selLevel">Level</label>
								<select class="form-control" id="selLevel">
									<option>Select Level</option>
									<option>Primary 1</option>
									<option>Primary 2</option>
									<option>Primary 3</option>
									<option>Primary 4</option>
									<option>Primary 5</option>
									<option>Primary 6</option>
								</select>
							</div>
							<div class="form-group">
								<label for="selQueType">Question Type</label>
								<select class="form-control" id="selQueType">
									<option>Select Question Type</option>
									<option>Single Response MCQ</option>
									<option>Multiple Response MCQ</option>
									<option>True/False Qn</option>
									<option>Short-Ans Qn</option>
									<option>Open-Ended Qn</option>
								</select>
							</div>
							<div class="form-group">
								<label for="txtPoints">Points</label>
								<input class="form-control xsmall" type="text" id="txtPoints" value="1">
							</div>
							<div class="form-group">
								<label for="txtQueText">Question Text</label>
								<div class="form-control textarea">
									Please place your garbage at the gate as the disposal truck will be ____ soon.
								</div>
							</div>
							<div class="form-group">
								<label for="txtQueText">Answer</label>
								<div class="question-options">
									<div class="form-check question-option">
										<input class="form-check-input" type="radio"/>
										<div class="form-control textarea">
											come
										</div>
										<div class="question-option-actions">
											<button class="btn btn-icon" type="button" title="Remove">
												<span class="material-icons">clear</span>
											</button>
										</div>
									</div>
									<div class="form-check question-option">
										<input class="form-check-input" type="radio"/>
										<div class="form-control textarea">
											came
										</div>
										<div class="question-option-actions">
											<button class="btn btn-icon" type="button" title="Remove">
												<span class="material-icons">clear</span>
											</button>
										</div>
									</div>
									<div class="form-check question-option">
										<input class="form-check-input" type="radio"/>
										<div class="form-control textarea">
											comes
										</div>
										<div class="question-option-actions">
											<button class="btn btn-icon" type="button" title="Remove">
												<span class="material-icons">clear</span>
											</button>
										</div>
									</div>
									<div class="form-check question-option">
										<input class="form-check-input" type="radio"/>
										<div class="form-control textarea">
											coming Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
										</div>
										<div class="question-option-actions">
											<button class="btn btn-icon" type="button" title="Remove">
												<span class="material-icons">clear</span>
											</button>
										</div>
									</div>
									<div class="question-options-actions">
										<button class="btn btn-outline-secondary" type="button">
											Add Option
										</button>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="txtExplanation">Explanation</label>
								<div class="form-control textarea">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
								</div>
							</div>
							<div class="form-group">
								<label for="txtTerms">Associated Terms</label>
								<input class="form-control block" type="text" id="txtTerms" placeholder="Enter associated terms...">
							</div>
							<div class="form-group">
								<label for="selDiffLevel">Difficulty Level</label>
								<select class="form-control" id="selDiffLevel">
									<option>Select Difficulty Level</option>
									<option>1-Basic</option>
									<option>2-Intermediate</option>
									<option>3-Advanced</option>
								</select>
							</div>
							<div class="form-group">
								<label for="selSchool">School</label>
								<select class="form-control" id="selSchool">
									<option>Select school</option>
									<option>Admiralty Primary School</option>
									<option>Ai Tong School</option>
									<option>Ang Mo Kio Primary School</option>
									<option>Bedok Green Primary School</option>
								</select>
							</div>
							<div class="form-group">
								<label for="selYear">Year</label>
								<select class="form-control" id="selYear">
									<option>Select year</option>
									<option>2018</option>
									<option>2017</option>
									<option>2016</option>
									<option>2015</option>
								</select>
							</div>
						</form>
						<hr/>
						<div class="question-actions">
							<button class="btn btn-secondary" type="button">
								Done
							</button>
							<button class="btn btn-outline-secondary" type="button">
								Cancel
							</button>
						</div>
					</div>
				</div>
				<div class="test-actions">
					<div class="btn-group">
						<button class="btn btn-outline-secondary" type="button">
							Add Question
						</button>
						<button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Single Response MCQ</a>
							<a class="dropdown-item" href="#">Multiple Reponse MCQ</a>
							<a class="dropdown-item" href="#">True/False Qn</a>
							<a class="dropdown-item" href="#">Short-Ans Qn</a>
							<a class="dropdown-item" href="#">Open-Ended Qn</a>
						</div>
					</div>
					<button class="btn btn-outline-secondary" type="button">
						Add Section
					</button>
					<button class="btn btn-outline-secondary" type="button">
						Import Question
					</button>
					<button class="btn btn-outline-secondary" type="button">
						Import Question
					</button>
				</div>
				<hr/>
				<div class="step-actions">
					<button class="btn btn-outline-secondary" type="button">Back</button>
					<button class="btn btn-secondary" type="button">Finish</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('select').selectpicker({width: false});

		tinymce.init({
			selector: '.form-control.textarea',
			inline: true,
			menubar: false,
			statusbar: false,
			plugins: [
				'advlist autolink lists link image charmap print preview anchor textcolor',
				'searchreplace visualblocks code fullscreen',
				'insertdatetime media table contextmenu paste code help autoresize'
			],
			toolbar1: 'insert | undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify',
			toolbar2: 'bullist numlist outdent indent | removeformat | help'
		});

		$('.wizard-actions .btn-outline-secondary').on('click', function(e) {
			location.href = '/tests';
		});

		$('.wizard-actions .btn-secondary').on('click', function(e) {
			location.href = '/tests/create/2';
		});
	});
</script>
