<div class="app-content">
	<div class="accordion" id="createTest">
		<div class="wizard-step">
			<div class="step-header">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#testSetup">
					Step 1. Test Setup
				</button>
			</div>
			<div id="testSetup" class="collapse show" data-parent="#createTest">
				<form class="step-content">
					<div class="form-group">
						<label for="txtTitle">Title</label>
						<input class="form-control" type="text" id="txtTitle" placeholder="Enter test title...">
					</div>
					<div class="form-group">
						<label for="selSubject">Subject</label>
						<select class="form-control" id="selSubject">
							<option>Select Subject</option>
							<option>Arts & Crafts</option>
							<option>Chinese</option>
							<option>English</option>
							<option>Mathematics</option>
							<option>Science</option>
						</select>
					</div>
					<div class="form-group">
						<label for="selLevel">Level</label>
						<select class="form-control" id="selLevel">
							<option>Select Level</option>
							<option>Primary 1</option>
							<option>Primary 2</option>
							<option>Primary 3</option>
							<option>Primary 4</option>
							<option>Primary 5</option>
							<option>Primary 6</option>
						</select>
					</div>
					<div class="form-group">
						<label for="selSchool">School</label>
						<select class="form-control" id="selSchool">
							<option>Select school</option>
							<option>Admiralty Primary School</option>
							<option>Ai Tong School</option>
							<option>Ang Mo Kio Primary School</option>
							<option>Bedok Green Primary School</option>
						</select>
					</div>
					<div class="form-group">
						<label for="selYear">Year</label>
						<select class="form-control" id="selYear">
							<option>Select year</option>
							<option>2018</option>
							<option>2017</option>
							<option>2016</option>
							<option>2015</option>
						</select>
					</div>
					<div class="form-group">
						<label for="txtPassingCriteria">Passing Criteria (%)</label>
						<input class="form-control xsmall" type="text" id="txtPassingCriteria">
					</div>
				</form>
				<div class="step-actions">
					<button class="btn btn-outline-secondary" type="button">Cancel</button>
					<button class="btn btn-secondary" type="button">Next</button>
				</div>
			</div>
		</div>
		<div class="wizard-step">
			<div class="step-header">
				<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#testSetup">
					Step 2. Questions Setup
				</button>
			</div>
			<div id="testSetup" class="collapse" data-parent="#createTest">
				<div class="step-content">
					<div class="section">
						<div class="section-header">
							<h6 class="section-title">Section A</h6>
							<div class="section-actions">
							<button class="btn btn-icon" type="button" title="Edit">
								<span class="material-icons">edit</span>
							</button>
							<button class="btn btn-icon" type="button" title="Delete">
								<span class="material-icons">delete</span>
							</button>
							</div>
						</div>
						<div class="section-instructions">
							Answer all questions.
						</div>
					</div>
				</div>
				<div class="step-actions">
					<button class="btn btn-outline-secondary" type="button">Back</button>
					<button class="btn btn-secondary" type="button">Finish</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('select').selectpicker({width: 'auto'});

		$('.wizard-actions .btn-outline-secondary').on('click', function(e) {
			location.href = '/tests';
		});

		$('.wizard-actions .btn-secondary').on('click', function(e) {
			location.href = '/tests/create/2';
		});
	});
</script>
