<div class="app-content app-content-fluid">
	<div class="navbar">
		<button class="btn btn-icon btn-drawer" type="button">
			<span class="material-icons">menu</span>
		</button>
		<div class="navbar-text">
			Test Builder
		</div>
	</div>
	<div class="drawer">
		<div class="panel panel-side">
			<div class="header">
				<h6 class="header-text">
					Test Builder
				</h6>
			</div>
			<ul class="nav" id="navSide">
				<li class="nav-item">
					<a class="nav-link active" href="#">
						My Tests
					</a>
				</li
				<li class="nav-item">
					<a class="nav-link" href="#">
						Shared with Me
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Shared by Me
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Track by Tests
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Track by Groups
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Test Bank
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="toolbar">
			<div class="btn-actions">
				<div class="btn-group">
					<a class="btn btn-secondary" href="/tests/create">Create</a>
					<a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">
						<span class="sr-only">Toggle Dropdown</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Test</a>
						<a class="dropdown-item" href="#">Test from file</a>
					</div>
				</div>
				<button class="btn btn-outline-secondary" type="button">Assign</button>
				<div class="btn-group">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Action</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Edit</a>
						<a class="dropdown-item" href="#">Duplicate</a>
						<a class="dropdown-item" href="#">Delete</a>
						<a class="dropdown-item" href="#">Share</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Export</a>
						<a class="dropdown-item" href="#">Add to My Course</a>
					</div>
				</div>
			</div>
		</div>
		<form class="filter-table">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Search test...">
				<div class="input-group-append">
					<button class="btn btn-icon" type="button">
						<span class="material-icons">search</span>
					</button>
				</div>
			</div>
			<select class="form-control">
				<option>All Subjects</option>
				<option>Arts & Crafts</option>
				<option>Chinese</option>
				<option>English</option>
				<option>Mathematics</option>
				<option>Science</option>
			</select>
			<select class="form-control">
				<option>All Levels</option>
				<option>Primary 1</option>
				<option>Primary 2</option>
				<option>Primary 3</option>
				<option>Primary 4</option>
				<option>Primary 5</option>
				<option>Primary 6</option>
			</select>
			<select class="form-control">
				<option>All Streams</option>
			</select>
			<button class="btn btn-icon" type="button" title="Reset">
				<span class="material-icons">replay</span>
			</button>
		</form>
		<table class="table" style="width: 100%;">
			<thead>
				<tr>
					<th class="checkbox">
						<input type="checkbox"/>
					</th>
					<th>Title</th>
					<th>Subject</th>
					<th>Level</th>
					<th>Owner</th>
					<th>Last Modified</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P6 - 2 - Vocalbulary Cloze</a>
					</td>
					<td>English</td>
					<td>Primary 6</td>
					<td>6PEL</td>
					<td>25 Jan 2018</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P6 - 1 - Vocalbulary Cloze</a>
					</td>
					<td>English</td>
					<td>Primary 6</td>
					<td>6PEL</td>
					<td>20 Jan 2018</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P5 - 4 - Vocalbulary MCQ</a>
					</td>
					<td>English</td>
					<td>Primary 5</td>
					<td>5PEL</td>
					<td>18 Jan 2018</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P5 - 4 - Punctuation MCQ</a>
					</td>
					<td>English</td>
					<td>Primary 5</td>
					<td>5PEL</td>
					<td>18 Jan 2018</td>
					<td></td>
				</tr>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P5 - 3 - Vocalbulary MCQ</a>
					</td>
					<td>English</td>
					<td>Primary 5</td>
					<td>5PEL</td>
					<td>18 Jan 2018</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('select').selectpicker({ width: 'auto' });
		$('.btn[title]').tooltip({
			delay: { show: 500, hide: 50 }
		});

		$('.table').DataTable({
			language: {
				info: '_START_-_END_ of _TOTAL_',
				infoEmpty: 'No records found.',
				lengthMenu: 'Records per page _MENU_',
				paginate: {
					next: 'chevron_right',
					previous: 'chevron_left'
				}
			},
			columns: [
				{ orderable: false, responsivePriority: 1 },
				{ width: '30%', responsivePriority: 2 },
				{ responsivePriority: 6 },
				{ responsivePriority: 5 },
				{ responsivePriority: 4 },
				{ responsivePriority: 3 },
				{ className: 'control', orderable: false, responsivePriority: 1 }
			],
			dom: 'rt<"bottom"ip>',
			order: [[5, 'desc']],
			pagingType: 'simple',
			responsive: {
				details: {
					type: 'column',
					target: -1
        }
			}
		});
	});
</script>
