<div class="app-content app-content-fluid">
	<div class="drawer">
		<div class="panel">
			<div class="header">
				<h6 class="header-text">
					Test Builder
				</h6>
			</div>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="/tests">
						My Tests
					</a>
				</li
				<li class="nav-item">
					<a class="nav-link" href="#">
						Shared with Me
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Shared by Me
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="#">
						Track by Tests
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Track by Groups
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						Test Bank
					</a>
				</li>
			</ul>
		</div>
		<div class="panel">
			<div class="header">
				<h6 class="header-text">
					Home
				</h6>
			</div>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#">My Assignments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">National Library Board - eResources</a>
				</li>
			</ul>
		</div>
		<div class="panel">
			<div class="header">
				<h6 class="header-text">
					Collaboration
				</h6>
			</div>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">E-Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Podcast</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Wiki</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Media Gallery</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Social Learning Wall</a>
				</li>
			</ul>
		</div>
		<div class="panel">
			<div class="header">
				<h6 class="header-text">
					My Tools
				</h6>
			</div>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Lesson Builder</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Registration Form</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Online Survey</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Rubrics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Show And Tell</a>
				</li>
			</ul>
		</div>
		<div class="panel">
			<div class="header">
				<h6 class="header-text">
					School Admin
				</h6>
			</div>
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Badges</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">User Admin</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="panel panel-side d-md-none d-lg-block">
		<div class="header">
			<h6 class="header-text">
				Test Builder
			</h6>
			<button class="btn btn-icon" type="button" data-toggle="collapse" data-target="#navSide">
				<span class="material-icons">arrow_drop_down</span>
			</button>
		</div>
		<ul class="nav collapse" id="navSide">
			<li class="nav-item">
				<a class="nav-link" href="/tests">
					My Tests
				</a>
			</li
			<li class="nav-item">
				<a class="nav-link" href="#">
					Shared with Me
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					Shared by Me
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="#">
					Track by Tests
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					Track by Groups
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">
					Test Bank
				</a>
			</li>
		</ul>
	</div>
	<br/>
	<div class="content">
		<div class="toolbar">
			<div class="btn-actions">
				<div class="btn-group">
					<a class="btn btn-secondary" href="/tests/create">Create</a>
					<a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">
						<span class="sr-only">Toggle Dropdown</span>
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Test</a>
						<a class="dropdown-item" href="#">Test from file</a>
					</div>
				</div>
				<button class="btn btn-outline-secondary" type="button">Assign</button>
				<div class="btn-group">
					<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown">Action</button>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Edit</a>
						<a class="dropdown-item" href="#">Duplicate</a>
						<a class="dropdown-item" href="#">Delete</a>
						<a class="dropdown-item" href="#">Share</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Export</a>
						<a class="dropdown-item" href="#">Add to My Course</a>
					</div>
				</div>
			</div>
			<form class="form-search">
				<div class="input-group">
					<input class="form-control" type="text" placeholder="Search test...">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button">
							<span class="material-icons">search</span>
						</button>
					</div>
				</div>
			</form>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th class="checkbox">
						<input type="checkbox"/>
					</th>
					<th>Title</th>
					<th>Subject</th>
					<th>Level</th>
					<th>Owner</th>
					<th>Last Modified</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P6 - 2 - Vocalbulary Cloze</a>
					</td>
					<td>English</td>
					<td>Primary 6</td>
					<td>6PEL</td>
					<td>25 Jan 2018</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P6 - 1 - Vocalbulary Cloze</a>
					</td>
					<td>English</td>
					<td>Primary 6</td>
					<td>6PEL</td>
					<td>20 Jan 2018</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P5 - 4 - Vocalbulary MCQ</a>
					</td>
					<td>English</td>
					<td>Primary 5</td>
					<td>5PEL</td>
					<td>18 Jan 2018</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P5 - 4 - Punctuation MCQ</a>
					</td>
					<td>English</td>
					<td>Primary 5</td>
					<td>5PEL</td>
					<td>18 Jan 2018</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox"/>
					</td>
					<td>
						<a href="#">P5 - 3 - Vocalbulary MCQ</a>
					</td>
					<td>English</td>
					<td>Primary 5</td>
					<td>5PEL</td>
					<td>18 Jan 2018</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		$.fn.dataTable.ext.classes.sWrapper = 'dataTables_wrapper table-wrapper';
		$.fn.dataTable.ext.classes.sLength = 'dataTables_length length';
		$.fn.dataTable.ext.classes.sInfo = 'dataTables_info info';
		$.fn.dataTable.ext.classes.sPaging = 'dataTables_paginate paging paging_';
		
		$('.table').DataTable({
			language: {
				info: '_START_-_END_ of _TOTAL_',
				infoEmpty: 'No records found.',
				lengthMenu: 'Records per page _MENU_',
				paginate: {
					next: 'chevron_right',
					previous: 'chevron_left'
				}
			},
			columns: [
				{ orderable: false },
				null,
				null,
				null,
				null,
				null
			],
			dom: 'rt<"bottom"lip>',
			order: [[5, 'desc']],
			lengthMenu: [
				[10, 20, 30, 50, 100],
				[10, 20, 30, 50, 100]
			],
			pagingType: 'simple'
		});
	});
</script>
